<div class="why-curaline">
    <div class="container">
        <div class="data-wrap">
            <div class="widget-with-thumbnail">
                <div class="widget-item-text">
                    <div class="sub-title">
                        <h3><b>Who is CuraLin for?</b></h3>
                        <div class="description-overlay">
                            <h4>
                                People watching their blood sugar who want to:
                            </h4>
                        </div>
                    </div>

                    <div class="widget-thumbnail-item">
                        <img src="{{ 'lp-aio-cura-rest.png' | file_url }}" alt="">
                    </div>

                    <div class="informer-list">
                        <ul>
                            <li>Sleep well</li>
                            <li>Enjoy their food</li>
                            <li>Have high energy</li>
                            <li>Support a healthy digestion</li>
                            <li>Maintain healthy glucose metabolism</li>
                            <li>Lose a healthy amount of weight</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>