<div class="testimonials-section">
    <div class="container">
        <div class="data-wrap">
            <div class="testimonials_mainpanel">
                <div class="testimonials-video_part">
                    <div class="testimonials_iframe">
                        <lite-vimeo videoid="384752311" videoplay="Mirar"></lite-vimeo>
                    </div>
                    <div class="iframe_overlay">
                        <!--<div class="iframe-name">
            <h3>
              Dr. Sarah Brewer
            </h3>
          </div>
          <div class="iframe-description">
            <p>
              Functional doctor, diabetes expert, and author of over 60 books on personal health.
            </p>
          </div>-->
                    </div>
                </div>
                <div class="close-player"></div>
                <div class="testimonials-description">
                    <div class="testimonials-headline">
                        <h2>
                            In the cases I've seen, patients typically start to
                            <span>experience results within the first few days</span>
                            when starting CuraLin.
                        </h2>
                    </div>
                    <div class="testimonials-username">
                        <p>
                            Dr. Sarah Brewer
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>