<div class="trusted-doctors">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3><b>Trusted by 700+ Doctors</b></h3>
                <div class="description-overlay">
                    <h4>
                        Over 700 doctors and pharmacists recommend CuraLin to their patients. These include top
                        endocrinologists and faculty members of medical universities. Many of these doctors also
                        take
                        CuraLin themselves! Here are just a few of the doctors working with CuraLin:
                    </h4>
                </div>
            </div>
            <div class="doctors-boxes-wrapper">

                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                                <img src="{{ 'lp-aio-michel.png' | file_url}}" alt="">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>Dr. Michael Binder</h4>
                            <p>Functional doctor, author of Cracking The Diabetic Code.</p>
                        </div>
                    </div>
                </div>

                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                                <img src="{{ 'lp-aio-nancy.png' | file_url}}" alt="">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>Dr. Nancy Russell</h4>
                            <p>Internal Medicine Specialist, North Kansas City Hospital</p>
                        </div>
                    </div>
                </div>

                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                                <img src="{{ 'lp-aio-raz.png' | file_url}}" alt="">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>Prof. Itamar Raz</h4>
                            <p>World renouned diabetes expert with over 400 published peer-reviewed studies.</p>
                        </div>
                    </div>
                </div>

                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                                <img src="{{ 'lp-aio-sarah.png' | file_url}}" alt="" width="234" height="234">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>Dr. Sarah Brewer</h4>
                            <p>Functional doctor, diabetes expert, and author of over 60 books on personal
                                health.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
