<section class="life-changes">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-titles">
                <h3>How CuraLin Changed Our Life</h3>
            </div>
            <div class="video-wrapper">
                <div class="video-block-item-overlay-col">
                    <div class="video-block-item">
                        <div class="video-player">
                            <iframe src="https://player.vimeo.com/video/770733369?h=fd73eeaa72&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="compliant_-_d&#039;gaye_curalin_testimonial (1080p).mp4"></iframe>
                        </div>
                        <div class="close-player"></div>

                        <div class="video-headline">
                            <p>CuraLin sounded too good to be true. But it works. Oh man, it works.</p>
                        </div>
                    </div>
                </div>

                <div class="video-block-item-overlay-col">
                    <div class="video-block-item">
                        <div class="video-player">
                            <iframe src="https://player.vimeo.com/video/770743565?h=f39297466f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="compliant_-_Denise_CuraLin_Testimony.mp4"></iframe>
                        </div>
                        <div class="close-player"></div>

                        <div class="video-headline">
                            <p>Curalin has really helped me. It’s a wonderful tool in my toolbox</p>
                        </div>
                    </div>
                </div>

                <div class="video-block-item-overlay-col">
                    <div class="video-block-item">
                        <div class="video-player">
                            <iframe src="https://player.vimeo.com/video/662207384?h=d512ec6cd1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="C - Jo R Testimonial"></iframe>
                        </div>
                        <div class="close-player"></div>

                        <div class="video-headline">
                            <p>From the first bottle it has been amazing. I feel rewarded for my hard work</p>
                        </div>
                    </div>
                </div>

                <div class="video-block-item-overlay-col">
                    <div class="video-block-item">
                        <div class="video-player">
                            <lite-vimeo videoid="672291614" videoplay="Mirar"></lite-vimeo>
                        </div>
                        <div class="close-player"></div>

                        <div class="video-headline">
                            <p>Thank you CuraLin, I so appreciate the supplement. It’s really radically changed my
                                life.</p>
                        </div>
                    </div>
                </div>

                <div class="video-block-item-overlay-col">
                    <div class="video-block-item">
                        <div class="video-player">
                            <lite-vimeo videoid="672291580" videoplay="Mirar"></lite-vimeo>
                        </div>
                        <div class="close-player"></div>

                        <div class="video-headline">
                            <p>It’s completely changed my life. <br> Thank you, CuraLin.</p>
                        </div>
                    </div>
                </div>

                <div class="video-block-item-overlay-col">
                    <div class="video-block-item">
                        <div class="video-player">
                            <lite-vimeo videoid="672317874" videoplay="Mirar"></lite-vimeo>
                        </div>
                        <div class="close-player"></div>

                        <div class="video-headline">
                            <p>I I thought ‘well, let’s give it a try’. And I did. And I was amazed. My doctor was totally amazed.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="survey-button">
                <button class="btn-cta" onclick="LinkToProduct(this, '/products/curalin-pack-holidays2022')"><b>Yes,</b> I want to try CuraLin<br>for glucose support</b>
            </div>
        </div>
    </div>
</section>


<style>
    .life-changes .survey-button {
      margin-bottom: 4.1875rem;
      text-align: center;
      margin: 80px 0 0
    }
    
    .life-changes h3 {
        font-size: 2.5rem;
        font-weight: 600;
    }


    @media screen and (max-width: 760px) {
        .life-changes h3 {
            font-size: 1.5rem;
        }

        .life-changes .survey-button {
            margin-bottom: 30px;
            margin-top: 30px;
        }

    }
</style>