<div class="body-formula">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3><b>10 Years of research</b> <span>identifies</span><br>
                    18 key body functions formula</h3>
            </div>
            <div class="formula-wrapper">
                <div class="formula-image">
                    <picture>
                        <source srcset="{{ 'lp-aio-humen-body.png' | file_url}}" media="(min-width: 641px)">
                        <source srcset="{{ 'lp-aio-humen-body-mb.png' | file_url}}">
                        <img srcset="{{ 'lp-aio-humen-body-mb.png' | file_url}}" alt="">
                    </picture>
                </div>
                <div class="formula-text">
                    <p>A good glucose support supplement is both effective and holistic. Here, CuraLin sets a new
                        standard for innovation.</p>

                    <p>Unlike other formulas, CuraLin targets a holistic set of <strong>18 cellular functions so
                            that
                            your body can NATURALLY</strong> keep your blood sugar healthy.</p>

                    <p>Your body naturally burns glucose to power your life. Many cellular processes work together
                        for
                        this to happen. <strong>These include insulin secretion and sensitivity,</strong> plus
                        functions
                        in your pancreas, liver, spleen, and muscles. CuraLin’s doctor developed formula targets
                        these
                        processes together.</p>

                    <p>The 10 years of innovation and research it took to create this holistic formula are yours to
                        enjoy in every capsule of CuraLin. <strong>Now your body can keep doing what it
                            loves...</strong> Keeping your healthy, happy and active.</p>


                </div>
            </div>

        </div>
    </div>
</div>