<div class="meet-curalin" id="meet-curalin">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3><b>Meet CuraLin.</b>
                    Blood sugar support made for you...</h3>
            </div>

            <div class="curalin-intro">
                {% for meetCuralin in meetCuralins %}
                <div class="curaline-widget-item">
                    <div class="curaline-widget-icon">
                        <img src="{{ meetCuralin | file_url | split: "*" | first }}" alt="">
                    </div>
                    <div class="curaline-widget-text">
                        <h4>{{ meetCuralin | split: "*" | last | split: ":" | first }}</h4>
                        <p>{{ meetCuralin | split: "*" | last | split: ":" | last }}</p>
                    </div>
                </div>
            {% endfor %}
                <div class="curaline-brandmark">
                    <img src="{{ 'lp-aio-brand-mark.png' | file_url}}" alt="">
                </div>

            </div>

        </div>
    </div>
</div>


<style>
    

    
</style>