<div class="natural-ingredients">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3><b>All Natural Ingredients</b></h3>
                <div class="description-overlay">
                    <h4>
                        Support your body without chemicals or synthetics
                    </h4>
                </div>
            </div>
            <div class="natural-ingredients_mainpanel">
                <div class="ingredients_mainpanel-img">
                    <img src="{{ 'lp-aio-capsula.png' | file_url}}" width="676" height="203" alt="">
                    <div class="ingredients_mainpanel-img_notice">
                        *consult your doctor before taking CuraLin
                    </div>
                </div>
                <div class="ingredients-mainpanel">
                    {% for natural_ingredient in natural_ingredients %}
                    <div class="ingredients-mainpanel_card">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ natural_ingredient | split: ':' | first | file_url }}" height="59" width="58" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>{{ natural_ingredient | split: ':' | last }}</p>
                        </div>
                    </div>
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
</div>