<div class="natural-ingredients">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3><b>All Natural Ingredients</b></h3>
                <div class="description-overlay">
                    <h4>
                        Support your body without chemicals or synthetics
                    </h4>
                </div>
            </div>
            <div class="natural-ingredients_mainpanel">
                <div class="ingredients_mainpanel-img">
                    <img src="{{ 'lp-aio-capsula.png' | file_url}}" width="676" height="203" alt="">
                    <div class="ingredients_mainpanel-img_notice">
                        *consult your doctor before taking CuraLin
                    </div>
                </div>
                <div class="ingredients-mainpanel">
                    {% for natural_ingredient in natural_ingredients %}
                    <div class="ingredients-mainpanel_card">
                        <div class="card-icon_overlay">
                            <div class="card-icon">
                                <img src="{{ natural_ingredient | split: ':' | first | file_url }}" height="59" width="58" alt="">
                            </div>
                        </div>
                        <div class="card-description">
                            <p>{{ natural_ingredient | split: ':' | last }}</p>
                        </div>
                    </div>
                    {% endfor %}  
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    
    .natural-ingredients {
      width: 100%;
      max-width: 100%;
      padding-bottom: 3.3125rem;
      padding-top: 4.9375rem;
      text-align: center
    }

    .natural-ingredients .survey-button {
      margin-bottom: 4.1875rem
    }

    
    .natural-ingredients .sub-title {
      text-align: center
    }

    .natural-ingredients .description-overlay {
      margin-left: auto;
      margin-right: auto
    }

    .ingredients_mainpanel-img {
      max-width: 41.875rem;
      width: 48.9%;
      margin-top: 7.25rem
    }

    @media screen and (max-width: 991px) {
        .natural-ingredients {
          padding-bottom: 2.8125rem;
          padding-top: 2.1875rem
        }

        
        .btn-cta {
            max-width: 29.0625rem;
            font-size: 1.375rem
          }

          .floating-cta .btn-cta {
            max-width: 15.625rem;
            font-size: 1.875rem
          }

          .life-changes .survey-button,
          .natural-ingredients .survey-button {
            margin-bottom: 3.125rem
          }

          .ingredients_mainpanel-img_notice {
            font-size: .875rem;
            margin-top: 3.125rem;
            padding-left: 1.875rem
          }

          .card-icon_overlay {
            max-width: 4.375rem
          }

          .card-description {
            font-size: .875rem;
            margin-top: .625rem;
            padding: 0
          }

          .ingredients-mainpanel {
            margin: 3.125rem 0 0 -2.6875rem;
            padding-top: 0;
            width: calc(51.1% + 2.6875rem)
          }

          .ingredients_mainpanel-img {
            margin-top: 6.25rem
          }

          .ingredients-mainpanel_card {
            width: 33.3333333333%;
            margin-bottom: 0;
            padding: .5rem .625rem
          }
      
    }

    @media screen and (max-width: 760px){
        .natural-ingredients {
          padding-bottom: 1.125rem
        }

        .natural-ingredients .sub-title {
          padding-right: 2.1875rem;
          text-align: left
        }

        .natural-ingredients_mainpanel {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap
        }

        .ingredients_mainpanel-img {
          margin: 1.5rem -3.125rem 0 -.4375rem;
          width: calc(100% + 3.5625rem)
        }

        .ingredients_mainpanel-img_notice {
          font-size: .5rem;
          margin-top: 1.5625rem;
          padding-left: .5625rem
        }

        .ingredients-mainpanel {
          margin: 0 -15px;
          padding-top: 1.375rem;
          width: calc(100% + 1.875rem)
        }
      
      
    }

</style>