<div class="meet-curalin" id="meet-curalin">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3><b>Meet CuraLin.</b>
                    Blood sugar support made for you...</h3>
            </div>

            <div class="curalin-intro">
                {% for meetCuralin in meetCuralins %}
                <div class="curaline-widget-item">
                    <div class="curaline-widget-icon">
                        <img src="{{ meetCuralin | file_url | split: "*" | first }}" alt="">
                    </div>
                    <div class="curaline-widget-text">
                        <h4>{{ meetCuralin | split: "*" | last | split: ":" | first }}</h4>
                        <p>{{ meetCuralin | split: "*" | last | split: ":" | last }}</p>
                    </div>
                </div>
            {% endfor %}
                <div class="curaline-brandmark">
                    <img src="{{ 'lp-aio-brand-mark.png' | file_url}}" alt="">
                </div>

            </div>

        </div>
    </div>
</div>


<style>
    .meet-curalin .data-wrap {
      padding: 0 1.5rem
    }

    .meet-curalin .sub-title h3 {
      font-weight: 400
    }

    .meet-curalin .sub-title b {
      width: 100%;
      max-width: 100%;
      display: flex;
    }

    @media screen and (max-width: 760px) {
        .meet-curalin .sub-title h3 {
           font-size: 7vw;
           line-height: unset;
       } 
    }
</style>