<div class="satisfaction-survey">
    <div class="satisfaction-survey-bg">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3><b>Satisfaction Survey</b> of CuraLin Customers</h3>
                </div>
                <div class="success-list">
                    <ul>
                        <li>
                            <div class="percentage">
                                <p><span data-count="88.5">0</span>%</p>
                            </div>
                            <div class="title">
                                <h4>Are satisfied with CuraLin</h4>
                            </div>
                            <div class="line">
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <div class="percentage">
                                <p><span data-count="98.1">0</span>%</p>
                            </div>
                            <div class="title">
                                <h4>Feel safe using CuraLin</h4>
                            </div>
                            <div class="line">
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <div class="percentage">
                                <p><span data-count="84">0</span>%</p>
                            </div>
                            <div class="title">
                                <h4>Saw a big impact in their lives</h4>
                            </div>
                            <div class="line">
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <div class="percentage">
                                <p><span data-count="89">0</span>%</p>
                            </div>
                            <div class="title">
                                <h4>Would recommend CuraLin to a friend</h4>
                            </div>
                            <div class="line">
                                <span></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="data-wrap">
            <div class="survey-button">
                <button class="btn-cta" onclick="LinkToProduct(this, '/products/curalin-pack-holidays2022')"><b>Yes,</b> I want to try CuraLin <br>
                    for glucose support</button>
            </div>
        </div>
    </div>
</div>

<style>
    .satisfaction-survey .success-list ul li .line span {
        background: linear-gradient(90.05deg, #DCEFEB 0%, #1F8B8D 100%);
    } 

</style>