<div class="floating-cta">
    <button class="btn-cta" onclick="LinkToProduct(this, '/products/curalin-pack-holidays2022')">Try CuraLin</button>
</div>

<style>
    .btn-cta {
        border: none;
        background: #4B643D;
        color: white;
        font-weight: 400;
    }

    .btn-cta:hover {
        background: #314227;
    }

    @media screen and (max-width: 760px) {
        .floating-cta .btn-cta {
            max-width: calc(100vw - 40px);
        }

    }
</style>