{% if shop.name == "CuraLife Global" %}
  {% assign linkAdd = '/collections/all' %}
{% elsif shop.name == "CuraLife" %}
  {% assign linkAdd = '/products/curalin-pack' %}
{% endif %}

<div class="floating-cta">
    <button class="btn-cta" onclick="LinkToProduct(this, '{{ linkAdd }}')">Try CuraLin</button>
</div>

<!-- Floating CTA & btn General Theme Style -->
<style>
  .btn-cta {
    border: none;
    background: var(--dark-green);
    color: white;
    font-weight: 400;
    padding: 30px 60px;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: 0 10px 20px #0000004d;
    transition: all var(--transition);
  }

  .btn-cta b {
    font-weight: 700;
  }

  .btn-cta:hover {
    background: var(--darker-green);
  }

  .floating-cta {
    position: fixed;
    left: 20px;
    right: 0;
    bottom: 1.25rem;
    z-index: 20;
    pointer-events: none;
    transition: opacity var(--transition), visibility var(--transition)
  }

  .floating-cta .btn-cta {
    max-width: 18.375rem;
    font-size: 2.5rem;
    pointer-events: auto
  }

  .floating-cta:not(.show) {
    opacity: 0;
    visibility: hidden
  }

  .floating-cta:not(.show) .btn-cta {
    pointer-events: none
  }

  @media screen and (max-width: 991px) {
    .btn-cta {
      max-width: 29.0625rem;
      font-size: 1.375rem
    }

    .floating-cta .btn-cta {
      max-width: 15.625rem;
      font-size: 1.875rem
    }
  }

  @media screen and ( max-width: 768px) {

    .btn-cta {
      max-width: 19.25rem;
      padding: .5625rem .625rem;
      font-size: 1.125rem;
      font-weight: 400
    }

    .btn-cta b {
      font-weight: 700
    }
  }
</style>

  <!-- Floating CTA Style -->
<style>
      .btn-cta {
          border: none;
          background: {% if regColor %}#FDD246 {% else %} var(--dark-green) {% endif %};
          color: {% if regColor %}black {% else %}white {% endif %} ;
          font-weight: 400;
      }

      .btn-cta:hover {
          background: {% if regColor %}#e6bb2c {% else %} #314227 {% endif %};
      }

      @media screen and (max-width: 768px) {

        .floating-cta {
          text-align: left
        }

        .floating-cta .btn-cta {
          font-weight: 600;
          border-radius: .625rem
        }

          .floating-cta .btn-cta {
              max-width: calc(100vw - 40px);
          }

      }
</style>


<script>
  function LinkToProduct(element, url) {
    woopra.track('Click CTA', {
      button_title: element.innerText
    });

    window.location.href = url;
  }

  const get_utm = window.location.search.substring(1);
  if (get_utm) {
    let product_link = document.querySelectorAll('.btn-cta, .floating-cta .btn-cta');
    window.onload = function () {
      for (let i = 0; i < product_link.length; i++) {
        product_link[i].href = product_link[i].href + "?" + get_utm
      }
    }
  }
</script>
