<div class="trusted-doctors">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title">
                <h3><b>Trusted by 700+ Doctors</b></h3>
                <div class="description-overlay">
                    <h4>
                        Over 700 doctors and pharmacists recommend CuraLin to their patients. These include top
                        endocrinologists and faculty members of medical universities. Many of these doctors also
                        take
                        CuraLin themselves! Here are just a few of the doctors working with CuraLin:
                    </h4>
                </div>
            </div>
            <div class="doctors-boxes-wrapper">
           {% for doctor in doctors %}
                <div class="doctor-box-col">
                    <div class="doctor-item-box">
                        <div class="doctor-thumbnail">
                            <span>
                                <img src="{{ doctor | file_url | split: "*" | first }}" alt="">
                            </span>
                        </div>
                        <div class="doctor-informative">
                            <h4>{{ doctor | split: "*" | last | split: ":" | first }}</h4>
                            <p>{{ doctor | split: "*" | last | split: ":" | last }}</p>
                        </div>
                    </div>
                </div> 
            {% endfor %}
            </div>
        </div>
    </div>
</div>


<style>
    .doctor-informative {
      margin-top: 1.5625rem;
      padding-top: 1.375rem;
      position: relative
    }

    .doctor-informative:after {
      content: "";
      position: absolute;
      background: #C78263;
      width: 100%;
      height: 1px;
      max-width: 6.5625rem;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%)
    }

    .doctor-informative h4 {
      font-weight: 700;
      font-size: 1.3125rem;
      line-height: 1.57;
      letter-spacing: -.3px;
      color: #000;
      margin: 0
    }

    .doctor-informative p {
      font-weight: 400;
      font-size: .8125rem;
      line-height: 1.35;
      margin: 0;
      color: #000
    }
    
</style>