<section id="bundles-section">
  {% if shop.name == "CuraLife" %}
    <h2>Everything you need to keep your blood sugar happy!</h2>
    <div class="icon-arrow"></div>

    {% render 'challenge-section' %}

    <i class="icofont-plus plus"></i>
  {% endif %}

  {% render 'curaeats-section' %}
</section>

<style>
  #bundles-section {
    font-size: 20px;
    padding: 50px 0;
  }

  #bundles-section h2 {
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-size: 48px;
    color: var(--dark-green);
    margin-bottom: 30px;
  }

  #bundles-section i.plus {
    color: var(--dark-green);
    font-size: 150px;
    position: absolute;
    z-index: 1;
    margin-top: -85px;
    left: calc(50% - 0.5em);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    line-height: unset !important;
  }

  #bundles-section .icon-arrow {
    display: flex;
    justify-content: center;
    color: var(--dark-green);
    font-size: 150px;
  }

  @media screen and (max-width: 768px) {
    #bundles-section {
      font-size: 5.4vw;
    }

    #bundles-section h2 {
      font-family: 'Poppins';
      font-size: 9vw;
      padding: 30px 0;
    }

    #bundles-section i.plus {
      font-size: 30vw;
      margin-top: -17vw;
    }

    #bundles-section .icon-arrow {
      font-size: 18vw;
    }
  }
</style>