<div class="certificate">
    <div class="container">
        <div class="certificate-wrap">
            <div class="certificate-sub-wrap"></div>
        </div>
    </div>
</div>






<style>

  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    margin:  20px auto;
    max-width: 578px;
    height: 820px;
    border: 11px solid #777778;
    background: #EFEFEF;
  }
 
 .certificate-sub-wrap{
    border: 5px dotted #A9A9A9;
    max-width: 538px;
    height: 780px;
    margin: 10px auto;
 }

  @media (max-width: 768px) {

   
  
  }


</style>