<div class="certificate">
    <div class="container">
        <div class="certificate-wrap">
            
              

             <div class="logo-wrapper">
                 <img src="{{ 'curalife-logo-dark-green.png' | asset_url }}" width="91" height="22" alt="">
             </div> 
           
        </div>
       
    </div>
</div>






<style>

  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    position: relative;
    margin: 50px auto;
    border: 11px solid #777778;
    background-image: url("{{ 'certificate-dotted-ornament.png' | asset_url }}");
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
  }

  .certificate-wrap img {
    padding: 10px;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
  }
 

  @media (max-width: 768px) {

   
  
  }


</style>