<div class="certificate">
    <div class="container">
        <div class="certificate-wrap">
            <div class="certificate-sub-wrap">
                <img src="{{ 'certificate-dotted-ornament.png' | asset_url }}" width="561" height="805" alt="">
            </div>
        </div>
    </div>
</div>






<style>

  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    margin:  50px auto;
    max-width: 578px;
    height: 820px;
    border: 11px solid #777778;
    background: #EFEFEF;
  }
 
 .certificate-sub-wrap{
    
 }

  @media (max-width: 768px) {

   
  
  }


</style>