<div class="certificate">
    <div class="container">
        <div class="certificate-wrap">
            
                <img src="{{ 'certificate-dotted-ornament.png' | asset_url }}" width="561" height="805" alt="">
           
        </div>
    </div>
</div>






<style>

  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    margin: 50px auto;
    border: 11px solid #777778;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
  }

  .certificate-wrap img {
    padding: 10px;
  }
 

  @media (max-width: 768px) {

   
  
  }


</style>