<div class="certificate">
    <div class="container">
        <div class="certificate-wrap">

        </div>
    </div>
</div>






<style>

  .container {
    max-width: 1000px;
  }

  .certificate-wrap {
    margin:  20px auto;
    width: 578px;
    height: 819px;
    border: 3px solid #777778;
    background: #EFEFEF;
  }
 


  @media (max-width: 768px) {

   
  
  }


</style>