<section id="curaeats-section">
  <div class="challange">
    <div class="container">
      <h3>30 Day Life Changing Program</h3>
      <p>There is a science to healthy blood sugar, and we’ve cracked it.<br><br>
      Together, we’ll help you kickstart a healthier, stronger, and more determined you... because you deserve health that lasts.<br><br>
      Let’s build good habits together. We’ll guide you every step of the way!</p>

      <img class="main-image" src="{{ 'curaeats-section-main-image.png' | asset_url }}" alt="" loading="lazy">

      {% assign features = "<b>Curalin</b> - clinically tested for blood sugar health
        |Tips on what to eat to nourish your body (and cravings 😉)
        |Easy exercise routines that you’ll love
        |A community of 100K+ people cheering you on and helping you out
        |24/7 unlimited access to Curalife’s customer success team" | split: "|" %}

      <div class="features">
        {% for feature in features %}
          <div class="feature">
            <div class="feature-icon"><i class="icofont-check"></i></div>
            <div class="feature-text">{{ feature | split: "|" | last }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="curaeats">

  </div>
</section>


<style>
  #curaeats-section .challange {
    background: #404733;
    color: white;
    padding: 30px 0;
    font-size: 20px;
    line-height: 1.2em;
  }

  #curaeats-section .challange .container {
    position: relative;
    padding: 0 100px;
  }

  #curaeats-section .challange h3 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
  }

  #curaeats-section .challange h3::before {
    background-image: url("{{ 'curaeats-section-title-decoration.svg' | asset_url }}");
  }

  #curaeats-section .challange p {
    max-width: 780px;
    margin-bottom: 50px;
  }

  #curaeats-section .challange .main-image {
    position: absolute;
    right: -100px;
    bottom: -50px;
  }

  .features {
    max-width: 415px;
    display: flex;
    flex-direction: column;
  }

  .features .feature {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
  }

  .features .feature .feature-icon {
    background: white;
    color: #404733;
    border-radius: 50%;
    min-width: 45px;
    height: 45px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  @media screen and (max-width: 768px) {
  }
</style>