{% render 'sparkles' %}

<div id="sale-banner">
  <p class="get-into-holiday">Get into the holiday spirit!</p>
</div>

<style>
  #sale-banner {
    background-color: #B5141F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
    padding-bottom: 50px;
  }

  #sale-banner .get-into-holiday {
    display: flex;
    justify-content: center;
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: clamp(30px, 5vw, 70px);
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    text-shadow: 2px 1px 4px #ffffff;
    margin: unset;
  }

  @media screen and (max-width: 760px) {
    #sale-banner .get-into-holiday {
      padding: 2vw;
    }
}
</style>

<script>
  $('.sale-banne').sparkle({
    size: 15,
    duration: 700,
    pause: 200
  });
  $('.sale-banne').sparkle({
    size: 20,
    duration: 1000,
    pause: 400
  });
  $('.sale-banne').sparkle({
    size: 30,
    duration: 1300,
    pause: 600
  });
  $('.sale-banne').sparkle({
    size: 40,
    duration: 1600,
    pause: 1000
  });
  $('.sale-banne').sparkle({
    size: 15,
    duration: 700,
    pause: 200
  });
  $('.sale-banne').sparkle({
    size: 20,
    duration: 1000,
    pause: 400
  });
  $('.sale-banne').sparkle({
    size: 30,
    duration: 1300,
    pause: 600
  });
  $('.sale-banne').sparkle({
    size: 40,
    duration: 1600,
    pause: 1000
  });
</script>