

<section id="curalin-benefits-section">
  <div class="container">
    <div class="curalin-titles">
      <h2>{{ product.metafields.custom.curalin_benefits_title }}</h2>
      <p class="curalin-subtitle">{{ product.metafields.custom.curalin_benefits_description }}</p>
    </div>
  </div>
</section>

<style>

 #curalin-benefits-section .container .curalin-titles h2 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 48px;
    color: #404733;
 }

  @media screen and (max-width: 768px) {
    #curalin-benefits-section .container .curalin-titles h2 {
        font-size: 8vw;
    }
    #curalin-benefits-section .container .curalin-titles .curalin-subtitle {
        font-size: 4vw;
    }

  }


</style>