
<div class="container">
    
      <div class="featured-products-new">
        <div class="new-featured-slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for experience in experienses %}
              
              <div class="swiper-slide">
                <div class="new-featured-card">
                <div class="new-featured-info">
                  <div class="new-featured-author">
                    <h3>{{ experience | split: "*" | last }}</h3>
                  </div>
                  <div class="new-featured-rating">
                    <p>
                      <span class="icon-star"></span>
                      <span class="icon-star"></span>
                      <span class="icon-star"></span>
                      <span class="icon-star"></span>
                      <span class="icon-star"></span>
                    </p>
                  </div>
                </div>
                    <p class="quoted-text">{{ experience | split: "*" | first }}</p>
               
                
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="slider-control">
              <div class="prev-slide2"><span class="icon-arrow"></span></div>
              <div class="next-slide2"><span class="icon-arrow"></span></div>
            </div>
          </div>
        </div>
      </div>
  </div> 
  
  <style>
  
  
  
    .mini-wrap {
     
    }
    .featured-products-new {
    
     
    }
    .new-featured-slider .swiper-slide.swiper-slide-active .new-featured-card  {
      top: 0;
      max-width: 60%;
      background: unset;
      box-shadow: unset;
    }
  
    .new-featured-card {
      background: unset;
    }
    .new-featured-slider .slider-control {
      justify-content: space-between;
    }
    .new-featured-card .new-featured-info .new-featured-rating p span {
     
      color: var(--light-green);
    }
  
    .new-featured-slider .prev-slide2 {
      background: unset;
    }
  
    .new-featured-slider .prev-slide2:hover {
      background: unset;
    }
  
  
    .new-featured-slider .next-slide2 {
      background: unset;
    }
  
    .new-featured-slider .next-slide2:hover {
      background: unset;
     
    }
  
    .new-featured-slider .prev-slide2 span {
      font-size: 22px;
      background: unset;
    }
  
    .new-featured-slider .next-slide2 span {
      font-size: 22px;
      background: unset;
    }
  
    .quoted-text {
      font-family: 'DM Sans';
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #424733;
    }
  
    @media screen and (max-width: 768px) {
  
    .featured-products-new {
      width: 100%;
    }
  
      .mini-wrap {
        width: 100%;
      }
      .new-featured-slider .swiper-slide.swiper-slide-active .new-featured-card {
        max-width: 80%;
      }
  
      .new-featured-slider .slider-control {
         position: relative;
         top:-120px;
      }
  
     
    } 
  
  @media screen and (max-width: 629px) {
    .quoted-text {
      font-size: 3vw;
      line-height: unset;        
    }
  }
  
  </style>
  
  
   <script>
    quoteSlider = new Swiper(".new-featured-slider .swiper", {
      slidesPerView: 4,
      spaceBetween: 0,
      grabCursor: true,
      loop: true,
      navigation: {
        nextEl: ".next-slide2",
        prevEl: ".prev-slide2",
        disabledClass: 'disabled'
      },
      breakpoints: {
        0: {
          slidesPerView: 1
        },
        768: {
          slidesPerView: 1,
          centeredSlides: false
        },
        992: {
          slidesPerView: 4,
          centeredSlides: true
        }
      }
    });
  </script> 
  