
<div class="container">
  <div class="reviews">
    <div class="review-slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for experience in experienses %}
            <div class="swiper-slide">
              <div class="review-card">
                <div class="info">
                  <div class="review-author">
                    <h3>{{ experience | split: "*" | last }}</h3>
                  </div>
                  <div class="review-rating">
                    <p>
                      <span class="icon-star"></span>
                      <span class="icon-star"></span>
                      <span class="icon-star"></span>
                      <span class="icon-star"></span>
                      <span class="icon-star"></span>
                    </p>
                  </div>
                </div>
                <p class="reviewd-text">{{ experience | split: "*" | first }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="slider-control">
          <div class="prev-slide2"><span class="icon-arrow"></span></div>
          <div class="next-slide2"><span class="icon-arrow"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .reviews {
    width: 50%;
    background: rgba(232,	232,	176, .2);
  }

  .review-slider .swiper-slide.swiper-slide-active .review-card  {
    top: 0;
    max-width: 60%;
    background: unset;
  }

  .review-card {
    background: unset;
  }
  .review-slider .slider-control {
    justify-content: space-between;
  }
  .review-card .info .review-rating p span {

    color: var(--light-green);
  }

  .review-slider .prev-slide2 {
    background: unset;
  }

  .review-slider .prev-slide2:hover {
    background: unset;
  }

  .review-slider .next-slide2 {
    background: unset;
  }

  .review-slider .next-slide2:hover {
    background: unset;

  }

  .review-slider .prev-slide2 span {
    font-size: 22px;
    background: unset;
  }

  .review-slider .next-slide2 span {
    font-size: 22px;
    background: unset;
  }

  .reviewd-text {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #424733;
  }

  @media screen and (max-width: 768px) {
    .reviews {
      width: 100%;
    }

    .review-slider .swiper-slide.swiper-slide-active .review-card {
      max-width: 80%;
    }

    .review-slider .slider-control {
      position: relative;
      top:-120px;
    }
  }

@media screen and (max-width: 629px) {
  .reviewd-text {
    font-size: 3vw;
    line-height: unset;
  }
}
</style>

<script>
  reviewSlider = new Swiper(".review-slider .swiper", {
    slidesPerView: 1,
    spaceBetween: 0,
    grabCursor: true,
    loop: true,
    navigation: {
      nextEl: ".next-slide2",
      prevEl: ".prev-slide2",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      630: {
        slidesPerView: 1,
        centeredSlides: false
      },
      992: {
        slidesPerView: 1,
        centeredSlides: true
      }
    }
  });
</script>
