
<div class="container">
  <div class="mini-wrap">
    <div class="changing-experiences">
      <div class="quote-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for experience in experienses %}
            
            <div class="swiper-slide">
              <div class="quote-card">
              <div class="quote-info">
                <div class="quote-author">
                  <h2>{{ experience | split: "*" | last }}</h2>
                </div>
                <div class="quote-rating">
                  <p>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                    <span class="icon-star"></span>
                  </p>
                </div>
              </div>
                  <p>{{ experience | split: "*" | first }}</p>
             
              
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="slider-control">
            <div class="prev-slide2"><span class="icon-arrow"></span></div>
            <div class="next-slide2"><span class="icon-arrow"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<style>
  .quote-card .quote-info .quote-rating p span {
   
    color: var(--light-green);
  }

  .quote-slider .prev-slide2 {
    background: unset;
  }

  .quote-slider .next-slide2 {
    background: unset;
  }
</style>


 <script>
  quoteSlider = new Swiper(".quote-slider .swiper", {
    slidesPerView: 3,
    spaceBetween: 0,
    grabCursor: true,
    autoHeight: true,
    loop: true,
    navigation: {
      nextEl: ".next-slide",
      prevEl: ".prev-slide",
      disabledClass: 'disabled'
    },
    breakpoints: {
      0: {
        slidesPerView: 1
      },
      630: {
        slidesPerView: 2,
        centeredSlides: false
      },
      992: {
        slidesPerView: 3,
        centeredSlides: true
      }
    }
  });
</script> 
