
{% assign array = article.content | split: "|" %}
{% assign dayNumber = array[0] %}
{%  assign daySmallPicture = array[1] %} %}

<section id="day-template">
    <div class="container">
        <div class="day-title">
            Habit Day {{ dayNumber  }}
        </div>
    </div>
    <div class="tip-picture">
        <img src="{{}}" alt="">
    </div>

</section>

 <style>
    #day-template .container .day-title{
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 56px;
        line-height: 58px;
        letter-spacing: -0.03em;
        color: #5E8F8F;
    }

    @media screen and (max-width: 768px) {
        #day-template .container .day-title {
            font-size: 8vw;
            line-height: 8vw;
        }
    }
 </style>
