{% assign elements = article.content | split: '|' %}

{% for element in elements %}
    {% assign day = {{ element | split: "|" | first }} %}

{% endfor %}


<section id="day-template">
    <div class="container">
        <div class="day-title">
            <h1>Day {{ day  }}</h1>
        </div>
    </div>

</section>
