


<section id="day-template">
    <div class="container">
        <div class="day-title">
            Habit Day {{ article.content | split: "|" | first  }}
        </div>
    </div>

</section>

 <style>
    .day-title{
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 56px;
        line-height: 58px;
        letter-spacing: -0.03em;
        color: #5E8F8F;
    }
 </style>
