
{% assign array = article.content | split: "|" %}
{% assign dayNumber = array[0] %}
{%  assign daySmallPicture = array[1] %} 

<div class="day-template">
    <div class="container">
        <div class="day-title">
            Habit Day {{ dayNumber  }}
        </div>
    </div>
</div>

<div class="tip-picture">
   <div class="container">
    <div class="day-tips">
        <div class="image-day">
            <img src="{{ daySmallPicture | file_url }}" alt="">
        </div>
        <div class="text-day"></div>

    </div>
   </div> 
</div>

 <style>
    .day-template .container .day-title{
        padding: 20px 0;
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 56px;
        line-height: 58px;
        letter-spacing: -0.03em;
        color: #5E8F8F;
    }

    .tip-picture {
        background-image: url("{{ 'tiphub-curalin-tips.png' | asset_url }}");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 369px
    }

    @media screen and (max-width: 768px) {
        .day-template .container .day-title {
            font-size: 7vw;
            line-height: 7vw;
        }
    }
 </style>
