<section id="holidays-raffle-section">
  <img class="snow-border top" src="{{ 'hs-top-snow.svg' | asset_url }}" alt="dripping snow" loading="lazy">
  <div class="container">
    <img class="main-img" src="{{ 'hs-raffle-main-img.png' | asset_url }}" alt="curaeats" loading="lazy">
    <div class="titles">
      <p class="main-title">With every purchase of Curalin, you’ll be automatically entered into a raffle. <span>23 lucky winners</span> will win free Curalin for the entire <span>2023</span>!* (Valued at $900!)</p>
      <p class="subtitle">*A yearly supply of Curalin includes 12 bottles of 180 capsules</p>
    </div>
  </div>
  <img class="snow-border bottom" src="{{ 'hs-bottom-snow.png' | asset_url }}" alt="snow ground" loading="lazy">
</section>

<style>
  #holidays-raffle-section {
    position: relative;
    background-color: #F3F1F0;
    padding: 30px 0;
    padding-bottom: 80px;
    text-align: center;
    overflow: hidden;
  }

  #holidays-raffle-section .container {
    display: flex;
    align-items: center;
  }

  #holidays-raffle-section .container img.main-img {
    position: absolute;
    left: 0;
    object-fit: contain;
  }

  #holidays-raffle-section .container .titles {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    max-width: 70%;
    margin: auto;
  }

  #holidays-raffle-section .container .titles .main-title span {
    color: #C00101;
  }
  #holidays-raffle-section .container .titles .subtitle {
    font-size: 0.7em;
    font-weight: 100;
  }

  #holidays-raffle-section img.snow-border {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  #holidays-raffle-section img.snow-border.bottom {
    bottom: 0;
  }

  #holidays-raffle-section img.snow-border.top {
    top: -20px;
  }

  @media (width <= 760px) {
    #holidays-raffle-section .container {
      flex-direction: column-reverse;
    }

    #holidays-raffle-section .container img.main-img {
      position: unset;
    }

    #holidays-raffle-section .container .titles {
      font-size: 5vw;
    }

    #holidays-raffle-section img.bottom-snow {
      height: 8vw;
    }
  }
</style>