<section id="holidays-raffle-section">
  <div class="container">
    <img class="main-img" src="{{ 'hs-raffle-main-img.png' | asset_url }}" alt="curaeats" loading="lazy">
    <div class="titles">
      <p class="main-title">With every purchase of Curalin, you’ll be automatically entered into a raffle. <span>23 lucky winners</span> will win free Curalin for the entire <span>2023</span>!* (Valued at $900!)</p>
      <p class="subtitle">*A yearly supply of Curalin includes 12 bottles of 180 capsules</p>
    </div>
  </div>
  <img class="bottom-snow" src="{{ 'hs-bottom-snow.png' | asset_url }}" alt="bottom-snow" loading="lazy">
</section>

<style>
  #holidays-raffle-section {
    position: relative;
    background-color: #F3F1F0;
    padding: 30px 0;
    text-align: center;
    margin-top: 50px;
  }

  #holidays-raffle-section .container {
    display: flex;
    align-items: center;
  }

  #holidays-raffle-section .container img.main-img {
    position: absolute;
    left: 0;
  }

  #holidays-raffle-section .container .titles {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    z-index: 1;
    max-width: 70%;
    margin: auto;
  }

  #holidays-raffle-section .container .titles .main-title span {
    color: #C00101;
  }
  #holidays-raffle-section .container .titles .subtitle {
    font-size: 28px;
    font-weight: unset;
  }

  #holidays-raffle-section img.bottom-snow {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
</style>