<div class="holidays-hero-banner-content">
  <div class="text-button">
    <div class="holiday-title">Give yourself a gift this season!</div>
    <a class="main-btn" id='main-cta-btn' href="/collections/all-bfcm2022">SHOP NOW</a>
  </div>

  <div class="main-img-wrapper">
    <img class="shadow-img" src="{{ 'hs-img-shadow.png' | asset_url }}" alt="shadow" loading="lazy">
    <img class="main-img" src="{{ 'hs-man-woman.png' | asset_url }}" alt="man-woman" loading="lazy">
  </div>
</div>

<style>
  .holidays-hero-banner-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .holidays-hero-banner-content .text-and-img {
    display: flex;
  }

  .holidays-hero-banner-content .text-button {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: absolute;
    left: 250px;
    z-index: 3;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    max-width: 400px;
  }

  .holidays-hero-banner-content .text-button .holiday-title {
    font-size: clamp(45px, 4vw, 80px);
  }

  .holidays-hero-banner-content .text-button .main-btn {
    max-width: 205px;
    font-weight: 700;
    background: #4B643D;
    text-align: center;
    border: #4B643D;
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 28px);
  }

  .holidays-hero-banner-content .text-button .main-btn:hover {
    background: #404733;
    border: #404733;
  }

  .holidays-hero-banner-content .main-img-wrapper {
    position: absolute;
    right: 90px;
    z-index: 0;
    bottom: 0px;
    height: max(147px, 26vw);
  }

  .holidays-hero-banner-content .main-img-wrapper img {
    height: max(147px, 26vw);
  }

  .holidays-hero-banner-content .main-img-wrapper .main-img {
    position: absolute;
    right: 100px;
    bottom: 0px;
    object-fit: contain;
  }

  @media screen and (max-width: 1008px) {
    .holidays-hero-banner-content .text-button {
        left: 15vw;
    }
  }

  @media screen and (max-width: 760px) {
    .holidays-hero-banner-content {
      align-items: unset;
    }

    .holidays-hero-banner-content .text-button .holiday-title {
      max-width: 80vw;
      font-size: 12vw
    }

    .holidays-hero-banner-content .text-button .main-btn {
      max-width: 50vw;
    }

    .holidays-hero-banner-content .text-button {
      padding-top: 7vw;
      left: 7vw;
      gap: 5vw;
    }

    .holidays-hero-banner-content .main-img-wrapper {
      height: unset;
      right: unset;
    }

    .holidays-hero-banner-content .main-img-wrapper img {
      height: unset;
      right: 10vw !important;
    }
  }
</style>