<section class="hero-banner">
  {% render 'snow-effect' %}
  <div class="container">
    <div class="snowflakes">
      {% for i in (1..4) %}
        <div class="snowflake">
          <img src="{{ "hs-snowflake-0" | append: i | append: ".png" | asset_url }}" alt="" loading="lazy">
        </div>
      {% endfor %}
    </div>

    {% case request.path %}
      {% when '/' %}
        {% render "holidays-hero-banner-content-homepage" %}
      {% when '/pages/curalin-advanced-glucose-support' %}
        {% render "holidays-hero-banner-content-curalin" %}
      {% when '/pages/glucose-support-lp01n-v2-holidays2022' %}
        {% render "holidays-hero-banner-content-aio-lp01" %}
    {% endcase %}
  </div>
  <div class="bottom-snow">
    <img src="{{ 'hs-bottom-snow.png' | asset_url }}" alt="bottom-snow" loading="lazy">
  </div>
</section>

<style>
  .snowflake {
    position: absolute;
    z-index: -1;
  }

  .snowflake img {
    max-width: 70%;
  }

  .snowflake:nth-child(4){
    top:0;
    left: 50px;
    height: max(150px, 20vw);
  }

  .snowflake:nth-child(3){
    top:0;
    left: 120px;
  }

  .snowflake:nth-child(2){
    top:0;
    right: 150px;
  }

  .snowflake:nth-child(1){
    top:0;
    right: 50px;
  }

  .hero-banner {
    position: relative;
    overflow: hidden;
    height: clamp(520px,34vw,600px);
    background: linear-gradient(#990c14, #cd262e);
  }

  .hero-button h1 {
    font-family: 'PP Radio Grotesk';
    color: #FFFFFF;
    margin: unset;
    line-height: 1em;
    font-weight: 700;
  }

  .holidays-hero-banner-content .main-btn {
    font-weight: 700;
    background: linear-gradient(#5d8448, #4B643D);
    text-align: center;
    border: 1px solid  #468734;
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 28px);
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
  }

  .holidays-hero-banner-content .text-button .main-btn:hover {
    background: #404733;
    border: #404733;
  }

  .hero-banner .bottom-snow {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
  }

  .hero-banner .bottom-snow img {
    width: 100%;
  }

  .hero-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
  }

  @media screen and (max-width: 1008px){
    .snowflake img {
      max-width: 50%;
    }

    .snowflake:nth-child(3) {
      left: 6vw;
    }

    .snowflake:nth-child(4) {
      left: 2vw;
    }

    .hero-banner .container .holiday-sale .text-button {
      left: 11vw;
      padding-top: 6vw;
    }

    .snowflake:nth-child(2) {
      right: 9vw;
    }
    .snowflake:nth-child(1) {
      right: 0;
    }
  }

  @media (width <= 768px) {
    .holidays-hero-banner-content .main-btn {
      max-width: 50vw;
      margin: auto;
    }

    .snowflake:nth-child(1) {
      display: none;
    }

    .snowflake:nth-child(4) {
      display: none;
    }

    .snowflake:nth-child(2) {
      right: 3vw;
    }

    .snowflake:nth-child(3) {
      left: unset;
      right: 8vw;
    }

    .hero-banner {
      height: 70vh;
      min-height: 130vw;
    }

    .hero-banner .bottom-snow {
      width: 300%;
    }
  }

  @media screen and (max-width: 375px){
    .snowflake:nth-child(2) {
      right: -4vw;
    }

    .snowflake:nth-child(3) {
      right: 0vw;
    }
  }
</style>

{% render 'sparkles', element_selector: '.hero-banner' %}