<section id="holidays-raffle-section">
  <div class="container">
    <img src="{{ 'holidays-raffle-main-img.png' | asset_url }}" alt="curaeats" loading="lazy">
    <p class="title">With every purchase of Curalin, you’ll be automatically entered into a raffle. <span>23 lucky winners</span> will win free Curalin for the entire </span>2023</span>!* (Valued at $900!)</p>
    <p class="subtitle">*A yearly supply of Curalin includes 12 bottles of 180 capsules</p>
  </div>
</section>

<style>
  #holidays-raffle-section {
    background-color: #F3F1F0;
    padding: 50px 0;
    text-align: center;
  }

  #holidays-raffle-section .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #holidays-raffle-section .container img {
    position: absolute;
    left: 0;
  }
  #holidays-raffle-section .container .title {
    font-size: 35px;
    font-weight: bold;
  }

  #holidays-raffle-section .container .title span {
    color: #C00101;
  }
  #holidays-raffle-section .container .subtitle {
    font-size: 28px;
  }
</style>