{% render 'sparkles' %}

<div class="hero-banner">
  <div class="container">
    <div class="snowflakes">
      {% for i in (1..4) %}
        <div class="snowflake">
          <img src="{{ "hs-snowflake-0" | append: i | append: ".png" | asset_url }}" alt="" loading="lazy">
        </div>
      {% endfor %}
    </div>

    {% case request.path %}
      {% when '/' %}
        {% render "holidays-hero-banner-content-homepage" %}
      {% when '/pages/curalin-advanced-glucose-support' %}
        {% render "holidays-hero-banner-content-curalin" %}
    {% endcase %}
  </div>
  <div class="bottom-snow">
    <img src="{{ 'hs-bottom-snow.png' | asset_url }}" alt="bottom-snow" loading="lazy">
  </div>
</div>

<style>
  .snowflake {
    position: absolute;
    z-index: -1;
  }

  .snowflake img {
    max-width: 70%;
  }

  .snowflake:nth-child(4){
    top:0;
    left: 50px;
    height: max(150px, 20vw);
  }

  .snowflake:nth-child(3){
    top:0;
    left: 120px;
  }

  .snowflake:nth-child(2){
    top:0;
    right: 150px;
  }

  .snowflake:nth-child(1){
    top:0;
    right: 50px;
  }

  .hero-banner {
    position: relative;
    background-color: #B5141F;
    overflow: hidden;
    height: max(300px,27vw);
  }

  .hero-banner .bottom-snow {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
  }

  .hero-banner .bottom-snow img {
    width: 100%;
  }

  .hero-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
  }

  @media screen and (max-width: 1008px){
    .snowflake img {
        max-width: 50%;
    }

    .snowflake:nth-child(3) {
        left: 6vw;
    }

    .snowflake:nth-child(4) {
        left: 2vw;
    }

    .hero-banner .container .holiday-sale .text-button {
        left: 11vw;
        padding-top: 6vw;
    }
  }

  @media screen and (max-width: 760px) {
    .snowflake:nth-child(1) {
      display: none;
    }

    .snowflake:nth-child(4) {
      display: none;
    }

    .snowflake:nth-child(2) {
      right: 3vw;
    }

    .snowflake:nth-child(3) {
      left: unset;
      right: 8vw;
    }
    .hero-banner {
      height: max(85vw, 32vw);
    }
  }


  @media screen and (max-width: 566px){
    .hero-banner {
        height: max(95vw, 32vw);
    }
  }

  @media screen and (max-width: 375px){
    .snowflake:nth-child(2) {
      right: -4vw;
    }

    .snowflake:nth-child(3) {
      right: 0vw;
    }

    .hero-banner {
        height: max(118vw, 32vw);
    }
  }
</style>

<script>
  $('.hero-banner').sparkle({
    size: 15,
    duration: 700,
    pause: 200
  });
  $('.hero-banner').sparkle({
    size: 20,
    duration: 1000,
    pause: 400
  });
  $('.hero-banner').sparkle({
    size: 30,
    duration: 1300,
    pause: 600
  });
  $('.hero-banner').sparkle({
    size: 40,
    duration: 1600,
    pause: 1000
  });
  $('.hero-banner').sparkle({
    size: 15,
    duration: 700,
    pause: 200
  });
  $('.hero-banner').sparkle({
    size: 20,
    duration: 1000,
    pause: 400
  });
  $('.hero-banner').sparkle({
    size: 30,
    duration: 1300,
    pause: 600
  });
  $('.hero-banner').sparkle({
    size: 40,
    duration: 1600,
    pause: 1000
  });
</script>