


<div class="making-headlines">
  <div class="container">
    <div class="sub-title">
      <h3>We're making headlines...</h3>
    </div>
    <div class="logo-list">
      <ul>
        {% for block in section.blocks %}
        {% if block.type == 'partners' %}
        {% if block.settings.fetr_imgfour != blank %}
        <li><img src="{{ block.settings.fetr_imgfour | img_url: '' }}" alt=""></li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>