<section id="last-offer-title-section">
  <div class="catalog">
        {% if shop.name == "CuraLife" %}
          <div class="limited">{% if product.title == "CuraLin BFCM 2022 Ending Offer" %}Special Offer <span style="color:#ED073E">PLUS</span> {% endif %}Limited Time Bonuses:</div>
          <div class="changing-programm">30 Day Life Changing Program (Valued ${{ curaeats_value }}) & CuraEats Meal Plan App (Valued ${{ curaeats_value }})</div>
        {% else %}
          <h1 style="text-align:center;font-size:30px;"><b>Limited Time Bonus:</b> CuraEats Meal Plan App (Valued £{{ curaeats_value }})</h1>
        {% endif %}
    </div>
</section>

<style>
  #last-offer-title-section .catalog  {
    margin-top: 20px;
      display: flex;
      text-align: center;
      font-size: clamp(28px, 4vw, 40px);
      font-weight: bold;
      flex-direction: column;
      gap: 10px;
  }

  #last-offer-title-section .limited {
    font-size: clamp(25px, 3vw, 35px);
  }

  #last-offer-title-section .changing-programm {
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
  }

  @media screen and (max-width:760px) {
    #last-offer-title-section .changing-programm {
      padding: 0 1vw;
    }
  }
</style>