<section class="hero-section hero-banner">
  <div class="gradient"></div>
  <div class="container">
    <div class="content">
      <img class="logo" src="{{ 'logo-white.png' | asset_url }}" alt="chef icon" loading="lazy">
      <div class="pre-title">Take the</div>
      <div class="main-title">CuraLin 7 Day</div>
      <div class="main-title-addition">Challenge</div>
      <div class="sub-title">Want to Step Up Your Blood Sugar Maintenance Game?</div>
    </div>
  </div>
</section>

<section class="sub-hero-banner">
  <div class="container">
    <div class="result-text">
      <div class="main-title"> <span>7</span>Days. <span>1</span>Routine.</div> 
      <div class="sub-title">Get results, or your money back</div>     
    </div>
  </div>
</section>

<!-- Hero Section from General Page Style -->
<style>
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }
   body {
    margin: 0;
    
   }

   .container {
     width: 100%;
     max-width: 1470px;
     margin: 0 auto;
     padding: 0 15px
   }
  
    .hero-section {
      overflow: hidden;
      font-family: "Poppins", sans-serif;
    }

    .hero-section .data-wrap {
      padding: 1.0625rem 1.9375rem 5.75rem;
      position: relative;
      z-index: 1
    }

    .hero-section .data-wrap:before {
      content: "";
      width: 100vw;
      position: absolute;
      top: 0;
      left: 50%;
      bottom: 5.75rem;
      z-index: -5;
      background: rgba(218, 177, 158, .5);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%);
      pointer-events: none
    }

    .hero-section .brand-logo {
      max-width: 10.625rem;
      padding-bottom: 1.5rem
    }

    .hero-section .brand-intro-cover span {
      width: 80%;
      display: block;
      position: absolute;
      top: -6.625rem;
      right: -4.875rem;
      bottom: 0;
      z-index: -1
    }

    .hero-section .brand-intro-cover span img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain
    }

    .hero-section .brand-slogan {
      max-width: 20.75rem;
      padding-left: .25rem;
      margin-top: 50px
    }

    .hero-section .brand-slogan * {
      margin: 0;
      font-weight: 500;
      font-size: 2.7rem;
      line-height: 1.12;
      color: #000000ab
    }

    .hero-section .brand-welcome-text {
      padding: 2rem 0 10.75rem;
      text-align: left;
      margin-left: 10%
    }

    .hero-section .brand-welcome-text * {
      font-weight: 400;
      font-size: 5rem;
      line-height: 1.2;
      letter-spacing: -.03em;
      color: #fff;
      margin: auto
    }

    .hero-section .brand-welcome-text span,
    .hero-section .brand-welcome-text b,
    .hero-section .brand-welcome-text strong {
      font-weight: 700
    }

    .hero-section .brand-welcome-text span.typed-cursor {
      font-weight: 200
    }

    @media screen and (max-width: 991px) {
        .hero-section .brand-logo {
          max-width: 8.4375rem
        }

        .hero-section .brand-slogan * {
          font-size: 2rem
        }

        .hero-section .data-wrap {
          padding: .9375rem 0 2.5rem
        }

        .hero-section .data-wrap:before {
          bottom: 2.5rem
        }

        .hero-section .brand-welcome-text * {
          font-size: 3.125rem
        }

        .hero-section .brand-welcome-text {
          padding: 4.375rem 0 2.5rem
        }

        .hero-section .brand-intro-cover span {
          top: -1.25rem
        }

        @media screen and (max-width: 760px) {
            .hero-section .data-wrap {
              padding: .1875rem
            }

            .hero-section .brand-logo {
              display: none
            }

            .hero-section .brand-intro-cover span {
              width: 100%;
              position: static
            }

            .hero-section .brand-intro-cover {
              margin: 0 -6.0625rem 0 -3.25rem
            }

            .hero-section .brand-slogan * {
              font-size: 1.75rem;
              text-align: center
            }

            .hero-section .brand-slogan {
              max-width: 20.625rem;
              margin: 0 auto;
              padding-left: 0;
              padding-top: .625rem
            }

            .hero-section .brand-welcome-text * {
              font-size: 7vw;
              color: #c78263
            }

            .hero-section .brand-welcome-text {
              padding: .875rem 0;
              margin: 0 -15px 0 5%
            }

            .hero-section .data-wrap:before {
              bottom: 0
            }
            
        }
    }
</style>

<style>
  .hero-banner {
    background-image: url("{{ 'page.aio-first-page-challenge-woman-holding-bottle.png' | file_url }}");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vw;
    min-height: 380px;
    max-height: 500px;
    position: relative; 
  }

  .hero-banner .container {
    position: relative;
  }

  .hero-banner .gradient {
    position: absolute;
    left: 0;
    background: linear-gradient(90deg, rgba(14, 52, 64, 0.8) 0%, rgba(5, 47, 61, 0) 100%);
    width: 33%;
    height: 100%;
  }

  .hero-banner .content {
    padding: 10px 30px;
    max-width: 450px;
  }

  .hero-banner .logo {
    max-width: 40vw;  
  }

  .hero-banner .pre-title {
    margin-top: 50px;
    font-weight: 300;
    font-size: 32px;    
    color: #FFFFFF;
  }

  .hero-banner .main-title {
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
  }

  .hero-banner .main-title-addition {
    font-weight: 700;
    font-size: 67px;
    color: #FFFFFF;
  }

  .hero-banner .sub-title {
    margin-top: 20px;
    font-size: 28px;
    color: #FFFFFF;
  } 

  .sub-hero-banner {
    background-color: #FDD246;
    padding: 10px;
  }

  .result-text {
    display: flex;
    flex-direction: column;  
    text-align: center;
    font-weight: 400;  
  }

  .sub-hero-banner .main-title {   
    font-size: 60px;
    letter-spacing: -4px;
  }

  .sub-hero-banner .main-title span {
    font-size: 100px;
  }

  .sub-hero-banner .sub-title {
    font-size: 20px;  
    font-weight: 700;
  }

  @media screen and (max-width: 768px) {
    .hero-banner {
      background-position: -152vw -43vw;
      background-size: cover;
      height: 175vw;
      margin-bottom: -43vw;
      max-height: unset;
    }

    .hero-banner .gradient {
      width: 60%;
      height: 132vw;
    }

    .hero-banner .content {
      padding: 4vw 0;
      max-width: 75vw;
    }

    .hero-banner .pre-title {
      margin-top: 25vw;
      font-size: 5vw;
    }

    .hero-banner .main-title {
      font-size: 9vw;
    }

    .hero-banner .main-title-addition {
      font-size: 12vw;
    }

    .hero-banner .sub-title {
      margin-top: 3vw;
      font-size: 6vw;
    } 

    .sub-hero-banner .main-title {
      font-size: 8vw;
      letter-spacing: -0.5vw;
    }

    .sub-hero-banner .main-title span {
      font-size: 13vw;
    }

    .sub-hero-banner .sub-title {
      font-size: 3.5vw;
    }
  } 
</style>