
<section class="hero-banner">
<div class="container">  
<div class="holidays-hero-banner-content">
 
  <div class="text-button">
    <div class="holiday-title">curalin</div>
    <div class="holiday-text">Natural Blood Sugar Support Supplement</div>
    <img class="main-img-mb" src="{{ 'mask-and-bottle.png' | asset_url }}" width="1039" height="528" alt="bottle-hand-mask-mb" loading="lazy">  
    <a class="main-btn" id='main-cta-btn' href="/collections/all-holidays2022">SHOP NOW</a>
  </div>
     <img class="main-img" src="{{ 'mask-and-bottle.png' | asset_url }}" width="1039" height="528" alt="bottle-hand-mask" loading="lazy">
    
</div>
</section>




<style>

  .hero-banner {
    position: relative;
    overflow: hidden;
    height: clamp(706px,27vw,600px);
    background: #E8E8B0;
  }

  .hero-button h1 {
    font-family: 'PP Radio Grotesk';
    color: var(--dark-green);
    margin: unset;
    line-height: 1em;
    font-weight: 700;
  }

  .holidays-hero-banner-content .main-btn {
    font-weight: 700;
    background: var(--dark-green);
    text-align: center;
    border: 1px solid  var(--dark-green);
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 28px);
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
    margin-bottom: 20px;
  }

  .holidays-hero-banner-content .text-button .main-btn:hover {
    background: var(--green);
    border: var(--green);
  }


  
  .hero-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
    
  }

  @media screen and (max-width:1192px) {
    .holidays-hero-banner-content .main-btn {
      margin-bottom: unset;
    }
  }  
  }

  @media screen and (max-width: 768px) {
    .holidays-hero-banner-content .main-btn {
      max-width: 50vw;
      margin: auto;
    }

    .holidays-hero-banner-content .text-button .holiday-title {
      text-align: center;
    }

    .holidays-hero-banner-content .text-button .holiday-text {
      text-align: center;
      max-width: unset;
    }

    .hero-banner {
      height: 100vh;
      min-height: 130vw;
    }

  }

</style>


<style>
  .holidays-hero-banner-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

 

  .holidays-hero-banner-content .text-button {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    margin-left: 55px;
   
  }

  .holidays-hero-banner-content .text-button .holiday-title {
    color: var(--dark-green);
    font-size: clamp(45px, 4vw, 80px);
  }

  .holidays-hero-banner-content .text-button .holiday-text {
    color: var(--dark-green);
    font-style: normal;
    font-weight: 300;
    font-size: clamp(26px, 2vw, 42px);
    max-width: 400px;
  }



  .holidays-hero-banner-content  .main-img {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
  }

  .holidays-hero-banner-content  .main-img-mb {
    display: none;
  }

@media screen and (max-width: 1192px) {
  .holidays-hero-banner-content .main-img {
    right: -240px;
  }
}

@media screen and (max-width: 1024px) {
  .holidays-hero-banner-content .main-img {
    right: -400px;
    top: 24px;
  }
}

@media screen and (max-width: 975px) {
  .holidays-hero-banner-content .main-img {
    top: 8vw;
  }
}

@media screen and (max-width: 882px) {
  .holidays-hero-banner-content .main-img {
    top: 12vw;
  }
}


@media screen and (max-width: 825px) {
  .holidays-hero-banner-content .main-img {
    top: 17vw;
  }
}





  @media screen and (max-width: 768px) {

  .holidays-hero-banner-content .main-img {
    display: none;
  }

  .holidays-hero-banner-content .main-img-mb {
    display: flex;
  }

  .holidays-hero-banner-content .text-button {
    margin-left: unset;
  }


   
  }
</style>