<section class="hero-banner">
 
  <div class="container">   
  {% render "new-year-hero-banner-content-curalin" %}    
  </div>
 
</section>

<style>

  .hero-banner {
    position: relative;
    overflow: hidden;
    height: clamp(520px,34vw,600px);
    background: #E8E8B0;
  }

  .hero-button h1 {
    font-family: 'PP Radio Grotesk';
    color: #FFFFFF;
    margin: unset;
    line-height: 1em;
    font-weight: 700;
  }

  .holidays-hero-banner-content .main-btn {
    font-weight: 700;
    background: linear-gradient(#5d8448, #4B643D);
    text-align: center;
    border: 1px solid  #468734;
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 28px);
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
    margin-bottom: 20px;
  }

  .holidays-hero-banner-content .text-button .main-btn:hover {
    background: #404733;
    border: #404733;
  }

  .hero-banner .bottom-snow {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
  }

  .hero-banner .bottom-snow img {
    width: 100%;
  }

  .hero-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
  }

  @media screen and (max-width:1192px) {
    .holidays-hero-banner-content .main-btn {
      margin-bottom: unset;
    }
  }
  @media screen and (max-width: 1008px){
   

   

  

    .hero-banner .container .holiday-sale .text-button {
      left: 11vw;
      padding-top: 6vw;
    }

    
   
  }

  @media screen and (max-width: 768px) {
    .holidays-hero-banner-content .main-btn {
      max-width: 50vw;
      margin: auto;
    }


    .hero-banner {
      height: 70vh;
      min-height: 130vw;
    }

    .hero-banner .bottom-snow {
      width: 300%;
    }
  }

</style>

