
<section class="hero-banner">
<div class="container">  
<div class="holidays-hero-banner-content">
 
  <div class="text-button">
    <div class="holiday-title">curalin</div>
    <div class="holiday-text">Natural Blood Sugar Support Supplement</div>
    <a class="cta-btn" href="/collections/all-holidays2022">Shop Now</a>
  </div>
     <img class="main-img" src="{{ 'mask-and-bottle.png' | asset_url }}" width="1039" height="528" alt="bottle-hand-mask" loading="lazy">
</div>
</div>
<img class="main-img-mb" src="{{ 'mask-and-bottle-mb.png' | asset_url }}" width="750" height="1084" alt="bottle-hand-mask-mb" loading="lazy"> 
<div class="container">
<a class="main-btn mobile-btn" id='main-cta-btn' href="/collections/all-holidays2022">SHOP NOW</a></div> 
</section>




<style>

  .hero-banner {
    position: relative;
    overflow: hidden;
    
    background: #E8E8B0;
  }

  .hero-button h1 {
    font-family: 'PP Radio Grotesk';
    color: var(--dark-green);
    margin: unset;
    line-height: 1em;
    font-weight: 700;
  }

   .main-btn {
    font-weight: 700;
    background: var(--dark-green);
    text-align: center;
    border: 1px solid  var(--dark-green);
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 28px);
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
    margin-bottom: 20px;
  }

  .main-btn:hover {
    background: var(--green);
    border: var(--green);
  }

 .hero-banner .text-button .cta-btn {
    font-weight: 700;
    background: var(--dark-green);
    text-transform: uppercase;
    padding: 10px 30px;
    color: white;
    text-align: center;
    border: 1px solid  var(--dark-green);
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 28px);
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
    
  }

  .hero-banner .text-button .cta-btn:hover {
    background: var(--green);
    border: var(--green);
    color: white;
  }


  
  .hero-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
    
  }

</style>


<style>
  .holidays-hero-banner-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

 

  .holidays-hero-banner-content .text-button {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    margin-left: 55px;
   
  }

  .holidays-hero-banner-content .text-button .holiday-title {
    color: var(--dark-green);
    font-size: clamp(50px, 12vw, 80px);
  }

  .holidays-hero-banner-content .text-button .holiday-text {
    color: var(--dark-green);
    font-style: normal;
    font-weight: 300;
    font-size: clamp(26px, 2vw, 42px);
    max-width: 400px;
  }

   .hero-banner .main-img-mb {
    display: none;
  }

  .hero-banner .container .main-btn.mobile-btn {
    display: none;
   
  }

  @media screen and (max-width: 768px) {
   .hero-banner .text-button .cta-btn {
      display: none;
    }
    .holidays-hero-banner-content {
      justify-content: center;
    }
  .holidays-hero-banner-content .text-button .holiday-title {
    text-align: center;
  }

  .holidays-hero-banner-content .text-button .holiday-text {
    text-align: center;
    max-width: unset;
  }


  .holidays-hero-banner-content .main-img {
    display: none;
  }

  .hero-banner .main-img-mb {
    display: block;
    width: 150%;
    
  }

  .holidays-hero-banner-content .text-button {
    margin-left: unset;

  }

  .hero-banner .container .main-btn.mobile-btn {
    display: block;
    margin-top: -30vw;
  }

   
  }
</style>