
<section class="hero-banner">
<div class="container">  
<div class="holidays-hero-banner-content">
  <div class="text-button">
    <div class="holiday-title">Give yourself a gift this season!</div>
    <a class="main-btn" id='main-cta-btn' href="/collections/all-holidays2022">SHOP NOW</a>
  </div>

  <div class="main-img-wrapper">
    <img class="shadow-img" src="{{ 'new-year-mask.png' | asset_url }}" width="1039" height="509" alt="mask" loading="lazy">
    <img class="main-img" src="{{ 'new-year-bottle-with-hand.png' | asset_url }}" width="757" height="513" alt="bottle-hand" loading="lazy">
  </div>
</div>
</div>



</section>




<style>

  .hero-banner {
    position: relative;
    overflow: hidden;
    height: clamp(520px,34vw,600px);
    background: #E8E8B0;
  }

  .hero-button h1 {
    font-family: 'PP Radio Grotesk';
    color: #FFFFFF;
    margin: unset;
    line-height: 1em;
    font-weight: 700;
  }

  .holidays-hero-banner-content .main-btn {
    font-weight: 700;
    background: var(--dark-green);
    text-align: center;
    border: 1px solid  var(--dark-green);
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 28px);
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
    margin-bottom: 20px;
  }

  .holidays-hero-banner-content .text-button .main-btn:hover {
    background: var(--green);
    border: var(--green);
  }


  
  .hero-banner .container {
    height: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
  }

  @media screen and (max-width:1192px) {
    .holidays-hero-banner-content .main-btn {
      margin-bottom: unset;
    }
  }
  @media screen and (max-width: 1008px){

    .hero-banner .container .holiday-sale .text-button {
      left: 11vw;
      padding-top: 6vw;
    }

    
   
  }

  @media screen and (max-width: 768px) {
    .holidays-hero-banner-content .main-btn {
      max-width: 50vw;
      margin: auto;
    }


    .hero-banner {
      height: 70vh;
      min-height: 130vw;
    }

  }

</style>


<style>
  .holidays-hero-banner-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .holidays-hero-banner-content .text-and-img {
    display: flex;
  }

  .holidays-hero-banner-content .text-button {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: absolute;
    left: 250px;
    z-index: 3;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    max-width: 400px;
  }

  .holidays-hero-banner-content .text-button .holiday-title {
    font-size: clamp(45px, 4vw, 80px);
  }

  .holidays-hero-banner-content .main-img-wrapper {
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: 0px;
    height: max(147px, 26vw);
  }


  .holidays-hero-banner-content .main-img-wrapper .main-img {
    position: absolute;
    right: 22px;
    bottom: 0px;
    object-fit: contain;
  }

  .holidays-hero-banner-content .main-img-wrapper .shadow-img {
    position: absolute;
    right: 0px;
    top: 0px;
    object-fit: contain;
  }

  @media screen and (max-width: 1008px) {
    .holidays-hero-banner-content .text-button {
        left: 15vw;
    }
  }

  @media screen and (max-width: 768px) {
    .holidays-hero-banner-content {
      align-items: unset;
    }

    .holidays-hero-banner-content .text-button .holiday-title {
      max-width: 75vw;
      font-size: 12vw
    }

    .holidays-hero-banner-content .text-button {
      padding-top: 7vw;
      left: 7vw;
      gap: 5vw;
    }

    .holidays-hero-banner-content .main-btn {
      margin: unset !important;
    }

    .holidays-hero-banner-content .main-img-wrapper {
      height: unset;
      right: unset;
    }

    .holidays-hero-banner-content .main-img-wrapper img {
      height: unset;
      right: -42vw !important;
    }
  }
</style>