<div class="scrollbar-container">
  <div class="scrollbar-track">
    <div class="scrollbar-dots"></div>
  </div>
</div>


<style>
  .scrollbar-container {
    width: 100%;
    height: 10px;
    background-color: #f2f2f2;
    position: relative;
  }

  .scrollbar-track {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .scrollbar-dots {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #4CAF50;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }


</style>

<script>
  const container = document.querySelector('.scrollbar-container');
  const track = document.querySelector('.scrollbar-track');
  const dots = document.querySelector('.scrollbar-dots');

  container.addEventListener('scroll', function() {
    const scrollPercentage = (container.scrollLeft / (container.scrollWidth - container.clientWidth)) * 100;
    const dotsPosition = (container.clientWidth - dots.offsetWidth) / 100 * scrollPercentage;
    dots.style.left = dotsPosition + 'px';
  });

</script>