{% if product.metafields.custom.original_item_variant.size %}
  {% assign product = product.metafields.custom.original_item_variant %}
{% endif %}

{% if localization.country.iso_code == 'CA' %}
  {% assign original_item_cap = product.metafields.my_fields.original_item.value.metafields.my_fields.ca_cap | times: 100 %}
{% elsif localization.country.iso_code == 'AU' %}
  {% assign original_item_cap = product.metafields.my_fields.original_item.value.metafields.my_fields.au_cap | times: 100 %}
{% else %}
  {% assign original_item_cap = product.metafields.my_fields.original_item.value.compare_at_price %}
{% endif %}

{% assign quantity = product.metafields.my_fields.pack_items_quantity %}
{% assign quantity_by_cents = quantity | times: 100 %}
{% assign item_price = product.price | times: 100.0 | divided_by: quantity_by_cents %}

<div class="price">
  <p>
    {% if product.compare_at_price > product.price %}<strike class="rounded no-letters">{{ original_item_cap | money_with_currency | replace: ".00", "" | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</strike>{% endif %}
    <span class="rounded new-price">{{ item_price | money | replace: ".00", "" | replace: "GBP", "" }}</span>
    {% if quantity > 1 %}<span class="per-bottle" style="font-size: 17px;display: inline-block;"> PER<br>BOTTLE</span>{% endif %}
  </p>
</div>

<style>
  .price {
    padding-bottom: unset !important;
  }

  .price p {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .new-price {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(41px, 10vw, 47px);
    display: flex;
    align-items: center;
    text-align: center;
  }
</style>