<div class="how-work">
    <div class="container">
        <div class="sub-title">
          <h3><b>How the 30 day challenge works:</b></h3>         
        </div>
        <div class="sub-text"></div>
     
      
    </div>
    <div class="how-work-wrapper">
        <div class="how-work-text">Experience the benefits of Curalin, the 100% natural and advanced solution for maintaining healthy glucose levels. With a powerful blend of 9 herbs, Curalin supports 18 key body functions to help you feel your best. Made with clean, potent ingredients, Curalin is the safe and effective choice for optimal glucose support. Say goodbye to unpredictability and hello to a healthy, natural way to support your glucose levels. <br>

       <b>Don't settle for less, choose Curalin for the best results.</b></div>
      
    </div>
</div>


<style>
    .how-work .sub-title {
      padding-top: 60px;
    }

    .how-work .sub-title h3 {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: 60px;
      line-height: 35px;
      color: var(--dark-green);
      padding-bottom: 30px;
      text-align: center;
    }

   


  

 
    .how-work-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .how-work-text {
        display: flex;
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #404733;
        flex-direction: column;
        justify-content: center;
        max-width: 30%;
    }



    @media screen and (max-width: 768px) {
        
        .how-work .sub-title h3 {
          font-size: 32px;
          line-height: 35px;
        }

  
        .how-work-wrapper {
            flex-direction: column-reverse;
        }

        .how-work-text {
            max-width: unset;
            text-align: center;
            font-size: 19px;
            line-height: 26px;
            color: #000000;
            max-width: unset;
            padding: 30px 20px;
        }

      
    }
    
</style>


