<section id="product-catalog-section">
  {% render 'collection-titles' %}

  <div class="container">
    <div class="product-list" id="product-list-section">
      {% for prod in Prods %}
        {% if request.page_type == 'collection' %}
          {% assign product_object = prod %}
        {% else %}
          {% assign product_object = all_products[prod] %}
        {% endif %}

        {% if forloop.index == "2" %}
          {% assign isRecommended = true %}
        {% elsif forloop.last %}
          {% assign isLast = true %}
        {% endif %}

        {% render 'product-card', product: product_object, isRecommended: isRecommended, isLastRender: isLast, isSkipCart: isSkipCart, isLinkToProduct: true %}
      {% endfor %}
    </div>
  </div>

  {% render 'trust-badges-widget', badgesContent: "free-shipping,money-back,secure-checkout", colors: "#5c5c5c" %}
</section>

<style>
  #product-catalog-section {
    padding: unset;
    display: unset !important;
  }

  #product-catalog-section .product-list {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: unset;
  }

  #product-catalog-section  {
    display: flex;
  }

{% comment %}
  #product-catalog-section .icon-cart:before {
    content: "\efe7";
  } {% endcomment %}

  @media screen and (max-width:768px) {
    #product-catalog-section .product-list {
      gap: 10vw;
      flex-direction: column;
    }

    .product-card {
      width: unset;
    }
  }
</style>