<section id="health-benefits-section">
  <div class="container">
    <div class="titles">
      <h2>{{ title }}</h2>
      <p class="subtitle">{{ subtitle }}</p>
    </div>

    <ul class="health-benefits">
      {% for benefit in benefits %}
        <li class="health-benefit">
          <img src="{{ "product-supplement-" | append: productHandle | append: "-health-benefits-" | append: forloop.index | append: ".png" | asset_url }}" alt="health-benefit-1" loading="lazy">
          <p>{{ benefit }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<style>
  #health-benefits-section .health-benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  #health-benefits-section .health-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
</style>