<a id="back-to-top-btn">Try CuraLin</a>

<style>
  #back-to-top-btn {
    background: linear-gradient(#5d8448, var(--dark-green));
    border: 1px solid #468734;
    color: #ffffff;
  }

  #back-to-top-btn:hover {
    background: #404733;
    border: #404733;
  }

  #back-to-top-btn {
    font-size: 30px;
    padding: 3px 40px;
    font-weight: bold;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    box-shadow: 0 4.5px 4.5px rgb(0 0 0 / 20%);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }

  #back-to-top-btn:hover {
    cursor: pointer;
    background: #404733;
    border: #404733;
  }

  #back-to-top-btn:active {
    background-color: #404733;
  }

  #back-to-top-btn.show {
    opacity: 1;
    visibility: visible
  }

  @media screen and (max-width: 768px) {
    #back-to-top-btn {
      width: 100%;
      border-radius: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 -2px 15px rgba(0, 0, 0, .25);
    }
  }
</style>


<script>

  $('#back-to-top-btn').click(function() {
  woopra.track('Scroll To Top Click', {});
  });
  // Back To Top Button
  var btn = $('#back-to-top-btn');

  $(window).scroll(function() {
    if ($(window).scrollTop() > 600) {
      btn.addClass('show');
      if (screen.width < 760) {
        $('.helpButton').attr('style', 'bottom: 60px !important');
      }
    }
    else {
      btn.removeClass('show');
      if (screen.width < 760) {
        $('.helpButton').attr('style', 'bottom: 4px !important');
      }
    }
  });

  btn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
  });
  {%- comment -%}
  if($(".variant-box").last()) {
    $(".main-slider-vector-bg").hide();
  } {%- endcomment -%}
</script>



