<section id="health-benefits-section">
  <div class="container">
    <div class="titles">
      <h2>{{ product.metafields.custom.benefits_section_title }}</h2>
      <p class="subtitle">{{ product.metafields.custom.benefits_section_subtitle }}</p>
    </div>

    <ul class="health-benefits">
      {% for benefit in product.metafields.custom.benefits %}
        <li class="health-benefit">
          <img src="{{ "product-supplement-" | append: category | append: "-health-benefits-" | append: forloop.index | append: ".png" | asset_url }}" alt="health-benefit-1" loading="lazy">
          <p>{{ benefit }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<style>
  #health-benefits-section .health-benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }

  #health-benefits-section .health-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
  }

  @media screen and (max-width: 768px) {
    #health-benefits-section .health-benefits {
      flex-direction: column;
      gap: 30px;
    }

    #health-benefits-section .health-benefits .health-benefit {
      flex-direction: row;
      max-width: unset;
      gap: 50px;
    }

    #health-benefits-section .health-benefits .health-benefit:nth-child(even) {
      flex-direction: row-reverse;
    }

    #supplement-page section p {
      text-align: left;
      font-size: 4vw;
    }
  }
</style>