{% assign badgeItems = "icon-clinically-tested.svg:Clinically Tested
|icon-doctor-approved.svg:Doctors Recommended
|icon-iso-certified.png:ISO9001 Certified
|icon-vegan-friendly.png:Vegan Friendly
|icon-gmp-certified.png:GMP Certified"
| split: '|' %}

<section class="badges-section">
  <div class="container">
    <div class="badges">
    {% for badgeItem in badgeItems %}
      <div class="badge-wrapper">
        <div class="badge">
          <img src="{{ badgeItem | asset_url | split: ":" | first }}" alt="" loading="lazy">
        </div>
        <p>{{ badgeItem | split: ":" | last }}</p>
      </div>
    {% endfor %}
    </div>
  </div>
</section>