<div class="take-control">
  <div class="container">

    <div class="take-control-wrapper">
      
   
      <div class="control-sub-wrapper">
      <img class="control-img" src="{{ 'thirty-day-product-whistle.png' | asset_url }}" width="219" height="140" alt="whistle" loading="lazy"> 
      <div class="controller-text">
        When you finish the 30 days, you’ll be entered into a raffle to win <b>a $200 Amazon Gift Card</b>  as a bonus! Buy something good for your health!
      </div>
      </div>
    </div>
  </div>
</div>

<style>
  .take-control {
    background: #FAE8C2;
    
  }


  .take-control-wrapper {
    display: flex;
    justify-content: center;
    
  }

  .control-sub-wrapper {
    display: flex;
    padding-bottom: 30px;
  }

  .control-sub-wrapper .control-img {
    max-width: 20%;
  }

  .control-sub-wrapper .controller-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: clamp(16px, 2vw, 20px);
    color: var(--dark-green);
  }












  @media screen and (max-width: 768px) {
    .take-control-wrapper {
      padding-bottom: unset;
      width: 100%;
    }




    .control-sub-wrapper .control-img {
      display: none;
    }

  }


</style>