<section class="free-shipping-section">
 
</section>




<style>
  @media screen and (max-width: 768px) {
     .free-shipping-section img {
        height: 9vw;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left;
        object-position: left
    }

  }
</style>