<div class="easy">
    <div class="container">
        <div class="sub-title">
          <h3><b>As easy as 1, 2, 3!</b></h3>         
        </div>
        <div class="easy-wrapper">
            <img class="easy-img" src="{{ 'thirty-day-product-easy-group.png' | asset_url }}" width="967" height="329" alt="">
            <img class="easy-img-mb" src="{{ 'thirty-day-product-easy-group-mb.png' | asset_url }}" width="362" height="593" alt="">
        </div>
        <div class="button-wrapper">
        <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
        </div>
    </div>
</div>


<style>
    .easy .sub-title {
      padding-top: 60px;
    }

    .easy .sub-title h3 {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: 60px;
      line-height: 35px;
      color: var(--dark-green);
      padding-bottom: 30px;
      text-align: center;
    }

    .easy-wrapper {
        display: flex;
        justify-content: center;
    }

    .easy-img-mb {
        display: none;
    }

    button-wrapper {
      display: flex;
      justify-content: center;
      padding: 20px 0 0;
    }

     .cta-btn {  
      background: #FFB22D;
      border: 1px solid #FFB22D;
      font-weight: 700;
      font-size: clamp(14px, 2vw, 18px);
      color: var(--dark-green);
      margin-left: unset;
      border-radius: 5px;
      padding: 15px 40px;

    }

    .cta-btn:hover {
      background: #FFB22D;
      border: 1px solid  #FFB22D;
      color: #FFFFFF;
    }



    @media screen and (max-width: 768px) {
        
        .easy .sub-title h3 {
          font-size: 32px;
          line-height: 35px;
        }

        .easy-img {
            display: none;
        }

        .easy-img-mb {
            display: flex;
        }
      
    }
    
</style>