<section class="how-to-section" id="how-to">
  <div class="container">
    <h2>How to get the best results with CuraLin</h2>
    <img src="{{ 'product-aio-how-to.png' | asset_url }}" alt="" loading="lazy">
    <img src="{{ 'product-aio-how-to-mobile.png' | asset_url }}" alt="" class="mobile-version" loading="lazy">
  </div>
</section>