{% if product.tags contains "sleep" %}
  {% assign category = "sleep" %}
{% elsif product.tags contains "joint" %}
  {% assign category = "joint-care" %}
{% endif %}

<section id="health-benefits-section">
  <div class="container">
    <div class="titles">
      <h2>{{ product.metafields.custom.benefits_section_title }}</h2>
      <p class="subtitle">{{ product.metafields.custom.benefits_section_description }}</p>
    </div>

    <ul class="health-benefits">
      {% for benefit in product.metafields.custom.benefits_images.value %}
        <li class="health-benefit">
          <img src="{{ benefit.src | image_url }}" alt="health benefit" loading="lazy">
          <p>{{ benefit.alt }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<style>
  #health-benefits-section .health-benefits {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
  }

  #health-benefits-section .health-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
    gap: 20px;
  }

  #health-benefits-section .health-benefit p {
    font-weight: normal;
  }

  @media screen and (max-width: 768px) {
    #health-benefits-section .health-benefits {
      flex-direction: column;
      gap: 30px;
    }

    #health-benefits-section .health-benefits .health-benefit {
      flex-direction: row;
      max-width: unset;
      gap: 50px;
    }

    #health-benefits-section .health-benefits .health-benefit:nth-child(even) {
      flex-direction: row-reverse;
    }

    #supplement-page section p {
      text-align: left;
      font-size: 3vw;
    }
  }

  @media screen and (max-width: 550px) {
    #supplement-page section p {
      font-size: 4vw;
    }
  }
</style>