<section class="cta-section">
  <div class="container product-container">
    {% render 'product-all-in-one-cta-section-gallery', isCuralinContent: isCuralinContent %}

    <div class="product-info">
      <h1>{% if product.metafields.my_fields.alternative_title.value %}{{ product.metafields.my_fields.alternative_title.value }}{% else %}{{ product.title }}{% endif %}</h1>

      {% if isCuralinContent %}
        {% render 'product-all-in-one-cta-section-reviews', isReviewsQuotes: isReviewsQuotes  %}
      {% endif %}
    </div>

    {% if badgesPosition == "cta" %}
      {% render 'product-all-in-one-cta-section-actions', ctaColor: ctaColor, title: "Select Your Deal", isReversed: isReversed, isBadges: true, challenge_value: challenge_value, curaeats_value: curaeats_value %}
    {% else %}
      {% render 'product-all-in-one-cta-section-actions', ctaColor: ctaColor, title: "Select Your Deal", isReversed: isReversed, challenge_value: challenge_value, curaeats_value: curaeats_value %}
    {% endif %}
  </div>

  {% if badgesPosition == "bottom" %}
    {% render 'trust-badges-widget', content: "free-shipping,money-back,secure-checkout", colors: "#5c5c5c", bottomLine: true %}
  {% endif %}
</section>

<div class="container line" style="border-bottom: 1px solid #5c5c5c"></div>


<style>
  section {
    padding: 50px 0
  }

  .cta-section .product-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .cta-section .product-container .product-info {
    padding: unset;
    width: unset;
    max-width: 450px;
    grid-area: 1/2/2/3;
    padding-bottom: 30px;
  }

  .cta-section .product-container .product-info h1 {
    font-weight: 600;
    font-size: 40px;
  }

  @media screen and (max-width: 1270px) {
    .container {
      max-width: unset;
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 768px) {
    section {
      padding: 8vw 0;
    }

    .container {
      padding: 0 20px !important;
    }

    .cta-section {
      padding-top: 70px;
      padding-bottom: 0;
    }

    .cta-section .product-container {
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: unset;
      padding: 0 20px 20px;
    }

    .cta-section .product-container .product-info {
      grid-area: unset;
      grid-row: 1;
      text-align: center;
      padding: 0 20px;
      max-width: unset
    }
  }
</style>