<div id="product-curaeats-features-section">
  <div class="container">
    <div class="titles">
      <h2>What's included?</h2>
      <p>Curaeats has everything you need to succeed with healthy, glucose-friendly eating...</p>
    </div>

    <div class="features">
      <div class="feature">
        <div class="highlight-icon"><i class="icofont-check"></i></div>
        <p><b>{{ highlight.title }}</b><br>{{ highlight.subtitle }}</p>
      </div>
    </div>
  </div>
</div>