{% assign benefits = "Promote healthy blood sugar levels|Naturally support your joint cushions|Keep joint inflammation in check" | split: "|" %}

<section id="health-benefits-section">
  <h2>Give joy to your joints</h2>
  <p>It’s the optimal combo of vitamins & herbal supplements! Naturally lubricate your joints and help them recover from daily stresses.</p>

  <ul class="health-benefits">
    {% for benefit in benefits %}
      <li class="health-benefit">
        <img src="{{ "product-supplement-health-benefits-" | append: product-handle | append: "-" | append: forloop.index | append: ".png" | asset_url }}" alt="health-benefit-1" loading="lazy">
        <p>{{ benefit }}</p>
      </li>
    {% endfor %}
  </ul>
</section>