<section class="free-shipping-section">
  {% comment %} <img src="{{ "product-aio-free-shipping-line.png" | asset_url }}" width="1400" height="69" alt="" class="free-shipping-line" loading="lazy"> {% endcomment %}
  <img src="{{ "thirty-day-product-money-back-icon.png" | asset_url }}" width="2085" height="288" alt="" class="free-shipping-line" loading="lazy">
</section>




<style>
  @media screen and (max-width: 768px) {
     .free-shipping-section img {
        height: 9vw;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left;
        object-position: left
    }

  }
</style>