{% assign features = "84 delicious recipes:that are delicious for you and the whole family too!
|Foods you’ll actually want to eat:like banana oat pancakes, Vietnamese crunchy enchiladas, and desserts!
|Detailed shopping lists:organized by weeks so you can get all your shopping done at once"
| split: "|" %}

<div id="product-curaeats-features-section">
  <div class="container">
    <div class="titles">
      <h2>What's included?</h2>
      <p>Curaeats has everything you need to succeed with healthy, glucose-friendly eating...</p>
    </div>

    <div class="features">
      {% for feature in features %}
        <div class="feature">
          <div class="feature-icon"><i class="icofont-check"></i></div>
          <p><b>{{ feature. }}</b><br>{{ feature.subtitle }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>