<section class="free-shipping-section">
  <div class="trust-badge"><i class="icofont-badge"></i>60 Day Money Back Guarantee</div>
 
</section>




<style>
  .free-shipping-section {
    display: flex;
    justify-content: center;
  }
  .free-shipping-section img {
    max-width: 40%;
  }

  .free-shipping-section .trust-badge {
    font-size: clamp(30px, 4vw, 120px);
    color: #404733;
  }

  @media screen and (max-width: 768px) {
    .free-shipping-section .trust-badge {
      text-align: center;
      padding: 0 5vw;
    }

  }
</style>