<div class="how-work">
    <div class="container">
        <div class="sub-title">
          <h3><b>How the 30 day challenge works:</b></h3>         
        </div>
        <div class="sub-text">Each week, we’ll conquer a new health habit together!</div>
     
      
    </div>
    <div class="how-work-wrapper">
        <div class="how-work-text"></div>
      
    </div>
</div>


<style>
  .how-work {
    background: #F4F4DB;
  }
    .how-work .sub-title {
      padding-top: 60px;
    }

    .how-work .sub-title h3 {
      font-family: 'PP Radio Grotesk';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #404733;
    }

    .how-work .sub-text {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #404733;
    }

   


  

 
    .how-work-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    .how-work-text {
        display: flex;
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #404733;
        flex-direction: column;
        justify-content: center;
        max-width: 30%;
    }



    @media screen and (max-width: 768px) {
        
        .how-work .sub-title h3 {
          font-size: 28px;
          line-height: 30px;
        }

        .how-work .sub-text {
          font-size: 20px;
          line-height: 28px;
          color: #000000;
        }

  
        .how-work-wrapper {
            flex-direction: column;
        }

        .how-work-text {
            max-width: unset;
            text-align: center;
            font-size: 19px;
            line-height: 26px;
            color: #000000;
            max-width: unset;
            padding: 30px 20px;
        }

      
    }
    
</style>


