<section class="free-shipping-section">
  <div class="trust-badge"><i class="icofont-badge"></i>60 Day Money Back Guarantee</div>
 
</section>




<style>
  .free-shipping-section {
    display: flex;
    justify-content: center;
  }

  .free-shipping-section .trust-badge {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-transform: uppercase;
    color: #404733;

  }

  @media screen and (max-width: 768px) {
    .free-shipping-section .trust-badge {
      text-align: center;
      padding: 0 5vw;
      font-size: 18px;
      line-height: 22px;
    }

  }
</style>