<section id="product-catalog-section">
    <div class="best">BEST.PRICE.EVER</div>
    <div class="limited"> <span style="color: #ED073E
      ">PLUS</span> Limited time bonuses:</div>
    <div class="changing-programm">30 Day Life Changing Program (Valued $99) & CuraEats Meal Plan App (Valued $29)</div>

</section>

<style>
  

  #product-catalog-section  {
      text-align: center;
      font-size: clamp(28px, 4vw, 40px);
      font-weight: bold;
  }

  #product-catalog-section .changing-programm {
    text-align: center;
    font-size: clamp(16px, 2.5vw, 30px);
   
  }


  @media screen and (max-width:760px) {

    #product-catalog-section .changing-programm {
      padding: 0 1vw;
    }

  }
</style>