<div class="easy">
    <div class="container">
        <div class="sub-title">
          <h3><b>As easy as 1, 2, 3!</b></h3>         
        </div>
    </div>
</div>


<style>
    .easy .sub-title {
      padding-top: 60px;
    }

    .easy .sub-title h3 {
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      font-size: 60px;
      line-height: 35px;
      color: var(--dark-green);
      padding-bottom: 30px;
      text-align: center;
    }


    @media screen and (max-width: 768px) {
        .easy .sub-title h3 {
          font-size: 32px;
          line-height: 35px;
        }
      
    }
    
</style>