<section class="return-policy-section">
  <div class="container">
    <div class="return-policy">
      <img src="{{ "icon-money-back-60-days.png" | asset_url }}" alt="" loading="lazy">
      <div class="return-policy-content">
        <p class="title">Return Policy:</p>
        <p class="description">You get 100% of your money back if you are not 100% satisfied. Yes, even if the bottls are opened, or if you order more than on bottle. Every order is covered by this guarantee, making your purchase risk-free.</p>
      </div>
    </div>
  </div>
</section>