

<section class="pack-info-section-retention">
  <div class="container">
    <div class="info-wrapper">
    <div class="titles">
      <h2 class="title">Nutrition</h2>
      <p class="subtitle">Delicious recipes you’ll love to cook and eat! It’s organized in weekly plans with convenient grocery lists and even easier cooking instructions.</p>
    </div>

    <div class="product-image-wrapper">
      <img class="product-image" src="{{'retention-nutrition.png' | asset_url }}" width="342" height="237" alt="" loading="lazy">
    </div>
    </div>
 
  </div>
</section>


  <style>

  .pack-info-section-retention {
    background: var(--lighter-brown);
  }

  .pack-info-section-retention .info-wrapper {
    display: flex;
  }

   
    .pack-info-section-retention .info-wrapper .titles {
      flex-direction: revert;
      justify-content: start;
      max-width: 100%;
      text-align: left;
    }




    @media all and (max-width: 768px) {
    

    }

  
  </style>



