<section class="free-shipping-section">
  <img src="{{ "product-aio-free-shipping-line.png" | asset_url }}" width="1400" height="69" alt="" class="free-shipping-line" loading="lazy"> 
 
</section>




<style>
  @media screen and (max-width: 768px) {
     .free-shipping-section img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: left;
        object-position: left
    }

  }
</style>