
<section id="sale-titles-section">
  <div class="container titles">
    <h1 class="main-title">{{ mainTitle }}</h1>
    <p class="plus">+</p>
    <div class="subtitle">{{ subTitle }}</div>
  </div>
</section>

<style>
  #sale-titles-section .plus {
    margin: 0;
    font-size: 25px;
  }

  #sale-titles-section .titles {
    font-size: 50px;
    text-align: center;
    padding: 30px 0;
  }

  #sale-titles-section h1.main-title {
    font-size: inherit;
    margin: unset;
  }

  #sale-titles-section .subtitle {
    font-size: 0.5em;
  }
</style>