
<section id="sale-titles-section">
  <div class="catalog">
        {% if shop.name == "CuraLife" %}
          <div class="limited" id="limited">{{ mainTitle }}Enter The Raffle With Extra Holiday Bonuses!</div>
          <p class="plus">+</p>
          <div class="changing-program">30 Day Life Changing Program (Valued $99) & CuraEats Meal Plan App (Valued $29)</div>
        {% else %}
          <h1 style="text-align:center;font-size:30px;">Limited Time Bonus: CuraEats Meal Plan App (Valued £24)</h1>
        {% endif %}
    </div>
</section>

<style>
  #sale-titles-section .plus {
    margin: 0;
    font-size: 25px;
  }

  #sale-titles-section .offer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #C00101;
    color: #ffffff;
    font-size: clamp(25px, 3vw, 35px);
    margin-bottom: 10px;
  }

  #sale-titles-section  .catalog  {
    margin-top: 20px;
      display: flex;
      text-align: center;
      font-size: clamp(28px, 4vw, 40px);
      font-weight: bold;
      flex-direction: column;
      gap: 10px;
  }

  #sale-titles-section .limited {
    font-size: clamp(25px, 3vw, 35px);
  }

  #sale-titles-section .changing-program {
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
  }

  @media screen and (max-width:760px) {
    #sale-titles-section .changing-program {
      padding: 0 1vw;
    }
  }
</style>