
<section id="sale-titles-section">
  <div class="catalog">
    {% if shop.name == "CuraLife" %}
      <div class="main-title">{{ mainTitle }}</div>
      <p class="plus">+</p>
      <div class="changing-program">{{ subTitle }}</div>
    {% else %}
      <h1 style="text-align:center;font-size:30px;">Limited Time Bonus: CuraEats Meal Plan App (Valued £24)</h1>
    {% endif %}
  </div>
</section>

<style>
  #sale-titles-section .plus {
    margin: 0;
    font-size: 25px;
  }

  #sale-titles-section .offer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #C00101;
    color: #ffffff;
    font-size: clamp(25px, 3vw, 35px);
    margin-bottom: 10px;
  }

  #sale-titles-section  .catalog  {
    margin-top: 20px;
      display: flex;
      text-align: center;
      font-size: clamp(28px, 4vw, 40px);
      font-weight: bold;
      flex-direction: column;
      gap: 10px;
  }

  #sale-titles-section .main-title {
    font-size: clamp(25px, 3vw, 35px);
  }

  #sale-titles-section .subtitle {
    text-align: center;
    font-size: clamp(16px, 2vw, 24px);
  }

  @media screen and (max-width:760px) {
    #sale-titles-section .subtitle {
      padding: 0 1vw;
    }
  }
</style>