<div id="sale-banner">
  {% render 'snow-effect' %}
  <div class="container">
    <div class="logo-wrapper">
      {% if isLogo %}
        {% if logoColor %}
          {% assign greenAddition = "-" | append: logoColor %}
        {% endif %}
        <img class="logo" src="{{ 'hs-santa-logo' | append: greenAddition | append: '.png' | asset_url }}" alt="logo">
      {% endif %}
    </div>
    <p class="title">{{ title }}</p>

    <div class="cta-wrapper">
      {% if isCTA %}
        <div class="off-container">
          <div class="up-to">UP TO</div>
          <div class="thirty-off">20% OFF</div>
        </div>
        <a class="main-btn" id='main-cta-btn' href="#product-list-section">ORDER NOW</a>
      {% elsif isProductPage %}
        <div class="off-container">
          <div class="up-to">UP TO</div>
          <div class="thirty-off">20% OFF</div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  {% if isFixed %}
    .hero-banner {
      padding-top: 80px;
    }
  {% endif %}

  #sale-banner {
    background: {% if color == "red" %}linear-gradient(#A9151E, #d50b15){% elsif color == "green" %}linear-gradient(#4B643D, #4B643D){% else %}white{% endif %};
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
    width: 100%;
    z-index: 20;
    min-height: 80px;
    {% if isFixed %}position: fixed;{% endif %}
  }

  #sale-banner .container {
    position: relative;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #sale-banner img.logo {
    object-fit: contain;
  }

  #sale-banner p.title {
    display: flex;
    justify-content: center;
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: clamp(35px, 2vw, 50px);
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    text-shadow: 2px 1px 4px #ffffff;
    margin: unset;
    padding-bottom: 20px;
  }

  #sale-banner .cta-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
  }
   {% if isProductPage %}
     #sale-banner .off-container {
      display:none;
    }
    {% else %}
    #sale-banner .off-container {

        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'PP Radio Grotesk';
        gap: 10px;
        color: white;
    }
  {% endif %}


  #sale-banner .up-to {
      font-size: 25px;
  }

  #sale-banner .thirty-off {
      margin-right: 10px;
      font-size: 35px;
      font-weight: bold;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  #sale-banner a.main-btn {
    font-size: 26px;
    padding: 10px 40px;
    color: #C00101;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 5.01961px 12.549px rgba(0, 0, 0, 0.15);
  }

  @media screen and (max-width: 760px) {
    {% if isFixed %}
      #sale-banner .logo-wrapper {

        display: none;
      }
    {% endif %}

    {% if isProductPage %}

      #sale-banner .off-container {

          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'PP Radio Grotesk';
          gap: 1vw;
          color: white;
          margin-left: 37vw;
      }

      #sale-banner .thirty-off {
          margin-right: unset;
          font-size: 6vw;
          line-height: 6vw;
      }

    {% endif %}

    {% if isProductPage %}
      #sale-banner p.title {   
        display: none;
      }
  {% else %}
 
  {% endif %}

  #sale-banner .title {   
    padding: 2vw;
  }

  #sale-banner p.title {
    font-size: 9vw;
  }


    #sale-banner .cta-wrapper {
      gap: 1vw;
      
    }

    #sale-banner .off-container {
        width: 50%;
    }

    #sale-banner .main-logo  {
        display: none;
    }

    #sale-banner .up-to {
        font-size: 4vw;
    }

    #sale-banner .thirty-off {
        margin-right: unset;
        font-size: 7vw;
        line-height: 7vw;
    }
    #sale-banner a.main-btn {
        font-size: 4vw;
        padding: 2vw;
        height: 10vw;
        width: 50%;
    }
}
</style>

{% render 'sparkles', element_selector: '#sale-banner' %}