
<section id="sale-titles-section">
  <div class="container">
    <h1 class="main-title">{{ mainTitle }}</h1>
    <p class="plus">+</p>
    <div class="changing-program">{{ subTitle }}</div>
  </div>
</section>

<style>
  #sale-titles-section .plus {
    margin: 0;
    font-size: 25px;
  }

  #sale-titles-section .offer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #C00101;
    color: #ffffff;
    font-size: clamp(25px, 3vw, 35px);
    margin-bottom: 10px;
  }

  #sale-titles-section .container {
    font-size: 50px;
    text-align: center;
  }

  #sale-titles-section .subtitle {
    font-size: 0.8em;
  }
</style>