{% assign faqItems = "Can I take CuraLin alongside my drugs?:CuraLin is a natural dietary supplement, meaning that it’s meant as a compliment to your existing regime. You simply take it as part of your diet to help maintain a healthy blood sugar level. Thousands of CuraLin users take CuraLin alongside their prescribed drugs and treatments and no serious negative interactions have been recorded. Of course, please consult with your doctor before starting on CuraLin, whether you’re on drugs or not.
|What are the clinical results of CuraLin?:CuraLin’s real-world results show a very high level of safety and efficacy in supporting a healthy fasting and A1c level, improving daily energy, and helping with weight loss. A clinical case study on CuraLin’s effectiveness were published in a peer-reviewed medical journal, and CuraLin is currently involved in a number of double blind placebo controlled studies.
|Is CuraLin recommended by doctors?:Yes! Hundreds of doctors recommend CuraLin, and the number is rapidly growing. These include high profile doctors, endocrinologists, and diabetes researchers. Doctors are seeing an average success rate of about 90% with their patients, and many of these doctors also take CuraLin themselves for blood sugar support.
|Is CuraLin safe?: Yes! CuraLin has been noted by researchers for its ‘highly favorable safety profile’.
The production is done in GMP and ISO9001 certified, and registered facilities.
Every batch of CuraLin undergoes at least 10 safety tests during the production process. All tests are conducted by fully certified independent labs for total transparency. No severe negative effects have been reported while taking CuraLin, and it is safe to use alongside prescribed medication (consult your doctor first, of course).
|Is the capsule natural?:Yes, CuraLin comes in an easy to swallow rice-based capsule. It is 100% natural and vegan friendly.
|Where can I read more about the science?:CuraLin has 9 natural ingredients, each with its own actions that support healthy blood sugar. Together, they support 18 key body functions. CuraLin’s product page goes into depth on the science behind each ingredient and lists out a lot of the scientific studies. Check it out here.
|Which benefits will I get by using CuraLin?:CuraLin has many benefits including helping to promote:
· Healthy and stable blood sugar levels
· High daily energy levels
· Healthy weight loss
· Healthy pancreas and beta cell function
· Reduced cravings for sugars & other carbs
· Healthy absorption rates of carbohydrates
· Healthy live and kidney function
CuraLin users also rave about how they have more motivation and positivity in life after seeing that they can succeed.
We guarantee that you will love CuraLin. If for whatever reason you’re not 100% satisfied within 60 days, just write to our support for your money back.
|I started to see results within 2 days. Is that too fast?:Not at all! And we’re happy to hear that you’re seeing results so fast. We recommend taking CuraLin for 2-3 weeks before seeing results only to set expectations. But it’s completely normal to see results in as little as 2-3 days.
|What’s the story behind CuraLin?:CuraLife was founded by Ron when his father needed help with glucose support. None of the products he tried and none of the lifestyle changes he made where helping. So Ron, flew around the world looking for something that would help. Ron was introduced to a family of Ayurvedic doctors on an educational trip to India. They developed a glucose support formula together, and after years of research and testing, CuraLin was born. Today, CuraLin is used by over 100,000 customers around the world.
|I’m a doctor and want to recommend CuraLin to my patients. Do you have a professional program?:We do! Please click on this link to register for our Professionals program.
|Will my doctor approve of this?:Over 700 doctors, endocrinologists, and medical practitioners are already recommending CuraLin to their patients. While we cannot speak for (and you should consult) your doctor, we can say that doctors everywhere have been thrilled by the results their patients are seeing with CuraLin.
|Can you tell me more about the 100,000 member support community?:Peer-support is one of the most important things you can get to help you maintain healthy blood sugar levels. Having a community that’s there to answer your questions, share a recipe, or give you a shoulder to lean is super valuable. This is the world’s largest online blood sugar support community, and it’s there for you day and night. Once you place your CuraLin order, we’ll send you an invite so you can join."
| split: '|' %}

<section class="faq-section">
    <div class="container">
        <div class="faq">
            {% for faqItem in faqItems %}
                <div class="faq-item">
                <div class="question">
                {{ faqItem | split: ":" | first }}
                </div>
                <div class="answer">
                    <p>{{ faqItem | split: ":" | last }}</p>
                    </div>
           </div>
        {% endfor %}
        </div>
    </div>
</section>



<style>
.faq-section .container .faq {
    margin: 1rem auto;
}

.faq-section .container .faq .faq-item {
    border-bottom: 1px solid #d3d3d3;
}

.faq-section .container .faq .faq-item .question {
    padding: 0.7rem 3rem 0.7rem 0;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
}

.faq-section .container .faq .faq-item .question:after {
    content: "+";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    transition: transform 0.3s;
}

.faq-section .container .faq .faq-item .question.active:after {
    transform: rotate(45deg);
}

.faq-section .container .faq .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}

.faq-section .container .faq .faq-item .answer p {
    padding: 0 1rem 1rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    display: flex;
    align-items: center;
    max-width: 70%;
    margin: auto;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient img {
    margin-left: -10%;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: 50px;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    font-size: 40px;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-description {
    font-size: 20px;
    font-weight: 300;
    line-height: 2rem;
}

.swiper-nav {
    color: grey;
    width: 10px;
    top: 150px;
}

@media screen and (max-width:760px) {
    .faq-section .container .faq .faq-item .question {
    font-size: 14px;
    }

    .faq-section .swiper-slide {
        overflow: scroll;
    }

    .faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient {
    flex-direction: column;
    max-width: 80%;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content {
    margin-left: unset;
}

.faq-section .container .faq .faq-item .answer .ingredients-main-slider .ingredients .ingredient .ingredient-content .ingredient-title {
    margin: 0;
}
}
</style>

<script>
    const accordionItemHeaders = document.querySelectorAll(".question");

accordionItemHeaders.forEach(accordionItemHeader => {
  accordionItemHeader.addEventListener("click", event => {
    
    // Uncomment in case you only want to allow for the display of only one collapsed item at a time!
    
    // const currentlyActiveAccordionItemHeader = document.querySelector(".accordion-item-header.active");
    // if(currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
    //   currentlyActiveAccordionItemHeader.classList.toggle("active");
    //   currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
    // }

    accordionItemHeader.classList.toggle("active");
    const accordionItemBody = accordionItemHeader.nextElementSibling;
    if(accordionItemHeader.classList.contains("active")) {
        accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
    }
    else {
      accordionItemBody.style.maxHeight = 0;
    }
    
  });
});

faqIngredientsMainSliderAllInOne = new Swiper('.faq-section .ingredients-main-slider.swiper', {
        slidesPerView: 1,
        spaceBetween: 15,
        watchSlidesVisibility: false,
        loop: false,
        autoHeight: true,
        slideToClickedSlide: true,
        navigation: {
            nextEl: '.faq-section .swiper-button-next',
            prevEl: '.faq-section .swiper-button-prev',
            disabledClass: 'disabled'
        }
    });
</script>