<section id="healthier-life">
    <div class="background-container">
    <div class="container">
        <div class="life-wrapper">

        </div>
    </div>
    </div>
</section>


<style>

    #healthier-life {
        position: relative;
    }
    #healthier-life .background-container  {
        background: #E8E8B0;   
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
</style>