<section id="healthier-life">
    <div class="background-container">
    <div class="container">
        <div class="life-wrapper">
            <div class="life-title">Start a  healthier life today</div>
           
              <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
          

        </div>
    </div>
    </div>
</section>


<style>

    #healthier-life {
        position: relative;
    }
    #healthier-life .background-container  {
        background: #E8E8B0;   
        
        
    }

    #healthier-life .background-container .container .life-wrapper {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }

    #healthier-life .background-container .container .life-wrapper .life-title {
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 56px;
        line-height: 58px;
        letter-spacing: -0.03em;
        color: #404733;
    }

    #healthier-life .background-container .container .life-wrapper .cta-btn {
        font-weight: 100;
        background: var(--dark-green);
        text-align: center;
        border: 1px solid var(--dark-green);
        border-radius: 4px;
        font-size: clamp(20px, 2vw, 18px);
        letter-spacing: ;
        color: white;
        padding: 10px 30px;
        box-shadow: 0px 5px 12.5px rgb(0 0 0 / 15%);
        transition: unset;
        margin-bottom: 20px;
        width: 250px;
        margin-top: 40px;
    }




    @media screen and (max-width: 768px) {
        #healthier-life .background-container .container .life-wrapper .life-title {  
            font-size: 6vw;
            line-height: 33px;
           
        }
    }


</style>