<section class="nav-bar">
  <div class="container">
      <div class="container-text">
       
          <div class="summer-sale part-60">
              <div class="summer">SUMMER</div>
              <img src="{{ 'page.aio-first-page-sale.png' | asset_url }}" alt="" loading="lazy">
          </div>
         
        
      </div>
  </div>
</section>



<style>
  .nav-bar {
      background: #FDCB3B;

  }

  .container-text {
      display: flex;  
      align-items: center;
      justify-content: center;
      
  }







  .summer-sale {
      padding: 0 20px;
      z-index: 5;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      top: 20px;   
      gap: 20px;
      background: #8FD9EB;
      transform: rotate(-1.07deg);
      
  }

  .summer-sale img {
      transform: rotate(1.07deg);
  }

  .summer {
      font-family: 'Montserrat';     
      font-weight: 400;
      font-size: 56px; 
      color: #FFFFFF;
      
  }



  @media screen and (max-width: 760px) {
     .summer-sale {
        width: min-content;
        gap: unset;
     }

     .summer {
        position: relative;
        top: 2vw;
     }
  
      .part-60 {
          width: 100%;
      }

      .summer-sale {
          top: 1vw;
          padding: unset;
          max-width: 40vw;
      }

      .summer-sale img {
          width: 32vw;
      }

      .summer {
          font-size: 7vw;
      }


  } 
</style>