<section class="thank-you-new-best-result">
  
    <img class="pink-leaf" src="{{ 'thank-you-best-results-leaf.png' | asset_url }}" width="279" height="326" alt="pink leaf">
    <img class="green-leaf" src="{{ 'thank-you-best-results-bottle.png' | asset_url }}" width="367" height="384" alt="bottle with phone">
  
  <div class="container">
   
  <div class="best-result-title">
      How to get the best results
      over the next 30 days:
    </div>

  
  </div>
</section>

<style>
  .thank-you-new-best-result {
    position: relative;
    
  }

  .thank-you-new-best-result .pink-leaf {
    position: absolute;
    top: 0px;
    max-width: 30%;
  }

  .thank-you-new-best-result .green-leaf {
   position: absolute;
   right: 0;
   bottom: 0;
  }

  .best-result-title {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #404733;
    max-width: 70%;
    margin: auto;
  }







  @media screen and (max-width: 768px) {
    .thank-you-new-best-result .pink-leaf {
      
    }

    .thank-you-new-best-result .green-leaf {
     
    }
  
  .thank-you-new-best-result .green-leaf {
    position: absolute;
    right: -30px;
    bottom: -40px;
  }

  .best-result-title {
    font-size: 40px;
    line-height: 40px;
    max-width: unset;
  }
   
  }
</style>




