<div class="weeks-for-you">
  <div class="container">

    <div class="weeks-for-you-wrapper">
      {% for realChange in realChanges %}
      <div class="change-item-and-desc">
        <div class="change-item-thumbnail">
          <img src="{{ realChange | asset_url | split: "*" | first }}" width="102" height="86" alt="">
          {{ realChange | split: "*" | last | split: ":" | first }}
        </div>
        <div class="border-desk"></div>  
        <div class="rw-item-description">
        {{ realChange | split: "*" | last | split: ":" | last }}
        </div>
      </div>

      {% endfor %}
    </div>
    
  </div>
</div>

<style>
  .weeks-for-you {
    background: var(--light-brown);
  }





  .weeks-for-you-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
  }

  .border-desk {
    border: 1px solid var(--dark-green);
    width: 40%;
    margin: 0 auto;  
  }

  .change-item-and-desc {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
  }

  .change-item-thumbnail {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: var(--dark-green);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }




 






  @media screen and (max-width: 768px) {

    .weeks-for-you-wrapper {
      gap: 20px;
    }



    .change-item-and-desc {
      max-width: unset;
      width: 100%;

    }

    .change-item-thumbnail {
      flex-direction: row;
      width: 100%;
      font-size: 24px;
      justify-content: flex-start;
      text-align: left;
    }

  }
</style>