

<section class="timeline">
<div class="container">
     <div class="break-it">Let’s break it down:</div>

  <ul>
    <li>
      <div>
        <time>Week</time>
        {% for i in (1..4) %}
           
              {% assign imgUrl = "thirty-day-break-" | append: i | append: ".png" %}
              <img src="{{ imgUrl | asset_url }}" alt="" loading="lazy">
            </div>
            {% endfor %}
          
      </div> 
    
  
  
  </ul>

  </div>
</section>

<style>

 .timeline {
    background: #555F44;
 }

 .timeline .break-it {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(30px, 5vw, 60px);
    line-height: 35px;
    color: white;
    padding-bottom: 30px;
 }

 @-webkit-keyframes pulsate {
     0% {-webkit-transform: scale(0.1, 0.1); opacity: 0;left:-12px;}
     50% {opacity: 1;}
     100% {-webkit-transform: scale(1, 1); opacity: 1;left:-12px;}
 }

    .timeline ul li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin-left: 20%;
      padding-top: 50px;
      background: rgba(185, 200, 107, 0.5);
      
    }

    .timeline ul li::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: inherit;
     
    }

    .timeline ul li div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      background: #F45B69;
    }

    .timeline ul li div::before {
      content: '';
      position: absolute;
      bottom: 7px;
      width: 0;
      height: 0;
      border-style: solid;
    }

    .timeline ul li div {
      left: 45px;
    }


 

    time {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 8px;
    }


 


    .timeline ul li::after {
      transition: background .5s ease-in-out;
    }

    .timeline ul li.in-view::after {
        background: #B9C86B;
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: 2; 
        opacity: 1.0;
    }

    .timeline ul li div {
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
    }

    .timeline ul li div {
      transform: translate3d(200px, 0, 0);
    }

  

    .timeline ul li.in-view div {
      transform: none;
      visibility: visible;
      opacity: 1;
    }



    @media screen and (max-width: 768px) {
      .timeline ul li {
        margin-left: 20px;
      }
      .timeline ul li div {
        width: calc(100vw - 91px);
      }
     
    } 

</style>



<script>
    (function() {

      'use strict';

      // define variables
      var items = document.querySelectorAll(".timeline li");

      // check if an element is in viewport
      // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
      function isElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      function callbackFunc() {
        for (var i = 0; i < items.length; i++) {
          if (isElementInViewport(items[i])) {
            items[i].classList.add("in-view");
          }
        }
      }

      // listen for events
      window.addEventListener("load", callbackFunc);
      window.addEventListener("resize", callbackFunc);
      window.addEventListener("scroll", callbackFunc);

    })();



</script>