<div class="commitement-for-you">
  <div class="container">

    <div class="sub-title">
      <h3><b>Celebrate your commitment!</b></h3>
    </div>
    <div class="commitement-for-you-wrapper">
      
    </div>
   
    
  </div>
</div>

<style>
  .commitement-for-you {
    background: var(--white-cream);
    
  }

  .commitement-for-you .sub-title {
    padding-top: 60px;
  }

  .commitement-for-you .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(55px, 2vw, 60px);
    line-height: 35px;
    color: var(--dark-green);
    padding-bottom: 30px;
  }

  .commitement-for-you-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

 

  @media screen and (max-width: 768px) {

   .commitement-for-you {
    margin-top: 50px;
   }
    .commitement-for-you-wrapper {
      padding-bottom: unset;
    }

    .commitement-for-you .sub-title h3 {
      text-align: left;
      font-size: 32px;
      line-height: 35px;
    }
  

  }
</style>