<div class="challenge-for-you">
  <div class="container">

    <div class="sub-title">
      <h3><b>Is this challenge right for you?</b></h3>
    </div>
    <div class="challenge-for-you-wrapper">
      {% for challenge in challenges %}
      <div class="challenge-item-and-desc">
        <div class="challenge-item-thumbnail">
          <img src="{{ challenge | asset_url | split: "*" | first }}" width="102" height="86" alt="">
          {{ challenge | split: "*" | last }}
        </div>    
      </div>
      {% endfor %}
    </div>
    <div class="descripton-wrapper">
    <div class="rw-item-description">
      Then YES! This challenge is for you! 
    </div></div>
      <div class="button-wrapper">
    <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
    </div>
  </div>
</div>

<style>
  .challenge-for-you {
    background: var(--medium-green);
  }

  .challenge-for-you .sub-title {
    padding-top: 60px;
  }

  .challenge-for-you .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    color: var(--white);
    padding-bottom: 30px;
  }

  .challenge-for-you .sub-title .description-overlay  {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    color: var(--dark-green);
    padding-bottom: 20px;
  }



  .challenge-for-you-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .border-desk {
    border-top: 1px solid var(--dark-green);
    width: 60%;
    margin: 0 auto;  
  }

  .challenge-item-and-desc {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
  }

  .challenge-item-thumbnail {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: var(--dark-green);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .descripton-wrapper {
    padding: 30px 0;
  }

  .rw-item-description {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--dark-green);

  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .challenge-for-you .container .cta-btn {  
    background: var(--dark-green);
    border: 1px solid var(--dark-green);
    font-weight: 700;
    font-size: clamp(14px, 2vw, 18px);
    color: var(--white);
    margin-left: unset;
    
  }

  .challenge-for-you .container .cta-btn:hover {
    background: var(--regular-green);
    border: 1px solid  var(--regular-green);
  }



  @media screen and (max-width: 768px) {
    .border-desk {
      display: none;
    }

    .challenge-for-you-wrapper {
      padding-bottom: unset;
    }

    .challenge-for-you .sub-title h3 {
      text-align: left;
      font-size: 32px;
      line-height: 35px;
    }

    .challenge-for-you .sub-title .description-overlay {
      text-align: left;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      padding-bottom: unset;
    }

    .challenge-item-and-desc {
      max-width: unset;
      width: 100%;

    }

    .challenge-item-thumbnail {
      flex-direction: row;
      width: 100%;
      font-size: 24px;
      justify-content: flex-start;
      text-align: left;
    }

    .rw-item-description {
      text-align: left;
    }

    .challenge-for-you .container .cta-btn {  
      position: unset; 
      width: unset;
      z-index: unset;

    }

  }
</style>