<div class="commitement-for-you">
  <div class="container">

    <div class="commitement-for-you-wrapper">
      
      <div class="sub-title">
        <h3><b>Celebrate your commitment!</b></h3>
      </div>
      <div class="commit-sub-wrapper">
      <img class="commit-img" src="{{ 'thirty-day-commit-gift-card.png' | asset_url }}" width="368" height="253" alt="gift-card" loading="lazy"> 
      <div class="commitement-text">
        When you finish the 30 days, you’ll be entered into a raffle to win <b>a $200 Amazon Gift Card</b>  as a bonus! Buy something good for your health!
      </div>
      </div>
    </div>
   
    
  </div>
</div>

<style>
  .commitement-for-you {
    background: var(--white-cream);
    
  }

  .commitement-for-you-wrapper .sub-title {
    padding-top: 60px;
  }

  .commitement-for-you-wrapper .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(40px, 2vw, 60px);
    line-height: 35px;
    color: var(--dark-green);
  }

  .commitement-for-you-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 110px 40px;  
  }

  .commit-sub-wrapper {
    display: flex;
  }

  .commit-sub-wrapper .commit-img {
    width: 40%;
  }


  .commit-sub-wrapper .commitement-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--dark-green);
  }



 

  @media screen and (max-width: 768px) {
    .commitement-for-you-wrapper {
      padding-bottom: unset;
    }

    .commitement-for-you-wrapper .sub-title h3 {
      text-align: left;
      font-size: 32px;
      line-height: 35px;
    }
  

  }
</style>