<div class="commitement-for-you">
  <div class="container">

    <div class="commitement-for-you-wrapper">
      
      <div class="sub-title">
        <h3><b>Celebrate your commitment!</b></h3>
        <img class="commit-img-mb" src="{{ 'thirty-day-commit-gift-card.png' | asset_url }}" width="368" height="253" alt="gift-card" loading="lazy"> 
      </div>
      <div class="commit-sub-wrapper">
      <img class="commit-img" src="{{ 'thirty-day-commit-gift-card.png' | asset_url }}" width="368" height="253" alt="gift-card" loading="lazy"> 
      <div class="commitement-text">
        When you finish the 30 days, you’ll be entered into a raffle to win <b>a $200 Amazon Gift Card</b>  as a bonus! Buy something good for your health!
      </div>
      </div>
    </div>
   <div class="commitment-we-proud">
    We’re proud of you!
   </div>
    
  </div>
</div>

<style>
  .commitement-for-you {
    background: var(--white-cream);
    
  }

  .commitement-for-you-wrapper .sub-title {
    display:flex;
    justify-content: center;
    padding-top: 60px;
    margin-bottom: unset;
    padding-bottom: 20px;
  }

  .commitement-for-you-wrapper .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(34px, 2vw, 60px);
    line-height: 35px;
    color: var(--dark-green);
  }

  .commitement-for-you-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }

  .commit-sub-wrapper {
    display: flex;
    padding-bottom: 30px;
  }

  .commit-sub-wrapper .commit-img {
    max-width: 20%;
  }

  .sub-title .commit-img-mb {
    display: none;
  }


  .commit-sub-wrapper .commitement-text {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: clamp(16px, 2vw, 20px);
    color: var(--dark-green);
  }

  .commitment-we-proud {
    background-image: url("{{ 'thirty-day-commit-swoosh.png' | asset_url }}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(32px, 2vw, 40px);
    line-height: 62px;  
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--dark-green);
  }

  @media screen and (max-width: 768px) {
    .commitement-for-you-wrapper {
      padding-bottom: unset;
      width: 100%;
    }



    .commitement-for-you-wrapper .sub-title {
      justify-content: space-between;
    }

    .commit-sub-wrapper .commit-img {
      display: none;
    }

    .sub-title .commit-img-mb {
      display: inline-block;
      max-width: 35%;
    }

    .commitement-for-you-wrapper .sub-title h3 {
      text-align: left;
      font-size: clamp(30px, 2vw, 32px);
      line-height: 35px;
    }

    .commitment-we-proud {
      line-height: 54px;
    }
  }

  @media screen and (max-width: 350px) {
    .sub-title .commit-img-mb {
      max-width: 31%;
    }
  }
</style>