
<section id="challenge-section">
  <div class="container">
    <h3> Everything you need
    </h3>
    <p>to keep your blood sugar maintained:</p>

    <div class="features-wrapper">
      <img class="main-image" src="{{ 'thirty-day-challenge-section-main-img.png' | asset_url }}" width="886" height="689" alt="">
      {% assign features = "<b>30 day supply of Curalin</b>  (180 capsules) 
        |<b>30 day mouth-watering meal plan</b> including recipes and videos
        |<b>14 day easy-to-do movement and exercise plan</b> with videos
        |<b>Blood Sugar Explained</b> In Plain English (infographic)
        |<b>Curalife Blood Sugar Healthy Cookbook</b>
        |<b>Free Shipping </b>
        |<b>Community support</b>  with 100K+ peers
        |<b>24/7 Customer Support</b>  (phone, email, or live chat)" | split: "|" %}

      <div class="features">
        {% for feature in features %}
          <div class="feature">
            <div class="feature-icon"><i class="icofont-check"></i></div>
            <div class="feature-text">{{ feature | split: "|" | last }}</div>
          </div>
        {% endfor %}
      </div>
      <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
     
    </div>
  </div>
</section>

<style>
  #challenge-section .container {
    font-weight: bold;
    position: relative;
  }

  #challenge-section {
    position: relative;
    color: var(--dark-green);
    padding: 50px 0;
    line-height: 1.2em;
  }

  #challenge-section h3 {
    font-family: 'PP Radio Grotesk';
    color: var(--dark-green);
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin: 0 auto;
    z-index: 0;
    position: relative;
    width: fit-content;
  }

  #challenge-section p {
    text-align: center;
    font-family: 'PP Radio Grotesk';
    font-weight: 400;
    font-size: 58px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--dark-green);
  }

  #challenge-section .features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #challenge-section .main-image {
    max-width: 60%;
  }

  #challenge-section .features {
    max-width: 40%;
    display: flex;
    flex-direction: column;
  }

  #challenge-section .features .feature {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 15px 0;
    font-family: "PP Radio Grotesk";
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
  }

  #challenge-section .features .feature:last-child {
    border-bottom: unset;
  }

  #challenge-section .features .feature .feature-icon {
    background: var(--light-green);
    color: white;
    border-radius: 50%;
    min-width: 45px;
    height: 45px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .cta-btn {
    font-weight: 100;
    background: var(--orange);
    text-align: center;
    border: 1px solid  var(--orange);
    border-radius: 4px;
    font-size: clamp(20px, 2vw, 18px);
    letter-spacing: {% if isLP %} 1.5px {% endif %};
    color: var(--dark-green);
    padding: 10px 30px;
    box-shadow: 0px 5px 12.5px rgba(0, 0, 0, 0.15);
    transition: unset;
    margin-bottom: 20px;
    width: 250px;
    margin-top: 40px;
  }

  .cta-btn:hover {
    background: var(--light-orange);
  }

  @media screen and (max-width: 768px) {
    #challenge-section .container {
      padding: 0 15px;
    }

    #challenge-section h3 {
      font-size: 32px;
      line-height: 35px;
    }

    #challenge-section p {
      font-size: 29px;
      line-height: 24px;
    }

    #challenge-section .main-image {
      position: relative;
      min-width: 140%;
      right: 20%;
      bottom: 0;
    }

    #challenge-section .features {
      max-width: unset;
    }
  }
</style>