<div class="real-changes">
    <div class="container">
        
            <div class="sub-title">
                <h3><b>What’s in it for you?</b></h3>
                <div class="description-overlay">
                    <h4>
                      To list a few...
                    </h4>
                </div>
            </div>
            <div class="real-changes-wrapper">
                {% for realChange in realChanges %}
                        <div class="change-item-thumbnail">
                            <img src="{{ realChange | file_url | split: "*" | first }}" width="102" height="86" alt="">
                        </div>
                        <div class="rw-item-description">
                            <h4>{{ realChange | split: "*" | last | split: ":" | first }}</h4>
                            <p>{{ realChange | split: "*" | last | split: ":" | last }}</p>
                        </div>
            
            {% endfor %}
            </div>
    </div>
</div>

<style>
   .real-changes {
       background: var(--light-brown);
   }

   .real-changes .sub-title {
    padding-top: 60px;
   }
   .real-changes .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    color: var(--dark-green);
    padding-bottom: 30px;
  }

  .real-changes .sub-title .description-overlay h4 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    color: var(--dark-green);
    padding-bottom: 20px;
  }



    .real-changes-wrapper {    
      display: flex;
    }
    .change-item-thumbnail {

    }

  
 @media screen and (max-width: 768px) {
     
 .real-changes .sub-title h3 {
     text-align: left;
     font-size: 32px;
     line-height: 35px;
 }
  .real-changes .sub-title .description-overlay h4 {
     text-align: left;
     font-size: 20px;
     line-height: 24px;
   }
   
   }

</style>


<style>
    .real-changes .sub-title {
        border-top: unset !important;
    }

    .rw-item-box {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .rw-item-description {
        width: unset;
        max-width: 350px;
    }

    .rw-item-description h4 {
        margin: 5px;
    }

</style>