<section class="say-goodbye-section">
  <div class="container">
    <div class="say-goodbye">
      <div class="say-goodbye-content">
        <p class="goodbye">Say goodbye to 
        unpredictable blood sugar levels</p>
        <p class="say-hello">and hello to a happier, healthier you. </p>
      </div>
    </div>
  </div>
</section>


<style>

 .say-goodbye-section {
    
    padding: 15px 0;
}

 .say-goodbye-section .say-goodbye {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    align-items: center
}


 .say-goodbye-section .say-goodbye .say-goodbye-content {
    margin-left: 30px
}

 .say-goodbye-section .say-goodbye .say-goodbye-content .goodbye {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px
}

 .say-goodbye-section .say-goodbye .say-goodbye-content .say-hello {
    margin: 0;
    font-size: 16px
}

 
   .say-goodbye-section .say-goodbye {
      display: flex;
      justify-content: center;
      max-width: 800px;
      margin: auto;
      align-items: center
  }


  .say-goodbye-section .say-goodbye .say-goodbye-content {
      margin-left: 30px
  }

 .say-goodbye .say-goodbye-content .goodbye {
      font-size: 30px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px
  }

   .say-goodbye-section .say-goodbye .say-goodbye-content .say-hello {
      margin: 0;
      font-size: 16px
  }

  @media screen and (max-width: 768px) {


  .say-goodbye-section .say-goodbye .say-goodbye-content {
      margin-left: 6vw
  }

 .say-goodbye-section .say-goodbye .say-goodbye-content .goodbye {
      font-size: 24px
  }


  }
</style>