
<section class="hero-banner">
  <div class="container">
    <div class="hero-banner-content">
      <div class="text-button">
        <div class="main-title">{{ mainTitle }}</div>
        <div class="subtitle">{{ subTitle }}</div>
      </div>
      {% comment %} <img class="main-img" src="{{ 'mask-and-bottle.png' | asset_url }}" width="1039" height="528" alt="bottle-hand-mask" loading="lazy"> {% endcomment %}
    </div>
  </div>
  {% comment %} <img class="main-img-mb" src="{{ 'mask-and-bottle-mb.png' | asset_url }}" width="750" height="1084" alt="bottle-hand-mask-mb" loading="lazy"> {% endcomment %}
</section>

<style>

  
  .hero-banner {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #D07D5B 0%, #FB9378 60.74%);
    
    
  }

  .hero-banner .main-img {
    position: relative;
    left: 50px;
  }


  .hero-banner-content {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 20px;
  }

  .hero-banner-content .text-button {
    display: flex;
    flex-direction: column;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    min-width: 40%;
  }

  .hero-banner-content .text-button .main-title {
    color: #FFF1E8;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size:  115px;
    line-height:107px;
    letter-spacing: -0.02em;
}
  .hero-banner-content .text-button .subtitle {
    color: var(--dark-green);
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 73px;
    line-height: 75px;  
    letter-spacing: -0.03em;
  }

  .hero-banner .main-img-mb {
    display: none;
  }

  .hero-banner .container .main-btn.mobile-btn {
    display: none;
  }



  @media screen and (max-width: 768px) {
    .hero-banner {
      text-align: center;
      height: calc(100vh - 60px);
     
    }


    


    .hero-banner-content {
      display: block;
      padding-top: 40px;
    }

    .hero-banner-content .text-button .main-title {
      text-align: center;
      font-size:  48px;
      line-height: 45px;
    }

    .hero-banner-content .text-button .subtitle {
      font-size: 29px;
      line-height: 33px;
      text-align: center;
      letter-spacing: -0.03em;
    }

    .hero-banner-content .main-img {
      display: none;
    }

    .hero-banner .main-img-mb {
      display: block;
      position: absolute;
      top:  140px ;
      width: 120%;
    }

    .hero-banner-content .text-button {
      margin-left: unset;
    }

    .hero-banner .container .main-btn.mobile-btn {
      display: block;
      margin-top: -30vw;
      text-transform: unset !important;
    }

  }

  
  }
</style>