<div class="real-for-you">
  <div class="container">

    <div class="sub-title">
      <h3><b>What’s in it for you?</b></h3>
      <div class="description-overlay">
        <h4>
          To list a few...
        </h4>
      </div>
    </div>
    <div class="real-for-you-wrapper">
      {% for realChange in realChanges %}
      <div class="change-item-and-desc">
        <div class="change-item-thumbnail">
          <img src="{{ realChange | asset_url | split: "*" | first }}" width="102" height="86" alt="">
          <h4>{{ realChange | split: "*" | last | split: ":" | first }}</h4>
        </div>
        <div class="rw-item-description">

          <p>{{ realChange | split: "*" | last | split: ":" | last }}</p>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

<style>
  .real-for-you {
    background: var(--light-brown);
  }

  .real-for-you .sub-title {
    padding-top: 60px;
  }

  .real-for-you .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    color: var(--dark-green);
    padding-bottom: 30px;
  }

  .real-for-you .sub-title .description-overlay h4 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    color: var(--dark-green);
    padding-bottom: 20px;
  }



  .real-for-you-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .change-item-and-desc {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: center;
  }

  .change-item-thumbnail h4 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: var(--dark-green);
  }

  .rw-item-description p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--dark-green);

  }



  @media screen and (max-width: 768px) {

    .real-for-you .sub-title h3 {
      text-align: left;
      font-size: 32px;
      line-height: 35px;
    }

    .real-for-you .sub-title .description-overlay h4 {
      text-align: left;
      font-size: 20px;
      line-height: 24px;
    }

    .change-item-and-desc {
      max-width: unset;
      width: 100%;

    }

    .change-item-thumbnail {
      display: flex;
      width: 100%;
    }

    .change-item-thumbnail h4 {
      font-size: 24px;
    }

    .rw-item-description {
      display: flex;
      width: 100%;
    }

    .rw-item-description p {
      text-align: left;
    }




  }
</style>