<div class="challenge-for-you">
  <div class="container">

    <div class="sub-title">
      <h3><b>Is this challenge right for you?</b></h3>
    </div>
    <div class="challenge-for-you-wrapper">
      {% for challenge in challenges %}
      <div class="challenge-item-and-desc">
        <div class="challenge-item-thumbnail">
          <img src="{{ challenge | asset_url | split: "*" | first }}" width="148" height="122" alt="">
          <div class="chalenge-text">
            {{ challenge | split: "*" | last }}
          </div>
        </div>    
      </div>
      {% endfor %}
    </div>
    <div class="challenge-wrapper">
    <div class="challenge-item-description">
      Then YES! This challenge is for you! 
    </div></div>
      <div class="button-wrapper">
    <a class="cta-btn" href="{{ ctaButtonLink }}">{{ ctaTitle }}</a>
    </div>
  </div>
</div>

<style>
  .challenge-for-you {
    background: var(--medium-green);
  }

  .challenge-for-you .sub-title {
    padding-top: 60px;
  }

  .challenge-for-you .sub-title h3 {
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    color: var(--white);
    padding-bottom: 30px;
  }

  .challenge-for-you-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .challenge-item-and-desc {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    align-items: center;
  }

  .challenge-text {
    max-width: 262px;
    text-align: center;
   
  }

  .challenge-item-thumbnail {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: var(--white);
  }

  .challenge-wrapper {
    padding: 30px 0;
  }



  .button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .challenge-for-you .container .cta-btn {  
    background: var(--white-cream);
    border: 1px solid var(--white-cream);
    font-weight: 700;
    font-size: clamp(14px, 2vw, 18px);
    color: var(--dark-green);
    margin-left: unset;
    
  }

  .challenge-for-you .container .cta-btn:hover {
    background: var(--regular-green);
    border: 1px solid  var(--regular-green);
  }



  @media screen and (max-width: 768px) {
    .challenge-for-you-wrapper {
      padding-bottom: unset;
    }

    .challenge-for-you .sub-title h3 {
      text-align: left;
      font-size: 32px;
      line-height: 35px;
    }

    .challenge-item-and-desc {
      max-width: unset;
      width: 100%;

    }

    .challenge-text {
      max-width: unset;
      text-align: unset;

    }

    

    .challenge-item-thumbnail {
      flex-direction: row;
      width: 100%;
      font-size: 24px;
      justify-content: flex-start;
      text-align: left;
      align-items: flex-start;
    }


    .challenge-for-you .container .cta-btn {  
      position: unset; 
      width: unset;
      z-index: unset;

    }

  }
</style>