<div class="total-and-shipping">
    <div class="total-prices">
      TOTAL: <strike class="striked" style="font-weight: 400;">{{ product.compare_at_price | money_with_currency | replace: ".00", "" | replace: "GBP", "" | replace: "AUD", "" | replace: "CAD", "" }}</strike>
      <span class="real">{{ product.price | money_with_currency | replace: ".00", "" | replace: "GBP", "" }}</span>
    </div>
   
  </div>
  
  
  
  
<style>
    
    .total-and-shipping {
        display: flex;
        margin: 10px auto;
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 16px;

        }

        .total-and-shipping .free-shipping1 .free-red {

        color: #ED073E;
        }

        @media screen and (max-width: 760px) {
            .total-and-shipping {
                justify-content: center;
            } 
        }
        
</style>