{% if shop.name == "CuraLife" %}
  {% assign shipping_worldwide = 'Free Shipping' %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign shipping_worldwide = 'Free Shipping Above £99' %}
{% endif %}

<section id="trust-badges-section">
  <div class="container">
    <div class="trust-badge"><i class="icofont-vehicle-delivery-van" style="font-size:40px"></i>{{ shipping_worldwide }}</div>
    <div class="trust-badge"><i class="icofont-badge" style="font-size:36px"></i>60 Day Money Back Guarantee</div>
    <div class="trust-badge"><i class="icofont-ui-lock"></i>100% Secure Checkout</div>
    <div class="border-bottom"></div>
  </div>
</section>

<style>
  #trust-badges-section {
    padding: 30px 0;
  }

  #trust-badges-section .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 18px;
  }

  #trust-badges-section .container .border-bottom {
    border: solid 1px #DCD9D9;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  #trust-badges-section .trust-badge {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    {% if colors %}color: {{ colors }};{% endif %}
  }

  #trust-badges-section .trust-badge i {
    font-size: 30px;
    margin-right: 10px;
    width: 10vw;
    max-width: 40px;
  }

  @media screen and (max-width:768px) {
    #trust-badges-section {
      gap: unset;
      justify-content: space-between;
    }

    #trust-badges-section .trust-badge {
      font-size: 3vw;
      flex-direction: column;
    }

    #trust-badges-section .trust-badge i {
      width: 40px;
    }
  }
</style>