{% if shop.name == "CuraLife" %}
  {% assign curaeats_value = 29 %}
  {% assign challange_value = 99 %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign curaeats_value = 17 %}
{% endif %}


{% render 'collection-page-header-black-friday' %}

<div class="catalog-page">
  <div class="container">
    {% render 'last-offer-title' %}
    {% render 'products-catalog-section', Prods: collection.products %}
  </div>
  {% render 'collection-curaeats-section-last-offer', challange_value: challange_value, curaeats_value: curaeats_value %}
</div>

{% schema %}
{
  "name": "Collection Products",
  "class": "collection-products",
  "settings": [
    {
      "type": "image_picker",
      "id": "prdct_bgimg",
      "label": "Select Product Background Image"
    }, {
      "type": "image_picker",
      "id": "clcbnr_btmimg",
      "label": "Select Bottom Banner Image"
    }
  ]
}
{% endschema %}