{% render 'collection-page-header-black-friday' %}
<div class="catalog-page">
  <div class="container">
    {% render 'lps-products-catalog-black-friday', Prods: collection.products %}
  </div>
  {% render 'collection-curaeats-section', invertSectionBack: false %}
</div>

{% schema %}
{
  "name": "Collection Products",
  "class": "collection-products",
  "settings": [
    {
      "type": "image_picker",
      "id": "prdct_bgimg",
      "label": "Select Product Background Image"
    }, {
      "type": "image_picker",
      "id": "clcbnr_btmimg",
      "label": "Select Bottom Banner Image"
    }
  ]
}
{% endschema %}