{% render 'collection-page-header-black-friday' %}

<div class="catalog-page">
  <div class="container">
    {%- comment -%} {% render 'product-catalog-section-last-offer' %} {%- endcomment -%}
    {% render 'lps-products-catalog-black-friday-last-offer', Prods: collection.products %}
  </div>
  {% render 'collection-curaeats-section-last-offer', challange_value: 99, curaeats_value: 29 %}
</div>

{% schema %}
{
  "name": "Collection Products",
  "class": "collection-products",
  "settings": [
    {
      "type": "image_picker",
      "id": "prdct_bgimg",
      "label": "Select Product Background Image"
    }, {
      "type": "image_picker",
      "id": "clcbnr_btmimg",
      "label": "Select Bottom Banner Image"
    }
  ]
}
{% endschema %}