<div class="intro-wrap">
        <div class="container">
            <div class="intro-data">
                <div class="title wow fadeInUp">
                    <div class="text">
                        <h1>{{ section.settings.title }}</h1>
                    </div>
                    <div class="mobile-img">
                        <img src="{{ section.settings.image | img_url : 'master'  }}" alt="" loading="lazy">
                    </div>
                    <div class="btn-wrap">
                        <a id="" href="#od_now" class="main-btn orange big radius go_tobtn" data-goto="prod_0"><ls-static-362931>ORDER NOW</ls-static-362931></a>
                        <a id="lrn_mor" href="#prdct_inside" class="main-btn blue big radius" data-goto="inside-product"><ls-static-339693>LEARN MORE</ls-static-339693></a>
                    </div>
                </div>
                <div class="img wow fadeInUp">
                    <img src="{{ section.settings.image | img_url : 'master'  }}" alt="" loading="lazy">
                </div>
            </div>
        </div>
    </div>


{% schema %}
    {
    "name": "Intro",
    "settings": [
    {
    "type": "textarea",
    "id": "title",
    "label": "Title"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    }
    ]
    }
{% endschema %}