<div class="hero-banner">
  <div class="container">
    <div class="snowflakes">
       {% for i in (1..4) %}
       <div class="snowflake">
         {% assign imgUrl = "hs-snowflake-0" | append: i | append: ".png" %}
         <img src="{{ imgUrl | asset_url }}" alt="" loading="lazy">
       </div>
       {% endfor %}
    </div>
    <div class="holiday-sale">
        <div class="text-button">
        <div class="holiday-title">
            Give yourself
            a gift this season!
        </div>
        <a class="main-btn" id='main-cta-btn' href="/collections/all-bfcm2022">SHOP NOW</a></div>
        <img class="main-img" src="{{ 'hs-man-woman.png' | asset_url }}" alt="man-woman" loading="lazy">
     </div>
   </div> 
   <div class="bottom-snow">
      <img  src="{{ 'hs-bottom-snow.png' | asset_url }}" alt="man-woman" loading="lazy">
   </div>     
 </div>
 


<style>
    .hero-banner {
        position: relative;
        background-color: #B5141F;       
        overflow: hidden;
    }

    .hero-banner .bottom-snow {
        position: absolute;
        bottom: 0;
        z-index: 0;
        width: 100%;
        
    }

    .hero-banner .bottom-snow img {
        width: 100%;
    }

  .hero-banner .container {
      height: 100%;
      position: relative;
      z-index: 5;
  }



  .hero-banner .container .holiday-sale {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;

  }

  .hero-banner .container .holiday-sale .text-button {
    display: flex;
    flex-direction: column;
    padding-bottom: 3vw;
    padding-top: 2vw;
    gap: 1vw;
  }

  .hero-banner .container .holiday-sale .text-button .holiday-title {
    max-width: 295px;
    font-family: 'PP Radio Grotesk';
    font-weight: 700;
    font-size: clamp(45px, 2vw, 80px);
    color: #FFFFFF;
  }

  .container .holiday-sale .text-button .main-btn {
    max-width: 205px;
      font-family: 'PP Radio Grotesk';
      font-weight: 700;
      background: #4B643D;
      text-align: center;
      color: #FFFFFF;
      border: #4B643D;
      border-radius: 4px;
      font-size: clamp(20px, 2vw, 28px);
  }

  .container .holiday-sale .main-img {   
      max-width: 50%;
  }

  @media screen and (max-width: 760px) {
      .hero-banner {
          height: 135vw;
      }

      .container .holiday-sale .text-button .main-btn {
        max-width: 50vw;
        
      }

      .hero-banner .container .holiday-sale .text-button {
        padding-top: 10vw;
      }
 
      .container .holiday-sale .main-img {
          position: absolute;
          bottom: 0;
          width: unset;
          object-fit: cover;
          max-width: 100vw;
      }
  }
</style>


<script>
    $("#hero-cta").click(function () {
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#product-section").offset().top + 130
        }, 2000);
    });
</script>