
<header class="page-header" id="page-header">
    <div class="container">
        <div class="main-logo">
            <img src="{{ 'logo-black-friday.svg' | asset_url }}" width="308" height="92" alt="logo">
        </div>
        <div class="buttons-container">
            <div class="off-container">
                <div class="up-to">UP TO</div>
                <div class="thirty-off"> 30% OFF</div>
            </div>
            <div class="buy-btn">
                <a class="main-btn" id='main-cta-btn' href="#">ORDER NOW</a>
            </div>
        </div>
    </div>
</header>

<style>
    header.page-header {
        background-color: #FFE746;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    header.page-header .main-logo {
        padding: 15px 0 10px 0;
    }

    header.page-header .main-logo img {
        margin-top: unset !important;
    }

    header.page-header .main-logo  {
        display: inline-block;
        padding: 15px 0;
        max-width: 181px;
    }

    header.page-header .main-logo img {
        width: 150px;
    }

    header.page-header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header.page-header .buy-btn .main-btn {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        border: 1px solid #000000 !important;
        background: #000000;
        box-shadow: 0px 5.01961px 12.549px rgb(0 0 0 / 15%);
        border-radius: 5.01961px;
        transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
        padding: 10px;
    }

    header.page-header .buy-btn .main-btn:hover {
        background-color: #000000;
    }

    header.page-header .buttons-container {
        display: flex;
        align-items: center;
    }

    header.page-header .off-container {
        display: flex;
        align-items: center;
    }

    header.page-header .up-to {
        width: 72px;
        font-family: 'PP Radio Grotesk';
        font-weight: 400;
        font-size: 25px;
        display: flex;
        align-items: center;
        color: #000000;
    }

    header.page-header .thirty-off {
        width: 202px;
        font-family: 'PP Radio Grotesk';
        font-weight: 700;
        font-size: 50px;
        display: flex;
        align-items: center;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 760px) {
        header {
            display: none !important;
        }
    }
</style>

<script>
        $(document).ready(function () {
            let productsOffset = $("#product-catalog-section").offset();

            $(window).scroll(function () {
                if ($(this).scrollTop() < productsOffset.top) {
                    $('#page-header').fadeIn();
                } else {
                    $('#page-header').fadeOut();
                }
            });

        $("#main-cta-btn").click(function () {
            $([document.documentElement, document.body]).animate({
                scrollTop: productsOffset.top - 130
            }, 2000);
        });
    })
</script>

