<div class="logos-list">
    <div class="container">
        <div class="data-wrap">
            <div class="sub-title decoration-line">
                <h2>{{section.settings.partner_titl}}</h2>
            </div>
            <div class="list-wrap">
                <div class="touch-scroll">
                    <div class="scroll-wrap">
                        <ul>
                            {% for block in section.blocks %}
                            {% if block.type == 'partnered' %}
                            {% if block.settings.partner_img != blank %}
                            <li><img src="{{block.settings.partner_img | img_url: ''}}" alt=""></li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Proudly Partnered",
        "settings": [
          {
            "type": "header",
            "content": "Proudly Partnered with Section"
        },
        {
            "type": "text",
            "id": "partner_titl",
            "label": "Enter Title",
            "default": "Proudly Partnered with"
        }
         
       ],
       "blocks": [
             {
            "type": "partnered",
            "name": "Add Partnered  Content",
            "settings": [    
                
                {
                    "type": "image_picker",
                    "id": "partner_img",
                    "label": "Select Image"
                } 

                
            ]    
          }

                
            ]    
          }

                
     
            
    
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}