<div class="container">
    <h1 style="display:none">Refer A Friend</h1>
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/5AyB8SFKOjnnor-g4qIeMg" async=""></script>
    <div class="yotpo-widget-instance" data-yotpo-instance-id="13430"></div>
    <div id="raf-steps">
        <h2 class="how-title">How It Works</h2>
        <div class="line"></div>
        <div class="steps">
            <div class="step">
                <img class="step-image" src="{{ 'raf-icon-1.png' | asset_url }}" alt="">
                <p class="step-title">Tell Your Friend</p>
                <p class="step-description">About your success with CuraLin</p>
            </div>
            <div class="step">
                <img class="step-image" src="{{ 'raf-icon-2.png' | asset_url }}" alt="">
                <p class="step-title">Enter Friend's Email</p>
                <p class="step-description">Below to share your code</p>
            </div>
            <div class="step">
                <img class="step-image" src="{{ 'raf-icon-3.png' | asset_url }}" alt="">
                <p class="step-title">Add To Cart</p>
                <p class="step-description">Your friend places their first order</p>
            </div>
            <div class="step">
                <img class="step-image" src="{{ 'raf-icon-4.png' | asset_url }}" alt="">
                <p class="step-title">Get FREE Bottle</p>
                <p class="step-description">You get 1 FREE Bottle in Loyalty Points</p>
            </div>
        </div>
    </div>
    <p id="redeem-notice">Simply contact hello@curalife.com in order to redeem your 750 points!</p>    
</div>

<script>
    function runAfterElementExists(jquery_selector,callback){
        var checker = window.setInterval(function() {
        if ($(jquery_selector).length) {
            clearInterval(checker);
            callback();
        }}, 200);
    }

    runAfterElementExists("#yotpoReferralDescriptionText", function() {
        $("#raf-steps").insertAfter("#yotpoReferralDescriptionText");
        $("#redeem-notice").insertAfter(".yotpo-action-button-widget");
    });
</script>

<style>
.yotpo-header-text {
    color: rgb(51, 183, 166)!important;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 400;
    font-style: normal;
}

.contact-form {
    width: 100%;
    padding: 0;
}

.how-title {
    color: #74B7AE;
    text-transform: uppercase;
    font-size: 35px;
    margin: 20px;
    margin-top: 50px;
}

.line {
    width: 100px;
    border-bottom: 1px solid black;
    margin: auto;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    gap: 5%;
    justify-content: center;
}

.steps .step {
    width: 20%;
}

.steps .step img.step-image {
    height: 120px;
    object-fit: cover;
}

.steps .step p.step-title {
    font-weight: bold;
    color: #C77E72;
    font-size: 22px;
    margin-bottom: 0;
}

.steps .step p.step-description {
    margin-top: 0;
    font-size: 20px;
}

.redeem-notice {
    font-weight: 600;
}

.yotpo-button-style {
    background-color: #C77E72;
}

.yotpo-widget-referral-widget .yotpo-referral-widget-form {
    width: 500px;
    margin: 30px auto;
}

.yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-standard-size {
    width: 100%;
}

.yotpo-widget-referral-widget .yotpo-title-text {
    font-family: "Poppins" !important;}

.yotpo-widget-referral-widget .yotpo-action-button-widget {
    margin-top: 20px;
}

.yotpo-widget-referral-widget .yotpo-tile-wrapper {
    max-width: 100%;
}

.yotpo-widget-referral-widget .yotpo-background.yotpo-center-background {
    height: unset !important;
}

.yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-customer-share-button, .yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-friends-share-button {
    margin-top: 10px;
}

.yotpo-widget-referral-widget .yotpo-header-text {
    display: none;
}

.yotpo-widget-referral-widget .yotpo-tile-box {
    padding-top: unset;
}

.yotpo-widget-referral-widget .yotpo-input-container .yotpo-input-example {
    display: none;
}

</style>

{% schema %}
    {
        "name": "Refer Friend",
        "settings": [
           
            {
                "type": "text",
                "id": "refr_pretitl",
                "label": "Pre Title",
                "default": "Enter Pre Title"
            },    
            {
                "type": "text",
                "id": "refr_titl",
                "label": "Title",
                "default": "Enter Title"
            },
            {
                "type": "textarea",
                "id": "refr_desc",
                "label": "Description",
                "default": "Enter Description"
            },
            {
                "type": "image_picker",
                "id": "refr__img",
                "label": "Select Image"
            },
            {
                "type":"select",
                "id": "refr_imgpos",
                "label": "Select Image Position",
                "options": [
                    {
                        "label": "Right",
                        "value": ""
                    },
                    {
                        "label": "Left",
                        "value": "reverse"
                    }
                ]

            }
            
        ],    
            
        "presets":[
            {
                "name": "Refer Friend",
                "category": "image"
            }
        ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}


{% endjavascript %}
