<style>
    .modal-content{
        max-width: 100% !important;
    }
    .modal-content .modal-btn .main-btn{
        max-width: 285px !important;
    }
</style>
<div class="modal-content" id="thanks-modal">
        <div class="modal-bg">
            <div class="data-wrap">
                <div class="modal-scroll">
                    <div class="modal-title">
                        <h3>{{settings.thnk_titl}}</h3>
                    </div>
                    <div class="modal-icon">
                        <span class="icon-done"></span>
                    </div>
                    <div class="modal-text">
                        <p>{{settings.thnk_desc}}</p>
                    </div>
                    <div class="modal-btn">
                        
                        <a href="https://curalife.com/" class="main-btn">CONTINUE TO HOMEPAGE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
