{% if section.settings.section_heading != blank or section.blocks %}
	<section class="work_for_me_sec title_change">
        <div class="container">
            {% if section.settings.section_heading != blank %}
              <div class="row">
                  <div class="col-md-12">
                      <h2>{{ section.settings.section_heading }}</h2>
                      <div class="starsicons">
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
          	{% endif %}
          	{% if section.blocks %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="couldit_slider">
                            {% for block in section.blocks %}
                          		{% case block.type %}	
                          			{% when 'review' %}
                          			  {% if block.settings.review_content != blank %}	
                                        <div class="prod-info">                                         
                                          <h6>{{ block.settings.review_content }}</h6>                                          
                                          {% if block.settings.author != blank %}	
                                              <p>{{ block.settings.author }}</p>
                                          {% endif %} 
                                        </div>
                          			 {% endif %}
                          		{% endcase %}	
                          	{% endfor %}                            
                        </div>
                    </div>
                </div>
          	{% endif %}
            <div class="row">
                <div class="resultmay">
                    <p class="text resultVary"><em><ls-static-668978>*Individual results may vary</ls-static-668978></em></p>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% schema %}
  {
    "name": "Reviews",
    "settings": [
		{
          "type": "text",
          "id": "section_heading",
          "label": "Heading"
        }
	],
	"blocks": [
    		{
    			"type": "review",
    			"name": "Review",
    			"settings": [
                   {
                    "type": "html",
                    "id": "review_content",
                    "label": "Review"
                  },
				  {
                    "type": "text",
                    "id": "author",
                    "label": "Author"
                  }		
    			]
    		}
	]
  }
{% endschema %}

