{% if page.handle  == 'product-curalin-glucose-levels-supplement-2020-vidc-g' %}
 <style>
   @media only screen and (min-width: 768px){
   section.faq_search_form {
    margin-top: 50px;
}
   }
 </style>
 {% endif %}
{% if section.settings.section_heading or section.blocks %} 
	<section class="faq_search_form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if section.settings.section_heading != blank %}
                        <div class="serch_field">
                            <h2>{{ section.settings.section_heading }}</h2>
                        </div>
                  	{% endif %}
                  	{% if section.blocks %} 
                        <div class="faq_questions">
                          	{% for block in section.blocks %}
                          		{% case block.type %}	
                          			{% when 'faq' %}
                          				{% if block.settings.faq-title != blank and block.settings.description != blank %}
                                              <div class="ques_heading">
                                                  <h3>{{ block.settings.faq-title }}</h3>
                                                  <div class="question-ans">
                                                     {{ block.settings.description }}
                                                  </div>
                                              </div>
                          				{% endif %}
                          		{% endcase %}	
                          	{% endfor %}
                        </div>
      				{% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% schema %}
  {
    "name": "FAQs",
    "settings": [
		{
          "type": "text",
          "id": "section_heading",
          "label": "Heading"
        }
	],
	"blocks": [
    		{
    			"type": "faq",
    			"name": "FAQ",
    			"settings": [
                  {
                    "type": "text",
                    "id": "faq-title",
                    "label": "Title"
                  },
				  {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                  }			  	
    			]
    		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
