@font-face {
  font-family: 'icoFont';
  font-display: swap;
  src:  url('../fonts/icoFont/icoFont.eot');
  src:  url('../fonts/icoFont/icoFont.eot') format('embedded-opentype'),
  url('../fonts/icoFont/icoFont.ttf') format('truetype'),
  url('../fonts/icoFont/icoFont.woff') format('woff'),
  url('../fonts/icoFont/icoFont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoFont', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-fb:before {
  content: "\e906";
}
.icon-inst:before {
  content: "\e907";
}
.icon-tw:before {
  content: "\e908";
}
.icon-yt:before {
  content: "\e909";
}
.icon-vm:before {
  content: "\e910";
}
.icon-in:before {
  content: "\e911";
}
.icon-tel:before {
  content: "\e912";
}
.icon-play:before {
  content: "\e913";
}
.icon-close:before {
  content: "\e914";
}
.icon-time:before {
  content: "\e915";
}
.icon-shipping:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e917";
}
.icon-minus:before {
  content: "\e918";
}
.icon-afterpay:before {
  content: "\e919";
}
.icon-b-fb:before {
  content: "\e920";
}
.icon-b-tw:before {
  content: "\e921";
}
.icon-b-pi:before {
  content: "\e922";
}
.icon-b-in:before {
  content: "\e923";
}
.icon-envelope:before {
  content: "\e924";
}
.icon-orders:before {
  content: "\e925";
}
.icon-payment:before {
  content: "\e926";
}
.icon-refer-friend:before {
  content: "\e927";
}
.icon-loyalty:before {
  content: "\e928";
}
.icon-password:before {
  content: "\e929";
}
.icon-logout:before {
  content: "\e930";
}
.icon-edit:before {
  content: "\e931";
}
.icon-notice:before {
  content: "\e932";
}
.icon-smile:before {
  content: "\e933";
}
.icon-linkedin:before {
  content: "\e934";
}
.icon-check:before {
  content: "\e935";
}
.icon-success:before {
  content: "\e936";
}
.icon-done:before {
  content: "\e937";
}
.icon-cvv:before {
  content: "\e938";
}
.icon-calendar:before {
  content: "\e939";
}
.icon-menu:before {
  content: "\e940";
}
