html {
  font-size: 14px;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

.mini-wrap {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.aCenter {
    align-items: center;
  }
  &.jCenter {
    justify-content: center;
  }
  &.jAround {
    justify-content: space-around;
  }
  &.jBetween {
    justify-content: space-between;
  }
}