@font-face {
  font-family: 'icoFont';
  font-display: swap;
  src: url(icoFont.eot);
  src: url(icoFont.eot) format("embedded-opentype"), 
  url(icoFont.ttf) format("truetype"), url(icoFont.woff) format("woff"), 
  url(icoFont.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icoFont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-quote:before {
  content: "\e900"; }

.icon-user:before {
  content: "\e901"; }

.icon-arrow:before {
  content: "\e902"; }


.icon-cart:before {
  content: "\e903"; }

.icon-star:before {
  content: "\e904"; }

.icon-search:before {
  content: "\e905"; }

.icon-fb:before {
  content: "\e906"; }

.icon-inst:before {
  content: "\e907"; }

.icon-tw:before {
  content: "\e908"; }

.icon-yt:before {
  content: "\e909"; }

.icon-vm:before {
  content: "\e910"; }

.icon-in:before {
  content: "\e911"; }

.icon-tel:before {
  content: "\e912"; }

.icon-play:before {
  content: "\e913"; }

.icon-close:before {
  content: "\e914"; }

.icon-time:before {
  content: "\e915"; }

.icon-shipping:before {
  content: "\e916"; }

.icon-plus:before {
  content: "\e917"; }

.icon-minus:before {
  content: "\e918"; }

.icon-afterpay:before {
  content: "\e919"; }

.icon-b-fb:before {
  content: "\e920"; }

.icon-b-tw:before {
  content: "\e921"; }

.icon-b-pi:before {
  content: "\e922"; }

.icon-b-in:before {
  content: "\e923"; }

.icon-envelope:before {
  content: "\e924"; }

.icon-orders:before {
  content: "\e925"; }

.icon-payment:before {
  content: "\e926"; }

.icon-refer-friend:before {
  content: "\e927"; }

.icon-loyalty:before {
  content: "\e928"; }

.icon-password:before {
  content: "\e929"; }

.icon-logout:before {
  content: "\e930"; }

.icon-edit:before {
  content: "\e931"; }

.icon-notice:before {
  content: "\e932"; }

.icon-smile:before {
  content: "\e933"; }

.icon-linkedin:before {
  content: "\e934"; }

.icon-check:before {
  content: "\e935"; }

.icon-success:before {
  content: "\e936"; }

.icon-done:before {
  content: "\e937"; }

.icon-cvv:before {
  content: "\e938"; }

.icon-calendar:before {
  content: "\e939"; }

.icon-menu:before {
  content: "\e940"; }
a, a:focus, a:hover {
    text-decoration: none;
}
a {
    background-color: transparent;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icoFont';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
footer img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}

footer ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Styling for Small-Screen Devices */


footer .container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px; }

.mini-wrap {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }



footer {
  color: #fff;
  background: #01c6b2;
  overflow: hidden; }
  footer .top-info {
    padding: 50px 0; }
    footer .top-info .info-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    footer .top-info .main-side {
      width: 67.4%;
      padding-right: 30px; }
    footer .top-info .data-side {
      width: calc(100% - 67.4%);
      padding-top: 17px; }
    footer .top-info .text {
      padding-top: 45px;}
      footer .top-info .text p {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.8;
        opacity: .7; }
  footer .mobile-text {
    width: 100%; }
        footer .mobile-text.d-mobile .text p {
          margin: 0;
          font-weight: normal;
          font-size: 14px;
          line-height: 1.8;
          opacity: .7; }
  footer .logo {
    padding-bottom: 44px; }
    footer .logo a {
      display: inline-block;
      max-width: 183px; }
  footer .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer .menu-list ul {
      width: calc(100% / 3);
      padding-right: 15px; }
      footer .menu-list ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 11px 0; }
        footer .menu-list ul li a {
          display: inline-block;
          font-weight: normal;
          font-size: 20px;
          line-height: 1.2;
          text-transform: uppercase;
          color: inherit;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out; }
          footer .menu-list ul li a:hover {
            opacity: .7; }
  footer .support-contacts {
    padding-bottom: 34px; }
    footer .support-contacts ul li a:hover {
      color: inherit;
      opacity: .7; }
  footer .social-bar ul li {
    width: calc(100% / 2);
    padding: 10px 0; }
    footer .social-bar ul li a {
      color: inherit;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
      footer .social-bar ul li a i {
        color: inherit; }
      footer .social-bar ul li a:hover {
        opacity: .7; }
        footer .social-bar ul li a:hover i {
          color: inherit; }
  footer .bottom-info {
    padding: 29px 0;
    border-top: 1px solid rgba(239, 239, 239, 0.37); }
    footer .bottom-info .info-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      footer .bottom-info .info-wrap .text p {
        margin: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 1; }

.support-contacts .title {
  padding-bottom: 59px; }
  .support-contacts .title h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase; }

.support-contacts ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1; }
  .support-contacts ul li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 32px;
    margin-right: 12px; }
  .support-contacts ul li a {
    display: inline-block;
    padding: 3px 0 3px 13px;
    white-space: nowrap;
    font-weight: normal;
    color: inherit;
    -webkit-transition: color var(--transition), opacity var(--transition);
    -o-transition: color var(--transition), opacity var(--transition);
    transition: color var(--transition), opacity var(--transition); }
    .support-contacts ul li a:hover {
      color: var(--green); }

.social-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .social-bar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0; }
    .social-bar ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-weight: normal;
      margin-right: 10px;
      font-size: 18px;
      line-height: 1;
      color: var(--dark);
      -webkit-transition: opacity var(--transition);
      -o-transition: opacity var(--transition);
      transition: opacity var(--transition); }
      .social-bar ul li a i {
        display: block;
        padding-right: 10px;
        font-size: 28px;
        color: var(--green);
        -webkit-transition: color var(--transition);
        -o-transition: color var(--transition);
        transition: color var(--transition); }
      .social-bar ul li a:hover {
        opacity: .7; }
        .social-bar ul li a:hover i {
          color: var(--orange); }

.payment-methods ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .payment-methods ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3px 6px; }
    .payment-methods ul li span {
      display: inline-block;
      max-width: 51px; }

@media screen and (max-width: 1590px) {
 
  
  footer .container {
    max-width: 1316px; }
  .mini-wrap {
    max-width: 1110px; }
  .main-toolbar {
    padding: 34px 0 17px 0; }
  .main-logo a {
    max-width: 134px; }
  .main-menu ul li {
    padding: 6px 16px; }
  .main-menu ul li a {
    font-size: 16px; }
  .main-links ul li {
    padding: 6px 10px; }
  .main-links ul li a {
    font-size: 15px; }
  .main-links ul li a i {
    font-size: 18px; }
  .main-search form button {
    font-size: 18px; }
  .main-search form label input {
    font-size: 15px; }
  footer .top-info {
    padding: 45px 0; }
  footer .logo a {
    max-width: 163px; }
  footer .menu-list ul li {
    padding: 9px 0; }
  footer .menu-list ul li a {
    font-size: 18px; }
  footer .mobile-text.d-mobile .text p,
  footer .top-info .text p {
    font-size: 13px; }
  .support-contacts .title {
    padding-bottom: 51px; }
  .support-contacts .title h3 {
    font-size: 18px; }
  .support-contacts ul li span {
    max-width: 28px;
    margin-right: 10px; }
  .support-contacts ul li {
    font-size: 18px; }
  .support-contacts ul li a {
    padding: 3px 0 3px 10px; }
  footer .support-contacts {
    padding-bottom: 29px; }
  footer .social-bar ul li {
    padding: 9px 0; }
  .social-bar ul li a i {
    padding-right: 8px;
    font-size: 26px; }
  .social-bar ul li a {
    font-size: 16px; }
  footer .bottom-info {
    padding: 20px 0; }
  footer .bottom-info .info-wrap .text p {
    font-size: 12px; }
  .payment-methods ul li span {
    max-width: 47px; } }

@media screen and (max-width: 1430px) {
 

  footer .container {
    max-width: 1172px; }
  .mini-wrap {
    max-width: 990px; }
  .main-toolbar {
    padding: 31px 0 16px 0; }
  .main-logo {
    padding-bottom: 17px; }
  .main-logo a {
    max-width: 120px; }
  .main-menu ul li {
    padding: 4px 14px; }
  .main-menu ul li a {
    font-size: 14px; }
  .main-menu ul li.dropdown > a {
    padding-right: 20px; }
  .main-links ul li a {
    font-size: 13px; }
  .main-links ul li a i {
    padding-left: 9px;
    font-size: 17px; }
  .main-search form button {
    padding: 3px;
    font-size: 17px; }
  .main-search form label input {
    font-size: 13px; }
  footer .top-info {
    padding: 41px 0; }
  footer .logo a {
    max-width: 145px; }
  footer .logo {
    padding-bottom: 40px; }
  footer .menu-list ul li {
    padding: 7px 0; }
  footer .menu-list ul li a {
    font-size: 16px; }
  footer .mobile-text.d-mobile .text p,
  footer .top-info .text p {
    font-size: 12px; }
  .support-contacts .title {
    padding-bottom: 44px; }
  .support-contacts .title h3 {
    font-size: 16px; }
  footer .social-bar ul li {
    padding: 8px 0; }
  footer .support-contacts {
    padding-bottom: 25px; }
  .support-contacts ul li {
    padding: 6px 0;
    font-size: 16px; }
  .support-contacts ul li span {
    max-width: 26px; }
  .social-bar ul li a i {
    font-size: 24px; }
  .social-bar ul li a {
    font-size: 14px; }
  footer .bottom-info {
    padding: 15px 0; }
  .payment-methods ul li span {
    max-width: 40px; } }

@media screen and (max-width: 1270px) {
  
  
  footer .container {
    max-width: 942px; }
  .mini-wrap {
    max-width: 798px; }
  .main-toolbar {
    padding: 24px 0 16px 0; }
  .main-logo {
    padding-bottom: 13px; }
  .main-logo a {
    max-width: 98px; }
  .main-menu ul li {
    padding: 4px 7px; }
  .main-links ul li {
    padding: 4px 7px; }
  .main-search {
    max-width: 170px; }
  footer .top-info {
    padding: 31px 0; }
  footer .logo a {
    max-width: 118px; }
  footer .menu-list ul li a {
    font-size: 14px; }
  footer .menu-list ul li {
    padding: 5px 0; }
  footer .logo {
    padding-bottom: 32px; }
  .support-contacts .title h3 {
    font-size: 13px; }
  .support-contacts ul li {
    padding: 4px 0;
    font-size: 13px; }
  .support-contacts ul li span {
    max-width: 21px;
    margin-right: 6px; }
  .support-contacts ul li a {
    padding: 3px 0 3px 6px; }
  .social-bar ul li a i {
    padding-right: 6px;
    font-size: 21px; }
  footer .support-contacts {
    padding-bottom: 15px; }
  footer .social-bar ul li {
    padding: 6px 0; }
  .social-bar ul li a {
    font-size: 13px; } }

@media screen and (max-width: 991px) {

  footer .top-info .main-side {
    width: 64%;
    padding-right: 20px; }
  footer .top-info .data-side {
    width: calc(100% - 64%);
    padding-top: 10px; } }

@media screen and (max-width: 760px) {
  footer .top-info .main-side {
    width: 100%;
    padding-right: 0;
    padding-bottom: 19px; }
  footer .top-info {
    padding: 31px 0 39px 0; }
  footer .top-info .text {
    display: none; }
  footer .mobile-text.d-mobile {
    display: block; }
  footer .mobile-text.d-mobile .text,
  footer .top-info .text {
    padding-top: 31px; }
  footer .mobile-text.d-mobile .text p,
  footer .top-info .text p {
    font-size: 14px;
    line-height: 1.6; }
  footer .top-info .info-wrap {
    margin: 0 -5px; }
  footer .logo {
    padding-bottom: 24px; }
  footer .logo a {
    max-width: 140px; }
  footer .menu-list ul {
    width: 100%;
    padding-right: 0; }
  footer .menu-list ul li {
    padding: 6px 0; }
  footer .menu-list ul li a {
    padding: 5px 0;
    font-size: 20px; }
  footer .top-info .data-side {
    width: 100%;
    padding-top: 31px;
    position: relative; }
    footer .top-info .data-side:after {
      content: '';
      width: 102vw;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      border-top: 1px solid rgba(239, 239, 239, 0.37);
      pointer-events: none; }
  footer .support-contacts {
    padding-bottom: 10px; }
  .support-contacts .title {
    max-width: 249px;
    padding-bottom: 26px; }
    .support-contacts .title h3 {
      font-size: 20px;
      line-height: 1.4; }
  .support-contacts ul li span {
    max-width: 32px;
    margin-right: 12px; }
  .support-contacts ul li {
    padding: 19px 0;
    font-size: 20px; }
  .support-contacts ul li a {
    width: 100%;
    margin-top: 13px;
    padding: 3px 0 3px 44px; }
  footer .social-bar ul li {
    padding: 10px 0; }
  .social-bar ul li a {
    font-size: 18px; }
  .social-bar ul li a i {
    font-size: 28px; }
  footer .bottom-info {
    padding: 24px 0; }
  footer .bottom-info .info-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer .bottom-info .info-wrap .payment-methods {
      width: calc(100% + 30px);
      margin: 0 -15px;
      padding-top: 30px;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    footer .bottom-info .info-wrap .text {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
  footer .bottom-info .info-wrap .text p {
    font-size: 14px; }
  .payment-methods ul li span {
    max-width: 48px; }
  .payment-methods ul li {
    padding: 3px 5px; } }

/*# sourceMappingURL=maps/common.css.map */
.article-author {
    width: 100%;
}

.modals-wrap{
  display: none;
}