/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.ourstory_page_title {
    background: #70d7c9;
    position: relative;
    padding: 20px 0;
    z-index: 9;
}
.ourstory_page_title h1.main-heading {
    margin: 0;
    color: #fff;
    font-weight: 800;
    font-family: Poppins,sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
    display: block;
}
body:not(.template-index) .header-wrapper {
    margin-bottom: 0;
}
div#shopify-section-text--image-with-text {
    background: url(https://cdn.shopify.com/s/files/1/0452/2459/1511/t/2/assets/bg-men-grey.png?v=1602579387) no-repeat;
    background-size: cover;
}
div#shopify-section-text--image-with-text h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 66px;
    font-family: Poppins,sans-serif;
    color: #70d7c9;
    text-align: left;
	    margin: 0;
}
div#shopify-section-text--image-with-text p {
    font-size: 17px;
    line-height: 25px;
    padding: 0 0 10px;
    color: #70d7c9;
    font-family: open sans,sans-serif;
    transition: all .3s ease-in-out;
}
div#shopify-section-text--image-with-text .feature-row {
    align-items: flex-end;
}
div#shopify-section-text--image-with-text .homepage-sections-wrapper {
    padding-bottom: 0;
}
div#shopify-section-text--image-with-text .feature-row__text .rte.featured-row__subtext.textarea {
    padding: 30px 0;
}
div#shopify-section-CuraTeam {
    margin-top: 50px;
    padding-bottom: 50px;
}
div#shopify-section-CuraTeam h2 {
    font-style: normal;
    font-family: Poppins,sans-serif;
    color: #70d7c9;
    text-align: center;
    margin-bottom: 55px;
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
}

.article-image img {
    height: 200px;
    object-fit: cover;
}
.homepage-blog-title-wrapper h3 a {
    color: #649296 !important;
    font-size: 16px;
    font-weight: 600;
}
.article-image a::after{
	display:none ;
}
.article-image img {
    transition: transform .6s;
}
.article-image img:hover {
    transform: scale(1.2);
}
.article-image{	
  overflow: hidden;
}
.article-tag {
    position: absolute;
    z-index: 1;
    right: 0;
    padding: 3px 10px;
    color: #fff;
    background: #649296;
    font-size: 14px;
}


section.curateam .single-person {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}
section.curateam .single-person .person-img-wrapper {
    border-radius: 30px;
    overflow: hidden;
    border: 4px solid transparent;
    transition: border-color 1s;
    margin-bottom: 20px;
    position: relative;
}
section.curateam .single-person h3.name {
    color: #cda349;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
  margin-top: 20px;
}
section.curateam .single-person p.position {
    color: #cda349;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    font-family: poppins,sans-serif;
}
section.curateam .single-person .person-img-wrapper:hover {
    border-color: #cda349;
}
div#shopify-section-CompanyCulture {
    padding: 100px 0;

}
div#shopify-section-CompanyCulture h2, div#shopify-section-Advisory-Board-Grid h2, section.location-section .container h2 {
     font-family: Poppins,sans-serif;
    font-style: normal;
    color: #70d7c9;
    text-align: center;
    margin-bottom: 55px;
    line-height: 60px;
    font-size: 45px;
    font-weight: 600;
}
div#shopify-section-CompanyCulture .companies-culture-section-inner {
    margin:0px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.our-advisory .single-advisory {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 50px;
    flex-wrap: wrap;
}
section.our-advisory .single-advisory .advisory-img-wrapper {
    flex: 0 0 30%;
    max-width: 30%;
    border-radius: 30px;
    overflow: hidden;
    border: 4px solid transparent;
    transition: border-color 1s;
    margin-bottom: 20px;
    position: relative;
}
section.our-advisory .single-advisory .single_adv_text {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 20px 30px;
}
section.our-advisory .single-advisory .single_adv_text h3.name {
    color: #70d7c9;
    font-size: 25px;
    margin-bottom: 14px;
    font-weight: 400;
}
section.our-advisory .single-advisory .single_adv_text p {
    font-family: poppins,sans-serif;
    font-size: 17px;
}
section.our-advisory .single-advisory .advisory-img-wrapper:hover {
    border-color: #70d7c9;
}
section.our-advisory .single-advisory .advisory-img-wrapper img {
    width: 100%;
}
section.location-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    border-top: 1px solid #70d7c9;
    padding: 100px 0 0;
}
section.location-section .container .single-country {
    text-align: center;
}
section.location-section .container .single-country h4.country {
    font-weight: 700;
    text-align: center;
    color: #70d7c9;
    margin-bottom: 15px;
    font-size: 18px;
}
section.location-section .container .single-country p {
    text-align: center;
    color: #70d7c9;
    margin-bottom: 15px;
    font-size: 17px;
}
section.location-section .container .single-country {
    text-align: center;
    margin: 0 0 18px;
}
footer {
    padding: 30px 15px 0;
  margin:0;
}
footer .container {
    max-width: 100%;
}
footer .container .footer-block--wrapper {
    padding: 0;
}
footer .container .footer-block--wrapper h3.type-subheading {
    padding: 0;
    margin: 0;
    color: #fff;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    width: max-content;
    margin-bottom: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: poppins,sans-serif;
    font-size: 17px;
}
footer .rte.footer-article p a {
    text-decoration: none;
}
footer .rte.footer-article p {
    font-family: poppins,sans-serif;
    font-size: 17px;
    margin: 0;
}
footer .container .links-footer ul li {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}
footer .container .links-footer ul li a {
    color: #fff;
    font-size: 14px;
  padding:0;
    text-transform: uppercase!important;
}
footer .container .links-footer ul li {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}
footer .bottom-footer {
    border-top: 1px solid #fff;
    padding-top: 10px;
}
.bottom-footer-row {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
}
.bottom-footer-row .copyright {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
    width: 100%;
}
.bottom-footer-row .copyright p {
    text-align: center;
    margin: 0;
    padding: 12px;
}
.social_bars h3.type-subheading {
    width: 100% !important;
    display: block;
    text-align: center;
}
.social_bars .footer__social-icons ul.sm-icons {
    text-align: center;
    justify-content: center;
}
footer .container .social_bars {
    max-width: 220px;
    margin: 0 auto;
}


/* supliment page css */
.TitleSection {
    background: #70d7c9;
    padding: 12px 15px;
    text-align: center;
}
.TitleSection h1.titleTab {
    margin: 0;
    color: #fff;
    font-weight: 800;
    font-family: Poppins,sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
    display: block;
}
.TitleSection p {
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    font-family: open sans,sans-serif;
    margin: 0;
}
.curalin-product-page .product-menu-wrapper {
    position: fixed;
    left: 20px;
    color: #fff;
    transition: all .3s;
    padding-top: 20px;
	top: 20%;
	z-index: 9;
}
.curalin-product-page .product-menu-wrapper ul.product-menu {
    position: relative;
    z-index: 10;
    width: 150px;
    color: #70d7c9;
    transition: all .3s;
	padding: 0;
    margin: 0;
}
.curalin-product-page .product-menu-wrapper ul.product-menu li {
    list-style: none;
    margin-bottom: 30px;
    position: relative;
    transition: all .3s;
    cursor: pointer;
	font-family: poppins,sans-serif;
    font-weight: 400;
} 
.curalin-product-page .product-menu-wrapper ul.product-menu li.product-step:before {
    content: '';
    position: absolute;
    top: 20px;
    height: calc(100% - 20px + 30px);
    right: -2px;
    width: 2px;
    background: #70d7c9;
    transition: all .3s;
}
.curalin-product-page .product-menu-wrapper ul.product-menu li.product-step:after {
    content: "";
    line-height: 18px;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #70d7c9;
    border-radius: 100%;
    z-index: 11;
    right: -11px;
    text-align: center;
    transition: all .3s;
	background: #fff;
}
.curalin-product-page .product-menu-wrapper ul.product-menu li.product-step.active:after {
    content: '>';
    color: #fff;
      border-color: #70d7c9;
    background: #70d7c9;
}
.curalin-product-page .product-menu-wrapper ul.product-menu li:last-child:before {
    display: none;
}
div#shopify-section-Curalin-Product_section > .container {
    max-width: 873px;
    width: 100%;
    margin: 0 auto;
}
div#shopify-section-Curalin-Product_section .img-wrapper img {
     width: 100%;
    max-width: 210px;
    margin: 0 auto;
    display: block;
    top: 20px;
    POSITION: RELATIVE;
}
div#shopify-section-Curalin-Product_section .embed-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
div#shopify-section-Curalin-Product_section iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.icons-wrapper .icon-content {
    text-align: center;
    padding-bottom: 28px;
}
.icons-wrapper .icon-content img.icon {
    width: 45px;
    height: auto;
}
.icons-wrapper .icon-content p {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
.icons-wrapper {
    margin-top: 35px;
}
div#shopify-section-Curalin-Product_section {
    padding-top: 50px;
}
.product-desc-wrapper h2.curalin-title {
    margin: 0px;
    padding: 0px;
    color: #70d7c9;
    text-align: center;
    margin-top: 3rem;
    font-weight: 600;
    font-size: 43px;
    line-height: 53px;
    font-family: "Poppins", sans-serif;
}
.product-desc-wrapper p.product-desc {
    margin-top: 30px;
    line-height: 2;
    color: #70d7c9;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
.certs-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.certs-wrapper .cert-wrapper {
    width: 13%;
    height: 80px;
    flex: 0 0 13%;
    max-width: 13%;
}
.certs-wrapper .cert-wrapper img {
    height: 100%;
    width: auto;
    max-width: unset;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.shop-now-wrapper.bottom-btn {
    display: flex;
    justify-content: center;
}
.shop-now-wrapper.bottom-btn a.cura-btn {
    margin: 0 10px;
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 50px;
    transition: background-color .6s,color .6s;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .4px;
    padding: 7px 15px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    line-height: 28px;
    margin-left: 0;
    border: 3px solid transparent;
}
.shop-now-wrapper.bottom-btn a.cura-btn.white-gold {
    color: #cda349;
    border: 3px solid #cda349;
}
.shop-now-wrapper.bottom-btn a.cura-btn.gold {
    background-color: #cda349;
}
.shop-now-wrapper.bottom-btn a.cura-btn.gold:hover {
    background: transparent;
    color: #cda349;
    border-color: #cda349;
    text-decoration: none;
}
.shop-now-wrapper.bottom-btn a.cura-btn.white-gold:hover {
    background: #cda349;
    color: #fff;
    text-decoration: none;
} 

.open_pdf img {
    width: 100%;
    height: auto;
}
.capsule-usa-sec .slick-prev.slick-arrow {
     background: url(https://cdn.shopify.com/s/files/1/0452/2459/1511/t/2/assets/carousel_arrow_left_1.png) no-repeat;
    border: none;
        width: 49px;
}
.capsule-usa-sec .cap-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.capsule-usa-sec .cap-left img {
    width: 100%;
}
.ingredients .container {
    max-width: 873px;
    margin: 0 auto;
}
.row.title-wrapper {
    padding: 50px 0 30px;
}
.capsule-usa-sec .slick-next.slick-arrow {
    background: url(https://cdn.shopify.com/s/files/1/0452/2459/1511/t/2/assets/carousel_arrow_right_1.png) no-repeat;
    width: 49px;
    background-size: cover;
    border: none;
}
.ingredients h2.title {
    color: #70d7c9;
    line-height: 1;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 43px;
    text-align: center;
}
.ingredients .row.title-wrapper .col-xs-12 {
    width: 100%;
}
.ingredients h3.title {
    text-align: center;
    font-size: 35px;
    line-height: 42px;
    font-weight: 600;
    color: #70d7c9;
    margin: 0;
}
.capsule-usa-sec .cap-detail p {
    color: #70d7c9 !important;
}
.ingredient_design .ingd::after {
    background-color: #70d7c9 !important;
    }
    .ingredient_design {
    border-right: 2px solid #70d7c9 !important;
}
section.ingredients {
    background: #f6f6f6;
    margin-top: 50px;
    padding-bottom: 30px;
}
.ingredients .row.title-wrapper .col-xs-12.second-part h2.title {
    font-size: 35px;
    font-weight: 600;
}
.icons-wrapper .icon-wrapper {
    text-align: center;
}
.icons-wrapper .icon-wrapper img.icon {
    width: auto;
    height: 50px;
    margin-bottom: 20px;
}
.icons-wrapper .icon-wrapper p.precentage {
    font-weight: 600;
    color: #70d7c9;
    margin-bottom: 7px;
}
.icons-wrapper .icon-wrapper p {
    font-weight: 400;
    font-size: 14px;
    font-family: poppins,sans-serif;
}
section#reviews {
    max-width: 873px;
    margin: 0 auto;
}
section#reviews .row.icons-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
}
.reviews .first-part {
    width: 100%;
    text-align: center;
}
.reviews .first-part h2.title {
    font-weight: 800;
    font-size: 43px;
    line-height: 53px;
    font-family: poppins,sans-serif;
    color: #70d7c9;
}
.reviews .first-part {
    width: 100%;
    text-align: center;
}
.reviews .first-part h2.title {
    font-weight: 600;
    font-size: 43px;
    line-height: 53px;
    font-family: poppins,sans-serif;
    color: #70d7c9;
}
.reviews-carousel button {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    font-size: 0;
    background: transparent;
    border: none;
      z-index: 9;
}
.reviews-carousel button.slick-prev.slick-arrow {
    background: url(https://cdn.shopify.com/s/files/1/0452/2459/1511/t/2/assets/left-er.png) no-repeat;
    background-size: cover;
      left: 170px;
}
.reviews-carousel button.slick-next.slick-arrow {
    background: url(https://cdn.shopify.com/s/files/1/0452/2459/1511/t/2/assets/right-er.png) no-repeat;
    background-size: cover;
    right: 170px;
}
.reviews-carousel .review-item.item {
    max-width: 400px;
    margin: 0 auto;
    justify-content: center;
    display: block !important;
    padding: 0 55px;
    text-align: left;
}
.reviews-carousel .review-item.item p {
    font-size: 15px;
    color: #70d7c9;
    margin: 0;
}
.shopNow {
    background: #f6f6f6;
    text-align: center;
}
.shopNow a {
    margin: 50px 0;
    max-width: 300px;
    width: 100%;
    border-radius: 50px;
    transition: background-color .6s, color .6s;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .4px;
    padding: 7px 15px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    line-height: 28px;
    margin-left: 0px;
    background-color: #cda349;
    border: 3px solid transparent;
      text-decoration: none;
  
}
.shopNow a:hover {
    background-color: #fff;
    border: 3px solid #cda349;
    color: #cda349;
}

.product-menu-wrapper.hidden-xs.posAbs {
    bottom: 53vh;
    top: unset;
}

.product-menu-wrapper.hidden-xs.postop {
    top: 44vh;
}
section.contact-form {
    margin: 60px 0;
}
section.contact-form p.title {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
	color:#808080;
}
section.contact-form p.title img {
    height: 30px;
    object-fit: contain;
    margin-right: 15px;
}
section.contact-form p.title a {
    color: #808080;
}
section.contact-form p span.title {
    margin-bottom: 5px;
    display: block;
    font-size: 18px;
    color: #70d7c9;
    font-weight: bold;
    letter-spacing: .4px;
    font-family: 'Open Sans', sans-serif;
}
section.contact-form p {
    margin: 0;
}
section.contact-form p {
    font-size: 17px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
}
section.contact-form p span.bold {
    font-weight: bold;
}
section.contact-form .social {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
}
section.contact-form .social a img {
    margin-left: 0px;
    height: 25px;
    object-fit: contain;
    margin-right: 15px;
}




section.contact-form form input, section.contact-form form select {
       width: 100% !important;
    padding: 5px 25px;
    border: 1px solid #70d7c9;
    border-radius: 50px;
    height: 50px;
    resize: none;
    margin-bottom: 15px;
}
section.contact-form form textarea {
    height: 200px;
    border-radius: 15px;
    width: 100%;
    padding: 5px 25px;
    border: 1px solid #70d7c9;
    resize: none;
    font-family: open sans,sans-serif;
    margin-bottom: 15px;
}
section.contact-form form {
    max-width: 100%;
    margin: 0 auto;
    width: 66.66666667%;
    position: relative;
    right: 0px;
}
section.contact-form form input[type="submit"] {
border: 2px solid #cda349;
    background: #cda349;
    color: #fff;
    width: 80% !important;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s;
}
section.contact-form form input[type="submit"]:hover {
    background: transparent;
    color: #cda349;
}
section.contact-form .right-side {
    border-left: 1px solid #ccc;
}
section.contact-form input:required:invalid, section.contact-form input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
}


/* 16-oct css */
div#shopify-section-partnership_banner section.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}
div#shopify-section-partnership_banner section.hero h1.title {
      line-height: 45px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 0;
}
div#shopify-section-partnership_banner section.hero h2.title {
    font-family: "Playfair Display", serif;
    font-size: 45px;
    font-style: italic;
    line-height: 60px;
    margin: 0;
    color: #fff;
    text-align: center;
    font-weight: 100;
}
div#shopify-section-partnership_banner section.hero p {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}
div#shopify-section-partnership_banner section.hero .down {
    margin: 10px auto 32px;
}
div#shopify-section-partnership_banner section.hero .down img.arrow-scroll {
    height: 73px;
    width: 73px;
    object-fit: contain;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
#partnership section.contact-form h3.title {
    font-size: 30px;
    margin-bottom: 3rem;
    font-weight: 600;
    color: #000000;
    font-family: "Poppins", sans-serif;
}
#partnership section.contact-form p {
    line-height: 2;
       margin-bottom: 12px;
    color: #000000;
}
div#shopify-section-partnership_banner .row.hero-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
	height: 100%;
}
div#shopify-section-partnership_banner section.hero .hero-container {
    height: 100%;
}
div#shopify-section-partnership_banner section.hero .hero-container .row.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#partnership .partnership-form span.initial-name select {
    display: block;
    width: 100% !important;
    padding: 5px 25px;
    border: 1px solid #70d7c9;
    border-radius: 50px;
    height: 50px;
    resize: none;
    margin-bottom: 15px;
}
#partnership .partnership-form {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
      font-size: 14px;
    justify-content: space-between;
    margin-bottom: 20px;
}
#partnership .partnership-form form {
    width: 100% !important;
	   display: flex;
    flex-wrap: wrap;
}
#partnership .partnership-form p.terms-conditions {
    clear: both;
    text-align: left;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}
#partnership .partnership-form p.terms-conditions a {
    color: #808080;
}
#partnership .partnership-form p.terms-conditions input#tc-check {
    width: 18px !important;
    border-radius: unset;
    height: 18px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: inline-block;
	    top: 3px;
}
#partnership .partnership-form p.terms-conditions input#tc-check[type=checkbox]:checked:after {
     position: absolute;
    top: 0;
    left: 0;
    background: #70d7c9;
    height: 100%;
    width: 100%;
    border-radius: unset;
    font: normal normal normal 12px/1 FontAwesome;
    content: "\f00c";
    color: #fff;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#partnership .partnership-form input.submit {
    background: #70d7c9;
    border-color: #70d7c9;
}
#partnership .partnership-form input.submit:hover {
    color: #70d7c9;
    background: transparent;
}
section.community-grid_section .item.big {
    flex: 0 0 32%;
    max-width: 32%;
    height: 100%!important;
    margin: 0 0 20px;
    padding: 0 8px;
}
section.community-grid_section .grid-row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0;
    height: auto!important;
    padding: 0 0 0;
    width: 100%;
    clear: both;
}
section.community-grid_section .community_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0;
    height: auto!important;
    padding: 0 0 0;
    width: 100%;
    clear: both;
}
section.hero.row {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}
 section.hero .hero-container {
    height: auto;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}
 section.hero .hero-container .hero-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
section.hero .row.hero-content-wrapper p.text {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 0;
    margin-top: 0;
}
section.hero .row.hero-content-wrapper button.cura-btn.community {
    margin: 20px 0;
    flex: 0 0 48px;
}
section.hero .row.hero-content-wrapper button.cura-btn.community {
    width: 336px;
    height: 55px;
    color: #fff;
    background-color: #0071bc;
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
    letter-spacing: 1.5px;
    font-size: 18px;
    background-size: 30px;
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
    border: 2px solid  #0071bc;
    transition: background-color .6s,color .6s;
    line-height: 28px;
          border-radius: 100px;
	}
	section.hero .down img {
    height: 73px;
    width: 73px;
    object-fit: contain;
    cursor: pointer;
}
div#shopify-section-community_banner section.hero.row p {
    margin: 0 auto 15px;
    width: 80%;
    margin-top: 30px;
    line-height: 1.5; 
}
div#shopify-section-community_banner section.hero.row p {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 0; 
    margin-top: 0;
}
div#shopify-section-community_banner button.cura-btn.community a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: open sans,sans-serif;
}
div#shopify-section-Community_Section {
    margin-top: 50px;
    margin-bottom: 100px;
}
section.community-grid_section .community_grid .inner-item .row {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 14px;
}
section.community-grid_section .item.big {
    z-index: 0;
    border-radius: 20px;
}
section.community-grid_section .community_grid .inner-item .intro-wrapper {
    background-color: #70d7c9;
    direction: ltr;
    width: 100%;
    margin: 0;
    height: 40%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: row;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-delay: .4s;
}
section.community-grid_section .community_grid .inner-item .txt-wrapper {
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    color: #fff;
    font-weight: 500;
    position: relative;
    font-family: poppins,sans-serif;
}
section.community-grid_section .community_grid .inner-item .txt-wrapper span.name {
    font-family: open sans,sans-serif;
}
section.community-grid_section .community_grid .inner-item {
    width: calc(100% - 0px);
    height: 100%!important;
    transition: all .5s;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);
    border-radius: 20px;
    background: #fff;
}
section.community-grid_section .community_grid .inner-item .details-wrapper {
    padding: 5%;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
section.community-grid_section .community_grid .inner-item .details-wrapper p {
    max-height: 135px;
    height: 170px;
    overflow-x: hidden;
    display: block;
    clear: both;
    margin: 6px 0 20px;
    line-height: 2;
    width: 100%;
    color: #70d7c9;
}
section.community-grid_section .community_grid .inner-item .like-button {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0;
    padding: 0;
	    width: 100%;
}

section.community-grid_section .community_grid .inner-item .like-button .heart {
   width: 53px;
    height: 53px;
    background: url(https://cdn.shopify.com/s/files/1/0452/2459/1511/t/2/assets/heart_gray.png) no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s;
    cursor: pointer;
}
section.community-grid_section .community_grid .inner-item .like-button button.community {
    width: 100%;
    padding-right: 50px;
    padding-left: 16px;
    font-size: 13px;
    box-sizing: content-box;
    margin-left: 25px;
    height: 40px;
    line-height: 1.1;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
    background-color: #0071bc;
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
    background-size: 30px;
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
    border: 2px solid #0071bc;
    transition: background-color .6s,color .6s;
      border-radius: 100px;
      display: flex;
    align-items: center;
    justify-content: end;
}
section.community-grid_section .community_grid .inner-item .like-button button.community a {
    font-size: 13px;
    color: #fff;
    font-family: open sans,sans-serif;
    font-weight: 600; 
}
section.community-grid_section .community_grid .inner-item .details-wrapper p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f5f5f5
}

section.community-grid_section .community_grid .inner-item .details-wrapper p::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5
}

section.community-grid_section .community_grid .inner-item .details-wrapper p::-webkit-scrollbar-thumb {
    background-color: #70d7c9;
    border: 2px solid #555
}

section.community-grid_section .row.load-more-wrapper {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.community-grid_section .row.load-more-wrapper .inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
section.community-grid_section .row.load-more-wrapper .inner-wrapper p.text {
    color: #71d7c9;
    font-weight: 600;
    margin-bottom: 15px;
}
section.community-grid_section .row.load-more-wrapper .inner-wrapper p.text a{
	 color: #71d7c9;
      text-decoration: none;
}
.row.load-more-wrapper .inner-wrapper span.arrow {
    transition: .3s all;
}
section.community-grid_section .row.load-more-wrapper .inner-wrapper span.arrow img {
    width: 100%;
    max-width: 33px;
}
section.community-grid_section .load-more-wrapper .inner-wrapper:hover .arrow {
    transform: translateY(10px);
}
section.community-grid_section .community_grid .inner-item .like-button .heart.active {
   background: url(https://cdn.shopify.com/s/files/1/0452/2459/1511/t/2/assets/heart_red.png) no-repeat;
    background-size: 100%;
    background-position: 100%; 
}
form#patner_form select {
    display: block;
}
form#patner_form input:focus,form#patner_form select:focus,form#patner_form textarea:focus {
    outline: unset;
    /* border: none; */
}
form#contact-us-form input:focus,form#contact-us-form select:focus,form#contact-us-form textarea:focus {
    outline: unset;
    /* border: none; */
}

section.contact-form input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
}
.footer_rich_text p {
    text-align: center;
}
.footer_rich_text {
    max-width: 865px;
    margin: 0 auto;
}
@media only screen and (max-width: 991px){
section.community-grid_section .item.big {
    flex: 0 0 50%;
    max-width: 50%;
	}
	}
@media only screen and (max-width: 767px){
section.our-advisory .single-advisory .advisory-img-wrapper, section.our-advisory .single-advisory .single_adv_text {
    flex: 0 0 100%;
    max-width: 100%;
	}
	section.our-advisory .single-advisory .single_adv_text {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px 0px;
}
  .curalin-product-page .product-menu-wrapper {
    display: none;
}
  div#shopify-section-Curalin-Product_section .img-wrapper img {
 
    margin: 0 auto 40px;
    top: 0;
}
  div#shopify-section-Curalin-Product_section > .container {
    padding: 0 30px;
}
  .certs-wrapper .cert-wrapper img {
    max-width: unset;
    left: 50%;
}
  .certs-wrapper .cert-wrapper {
    width: 100%;
    height: 80px;
    flex: 0 0 33%;
    max-width: 33%;
}
  .product-desc-wrapper h2.curalin-title {
    margin-top: 0rem;
    margin-bottom: 20px;
    font-size: 30px;
}
  .ingredients h2.title {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 10px;
}
  .ingredients .row.title-wrapper .col-xs-12.second-part h2.title {
    font-size: 22px;
    font-weight: 400;
}
  .ingredients h3.title {
    margin-bottom: .5rem;
    text-align: center;
    font-size: 30px;
}
  .reviews .first-part h2.title {
    font-size: 30px;
    line-height: 43px;
}
  .reviews-carousel button.slick-prev.slick-arrow {
    left: 0;
}
  .reviews-carousel button.slick-next.slick-arrow {
    right: 0;
}
  .reviews-carousel .review-item.item {
    padding: 0 65px; 
}
  section.contact-form form {
    max-width: 100%;
    width: 100%;
    margin: 30px auto 0;
}
section.contact-form > .row {
    margin: 0;
}
section.contact-form .right-side {
    border-left: none;
}
  #partnership .partnership-form {
    width: 100%;

}
  section.community-grid_section .item.big {
    flex: 0 0 100%;
    max-width: 100%;
	}
  div#shopify-section-community_banner section.hero.row p {
    font-size: 18px;
    line-height: 24px;
    width: 95%;
}
  section.hero.row {
    height: auto;
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

#partnership .header-icons.cart-link, #contact-us .header-icons.cart-link {
    display: none;
}

.cart-modal-content .modal__content .text p .underline::before {
    background: url(underline.svg) center no-repeat;
    background-size: contain;
}