@font-face {
    font-family: 'Poppins';
    src: url('poppins-bold-webfont.woff2') format('woff2'),
        url('poppins-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('poppins-regular-webfont.woff2') format('woff2'),
        url('poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('poppins-light-webfont.woff2') format('woff2'),
        url('poppins-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

a,
body,
h1,
h2,
h3,
h4,
h5,
input,
li,
p,
span,
ul {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
section.banner-sec {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 18vh 0 12vh;
}
del {
    text-decoration: line-through;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
header {
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
}
.bannerDisc h1 span {
    font-family: playfair display, serif;
    font-style: italic;
    color: #fff;
    text-shadow: -1px 2px 2px #4c4a4a;
    font-size: 42px;
}
.bannerDisc h1 {
    font-size: 47px;
    color: #fff;
    text-shadow: 1px 2px 4px #444;
    line-height: 55px;
}
.bannerDisc ul li,
.product-info ul li {
    list-style: none;
    flex: 0 0 50%;
    padding: 12px 0;
    font-size: 20px;
    font-weight: 500;
}
.product-info.it-ver-control-label ul li {
    color: #fff;
}
.bannerDisc ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    clear: both;
    flex-wrap: wrap;
    margin: 35px 0 45px;
}
.bannerDisc ul li a,
.product-info li a {
    color: #fff;
    text-decoration: none;
}
.bannerDisc ul li a img,
.product-info li a img {
    margin-right: 12px;
}
.bannerDisc ul.for-desktop.it-ver li img,
.product-info.it-ver-control-label li img {
    margin-right: 12px;
}
.orderNow {
    background: #0071b6;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    display: block;
    width: 100%;
    max-width: 350px;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    margin: 35px 0 0;
    border: 2px solid transparent;
    text-decoration: none;
}
.orderNow:hover {
    color: #0071b6;
    text-decoration: none;
    border-color: #0071b6;
    background: #fff;
}
.banner-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-logos img {
    max-width: 93px;
}
.bannerDisc {
    padding: 40px 0 0;
}
section.company-logos {
    background: #ececec;
    padding: 35px 0;
}
.logos-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.logos-block img {
    max-width: 140px;
    height: auto;
}
section.banner-sec .iframe-block.for-desktop img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 90px;
}
.bannerDisc ul.it-ver li {
    list-style: none;
    flex: 0 0 50%;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
p.off-trial-pack {
    line-height: 22px;
    font-weight: 600;
    color: #648c90;
    text-align: center;
    padding: 20px 0 12px !important;
    display: block;
    width: 100%;
    font-size: 20px !important;
}
.package-detail .instant .off-price.it-off-ver {
    border-bottom: 1px solid #648c90;
}
.details_sec.it-detail-ver {
    min-height: 50px;
    padding: 0 32px;
}
.it-detail-ver h4 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 800;
    color: #333;
    border-top: 1px solid #648c90;
    margin-top: 0 !important;
}
section.it-ver-package .instant {
    min-height: 345px;
}
section.curaLinBenifits {
    padding: 70px 0 0 !important;
    text-align: center;
}
.CuraLin-title {
    color: #648c90;
    font-size: 42px;
    font-weight: 600;
    margin: 0 0 50px;
    text-align: center;
}
.benifit-disc img {
    display: block;
    margin: 0 auto;
}
.benifit-disc p {
    font-size: 20px;
    padding: 12px 0;
    color: #000;
}
.benifit-disc {
    min-height: 190px;
}
section.control-label {
    position: relative;
    background: url(../images/benifitBG.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 6vh 0 34px;
}
section.control-label p em {
    text-align: center;
    color: #648c90;
    font-size: 14px;
    font-style: inherit;
}
.control-label-detail {
    padding: 185px 0 0;
}
.product-info {
    float: right;
    position: relative;
    left: 70px;
}
.pro-img {
    position: absolute;
    left: -78px;
    right: 0;
    top: -52px;
}
.pro-img.img-uk-shadow {
    left: -27px;
    top: -70px;
}
.pro-img img {
    max-width: 560px;
}
.pro-img.uk img {
    max-width: 480px;
}
.pro-img.img-uk-shadow img {
    max-width: 455px;
}
.product-info li a {
    font-size: 17px;
}
.product-benifits h3 span {
    font-size: 24px;
    font-style: italic;
    color: #fff;
    font-family: playfair display, serif;
}
.product-benifits h3 {
    color: #fff;
    font-weight: bold;
    font-size: 43px;
    line-height: 45px;
}
.product-benifits {
    position: relative;
    left: -66px;
    top: -38px;
}
section.testimonial-sec {
    padding: 100px 0;
    text-align: center;
}
section.testimonial-sec h2 {
    color: #648c90;
    font-size: 60px;
    font-weight: 500;
    font-style: italic;
}
.testmonials-disc p span {
    color: #648c90;
    font-weight: bold;
    font-size: 20px;
    display: block;
}
.testmonials-disc p {
    font-size: 17px;
    color: #000;
    font-weight: 500;
    padding: 22px 9px;
}
.testimonials-info {
    clear: both;
    display: block;
    margin: 70px auto 0;
    max-width: 850px;
}
.tesimonialsSlider {
    clear: both;
}
.slider-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-info p {
    color: #000;
    font-size: 22px;
    text-align: left;
    line-height: 34px;
    font-weight: 500;
}
.slider-disc {
    text-align: left;
    flex: 0 0 78%;
    max-width: 78%;
    padding-left: 30px;
}
.slider-disc h3 {
    color: #648c90;
    font-size: 25px;
    padding: 12px 0 0;
}
.slider-info {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    padding: 50px;
}
.tesimonialsSlider {
    max-width: 1000px;
    margin: 0 auto;
}
.slider-img {
    flex: 0 0 27%;
    max-width: 27%;
}
.slider-img img {
    max-width: 214px;
    height: 214px;
    border-radius: 100%;
    box-shadow: 0 0 20px 0 #9a9292;
}
.tesimonialsSlider button.slick-next.slick-arrow,
.tesimonialsSlider button.slick-prev.slick-arrow {
    font-size: 0;
    border: 0;
    background: 0;
    width: 80px;
    height: 80px;
    background-size: 70px;
    background-repeat: no-repeat;
    position: absolute;
}
.tesimonialsSlider button.slick-next.slick-arrow {
    background-image: url(../../../img/lp/glucose-level-vid/right-errow.png);
    right: -100px;
    top: 34%;
}
.tesimonialsSlider button.slick-prev.slick-arrow {
    background-image: url(../../../img/lp/glucose-level-vid/left-errow.png);
    left: -100px;
    top: 34%;
    cursor: pointer;
    z-index: 99;
}
:focus {
    outline: 0 !important;
}
.glucose-lavel-two {
    background: #648c90;
    padding: 80px 0;
}
.glucose-lavel-two .product-benifits {
    position: relative;
    left: 50px;
    top: 0;
}
.glucose-lavel-two .product-info {
    float: left;
    position: relative;
    left: 0;
}
section.glucose-lavel-two a.orderNow {
    background: #9eb852;
    box-shadow: 0 0 7px 1px #52631f;
    position: relative;
    z-index: 9;
}
section.glucose-lavel-two a.orderNow:hover {
    border-color: #9eb852;
    color: #9eb852;
    background: #fff;
}
section.glucose-lavel-two .pro-img {
    top: 70px;
    left: -94px;
}
section.inside-curalin {
    padding: 160px 0 0;
}
.product-name h4 {
    color: #648c90;
    font-size: 25px;
    font-family: playfair display, serif;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    padding: 0 0 30px;
}
.product-name img {
    max-width: 168px;
}
.proDisc p {
    color: #648c90;
    font-size: 17px;
    line-height: 26px;
}
.col-md-4.col-sm-4.col-xs-12 {
    padding: 0;
}
.inside-curalin .col-md-6.col-sm-12.col-xs-12 {
    min-height: 200px;
    margin: 0 0 38px;
}
.inside-curalin .container {
    max-width: 1350px;
}
.control-lebel-three {
    background: url(../../../img/lp/glucose-level-vid/levelthree-bg.png) no-repeat;
    background-size: cover;
    height: 64vh;
    background-position: 0 -42px;
}
.control-lebel-three .pro-img {
    left: 97px;
    top: -115px;
}
.control-lebel-three .pro-img.label-three-it {
    left: 97px;
    top: -60px;
}
.control-lebel-three .control-label-detail {
    padding: 136px 0 0;
}
section.faq-section {
    padding: 70px 0 80px;
}
.fa1-disc {
    padding: 5px 0;
}
.fa1-disc h5 {
    color: #648c90;
    font-size: 24px;
    padding: 10px 0 10px 30px;
    font-weight: 600;
    position: relative;
}
.fa1-disc p {
    color: #000;
    font-size: 23px;
    display: none;
    padding: 0 0 10px 31px;
}
section.faq-section .container {
    max-width: 1000px;
}
.fa1-disc h5:before {
    content: "\f107";
    font: normal normal normal 20px/1 FontAwesome;
    border: 2px solid;
    width: 24px;
    height: 23px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    font-weight: 900;
    justify-content: center;
    margin-right: 7px;
    position: absolute;
    left: 0;
    top: 12px;
}
section.choose-package {
    background: url(../../../img/lp/glucose-level-vid/choose-pakage-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}
section.choose-package .product-benifits {
    left: 70px;
    top: 280px;
}
section.choose-package .product-benifits.it {
    left: 70px;
    top: 400px;
}
.select-one {
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0;
    text-align: center;
}
.package-detail .choose-package {
    background: #648c90;
    text-align: center;
    padding: 13px 0;
    position: relative;
}
.package-detail .choose-package h6 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
}
.package-detail .choose-package p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}
.package-detail .choose-package .pointer {
    border-top: 18px solid #fc2043;
    position: absolute;
    bottom: -15px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    content: "";
    border-top: 18px solid #648c90;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.package-detail .instant {
    background: #fff;
    padding: 0;
}
.package-detail .instant .off-price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #648c90;
}
.package-detail .instant .off-price li {
    margin: 0;
    flex: 0 0 33.4%;
    background: #fff;
    padding: 15px 0;
    list-style: none;
}
.package-detail .instant .off-price li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    display: inline-block;
}
.package-detail .instant .off-price li a h6 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #cd9852;
    padding: 0;
}
.package-detail .instant .off-price li a span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #648c90;
    padding: 0;
}
.package-detail .instant .off-price li.active {
    background: #648c90;
    position: relative;
}
.package-detail .instant .off-price li.active:after {
    position: absolute;
    bottom: -15px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    content: "";
    border-top: 18px solid #648c90;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.package-detail .instant .off-price li.active h6,
.package-detail .instant .off-price li.active span {
    color: #fff;
}
.details_sec {
    min-height: 241px;
    padding: 0 32px;
}
.package-detail .instant p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #648c90;
    padding: 20px 0 0;
}
.package-detail .instant h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #648c90;
    padding: 10px 0;
}
.package-detail .instant h5 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #648c90;
}
.package-detail .instant h4 {
    color: #0095ff;
}
.package-detail .instant h4 {
    font-size: 40px;
    line-height: 42px;
    font-weight: 800;
    color: #333;
    padding: 10px 0;
    border-top: 1px solid #648c90;
    margin-top: 28px;
}
.package-detail .buy_btn a {
    width: 100%;
    height: 46px;
    border-radius: 3px;
    font-size: 17px;
    line-height: 46px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    background: #0071b6;
    text-align: center;
    border-radius: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 12px auto;
    text-transform: uppercase;
    max-width: 310px;
}
.package-detail .ship {
    text-align: center;
    padding: 10px 0;
}
.package-detail .ship h3 {
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    color: #648c90;
    display: inline-block;
    font-family: Poppins, sans-serif;
    max-width: 320px;
}
section.choose-package .package-detail {
    position: relative;
    bottom: -50px;
    left: -47px;
}
section.choose-package .pro-img {
    position: absolute;
    left: -101px;
    right: 0;
    top: 180px;
}
section.choose-package .pro-img.it {
    position: absolute;
    left: -101px;
    right: 0;
    top: 250px;
}
section.choose-package .pro-img.uk {
    left: -80px;
}
section.choose-package .lavel-two-infos {
    max-width: 1100px;
}
.iframe-block.mobile-vesrion {
    display: none;
}
.text-disc {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0;
}
.text-disc p {
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: #191a1e;
    line-height: 32px;
    font-weight: 300;
}
.bg-div {
    background: url(../images/green-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 32px;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
}
.bg-div h1 {
    font-family: playfair display, serif;
    color: #fff;
    font-size: 65px;
    flex: 0 0 59%;
    max-width: 59%;
    padding-right: 0;
    font-weight: 600;
    line-height: 75px;
}
.bg-div h1 span {
    font-weight: 400;
    font-family: playfair display, serif;
    font-size: 55px;
}
.veryfiy-logos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.veryfiy-logos img {
    margin: 5px 0;
}
.text-disc ul li {
    list-style: none;
    position: relative;
    padding: 4px 0 4px 20px;
    color: #387e35;
    font-size: 20px;
    font-weight: 600;
}
.text-disc ul li:before {
    content: "\f00c";
    font: normal normal normal 15px/1 FontAwesome;
    margin-right: 0;
    color: #31c364;
    position: absolute;
    left: 0;
    top: 9px;
}
.text-disc em {
    color: #9f9f9f;
    font-size: 13px;
    display: block;
    line-height: 15px;
}
.text-disc ul {
    margin: 10px 0;
}
p.padding {
    padding: 30px 0;
}
.img-headeing {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.img-headeing h2 {
    color: #22a744;
    font-size: 50px;
    padding-left: 4%;
    font-family: playfair display, serif;
    font-weight: 900;
}
.text-disc h3 {
    color: #22a744;
    font-size: 50px;
    padding-left: 0;
    font-family: playfair display, serif;
    font-weight: 900;
    line-height: 55px;
    margin: 30px 0;
}
ul.questionslist li {
    color: #2a3033;
}
ul.questionslist li:before {
    content: "\f059";
    color: #3993c4;
}
.green-list h4:before {
    content: "\f00c";
    font: normal normal normal 15px/1 FontAwesome;
    margin-right: 7px;
    color: #31c364;
    position: absolute;
    left: 0;
}
.green-list h4 {
    position: relative;
    padding-left: 21px;
    color: #387e35;
    font-size: 20px;
    font-weight: bold;
}
.green-list p {
    font-size: 20px;
    padding: 0 0 12px 20px;
}
.img-headeing h3 {
    color: #191a1e;
    font-family: playfair display, serif;
    font-size: 27px;
    padding-left: 3%;
    line-height: 36px;
}
.img-headeing h3 span {
    font-size: 20px;
    display: block;
    font-family: playfair display, serif;
}
.img-headeing h2.mision-title {
    font-weight: 400;
}
.dotted-border {
    border: 2px dashed green;
    padding: 21px;
    text-align: center;
}
.dotted-border h4 {
    color: #22a744;
    font-size: 47px;
    font-family: playfair display, serif;
    line-height: 72px;
}
.dotted-border a {
    color: #3947c4;
    font-weight: bold;
}
.dotted-border p {
    padding: 0 0 10px;
}
a.update {
    color: #4000e1;
    font-size: 40px;
    border-bottom: 1px solid;
    text-decoration: none;
    margin: 0 0 30px;
    display: inline-block;
}
h4.title-h4 {
    color: #22a744;
    font-size: 50px;
    font-family: playfair display, serif;
    font-weight: 300;
    line-height: 60px;
    margin: 30px 0;
}
.refrance-study {
    max-width: 1050px;
    margin: 0 auto;
}
.refrance-study p {
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: #191a1e;
    line-height: 32px;
    font-weight: 300;
}
.refrance-study h5 {
    color: #1b9dd3;
    font-size: 40px;
    font-family: playfair display, serif;
    margin: 0 0 30px;
}
.refrance-study ul li a {
    color: #545759;
    font-size: 13px;
}
.refrance-study {
    max-width: 1050px;
    margin: 0 auto;
    padding: 80px 0;
}

section.textBlock {
    padding: 0 0 80px;
}
@media only screen and (min-width: 767px) {
    .for-mobile {
        display: none;
    }
    h2.CuraLin-title br {
        display: none;
    }
    .refrance-study h5 {
        font-size: 35px;
        margin: 10px 0 30px;
    }
}
@media only screen and (max-width: 1300px) {
    .tesimonialsSlider button.slick-prev.slick-arrow {
        left: -50px;
    }
    .tesimonialsSlider button.slick-next.slick-arrow {
        right: -50px;
    }
}
@media only screen and (max-width: 1150px) {
    .pro-img img {
        max-width: 484px;
    }
    .pro-img {
        left: -50px;
        top: 6px;
    }
}
@media only screen and (max-width: 1050px) {
    .pro-img img {
        max-width: 449px;
    }
}
@media only screen and (max-width: 1024px) {
    section.choose-package .product-benifits {
        left: 0;
    }
    .tesimonialsSlider {
        max-width: 780px;
    }
    .bannerDisc h1 span {
        font-size: 28px;
    }
    .bannerDisc h1 {
        font-size: 33px;
        line-height: 40px;
    }
    .bannerDisc ul li,
    .product-info ul li {
        font-size: 13px;
    }
    .product-info {
        left: 0;
    }
    .product-benifits {
        left: 0;
    }
    .product-benifits h3 {
        font-size: 36px;
        line-height: 42px;
    }
    .pro-img {
        left: -53px;
        top: -2px;
    }
    .glucose-lavel-two .product-benifits {
        left: 15px;
    }
    .pro-img img {
        max-width: 390px;
    }
    section.glucose-lavel-two .pro-img {
        left: -40px;
    }
    .logos-block img {
        max-width: 100px;
        height: auto;
        margin: 20px;
    }
    .logos-block {
        padding: 0 40px;
        flex-wrap: wrap;
    }
    .tesimonialsSlider button.slick-prev.slick-arrow {
        left: 0;
        top: 75%;
    }
    .tesimonialsSlider button.slick-next.slick-arrow {
        right: 0;
        top: 75%;
    }
    .col-md-4.col-sm-4.col-xs-12 {
        padding: 0 15px;
    }
    .package-detail .instant .buy_btn {
        padding: 0 15px;
    }
    .banner-logos img {
        max-width: 68px;
    }
}
@media only screen and (max-width: 850px) {
    .pro-img {
        left: -66px;
    }
    .product-benifits h3 span {
        font-size: 20px;
    }
    .product-benifits h3 {
        font-size: 28px;
        line-height: 31px;
    }
    .pro-img img {
        max-width: 100%;
    }
    section.glucose-lavel-two .pro-img {
        left: -40px;
        top: 130px;
    }
    .control-lebel-three .control-label-detail {
        padding: 150px 0 0;
    }
    section.inside-curalin {
        padding: 160px 0 0;
    }
    .control-lebel-three .pro-img {
        left: 41px;
        top: -101px;
    }
    section.choose-package .product-benifits {
        left: 0;
        top: 280px;
    }
    section.choose-package .package-detail {
        position: relative;
        bottom: 0;
        left: 0;
    }
    section.choose-package .pro-img {
        left: -55px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 849px) {
    .pro-img {
        left: 0;
        top: 120px;
    }
    .benifit-disc {
        min-height: 220px;
    }
}
@media only screen and (max-width: 767px) {
    header {
        padding: 10px 0;
        text-align: center;
    }
    body .for-desktop {
        display: none;
    }
    .banner-logos.mobile-vesrion,
    .for-desktop {
        display: none;
    }
    section.banner-sec {
        background: url(../../../img/lp/glucose-level-vid/mobile-bg-banner.png) no-repeat;
        background-size: cover;
        background-position: 100% 10px;
        padding: 15vh 0 4vh;
        text-align: center;
    }
    .bannerDisc h1 span {
        font-size: 20px;
        color: #333;
        font-weight: 600;
    }
    .bannerDisc h1 {
        font-size: 24px;
        line-height: 32px;
        color: #333;
        font-weight: bold;
    }
    .iframe-block.mobile-vesrion {
        display: block;
        padding: 35px 0;
    }
    a.orderNow.desktop-version {
        display: none;
    }
    .banner-logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .banner-logos img {
        max-width: 93px;
        margin: 8px;
    }
    .logos-block {
        padding: 0;
        flex-wrap: wrap;
    }
    .logos-block img {
        align-items: center;
        justify-content: center;
        width: 88px;
        flex: 0 0 33%;
    }
    .bannerDisc ul li a img,
    .product-info li a img {
        margin-right: 5px;
    }
    .bannerDisc ul li a {
        color: #000;
        text-decoration: none;
        font-size: 12px;
    }
    .bannerDisc .orderNow {
        padding: 10px;
        max-width: 290px;
        margin: 26px auto;
    }
    .bannerDisc ul li a {
        color: #000;
        text-decoration: none;
    }
    .bannerDisc {
        padding: 0;
    }
    .bannerDisc ul {
        margin: 0;
    }
    .CuraLin-title {
        font-size: 24px;
        margin: 0 0 20px;
        line-height: 32px;
    }
    .benifit-disc p {
        font-size: 12px;
        padding: 12px 0;
        color: #000;
    }
    .benifit-disc img {
        max-width: 32px;
    }
    .benifit-disc {
        min-height: 120px;
    }
    section.curaLinBenifits {
        padding: 70px 0 0;
        text-align: center;
    }
    section.control-label {
        padding: 0;
    }
    .control-label-detail {
        padding: 10px 0 0;
    }
    .product-benifits {
        left: 0;
        top: 0;
    }
    .product-benifits h3,
    .product-benifits h3 span {
        color: #648c90;
    }
    section.control-label.for-mobile .pro-img {
        position: static;
        left: 0;
        top: 0;
    }
    .product-info li a {
        font-size: 12px;
    }
    section.control-label.for-mobile .pro-img {
        position: relative;
        left: -40px;
        text-align: left;
        top: 32px;
    }
    section.control-label.for-mobile .pro-img img.curaLin-Img {
        max-width: 280px;
        text-align: left;
    }
    .for-mobile .product-info ul li {
        padding: 8px 0;
        font-size: 14px;
    }
    .for-mobile .product-info ul li img {
        width: 22px;
    }
    .for-mobile .control-label-detail .product-benifits {
        margin: 0 0 30px;
    }
    body section.control-label.for-mobile {
        background-position: 100% 22px;
        background-size: cover;
        border-radius: 0;
    }
    section.control-label p em {
        font-size: 10px;
    }
    section.control-label.for-mobile {
        background: url(../images/benifitBG.png) no-repeat;
    }
    a.orderNow.pro-infobtn {
        padding: 13px;
        max-width: 300px;
        margin: 48px auto 0;
        font-size: 14px;
        box-shadow: 0 0 10px 1px #01385a;
    }
    section.testimonial-sec h2 {
        font-size: 30px;
    }
    section.testimonial-sec {
        padding: 40px 0 0;
        text-align: center;
    }
    .testmonials-disc img {
        width: 43px;
    }
    .slider-info {
        padding: 50px 40px 0;
    }
    .refrance-study {
        padding: 0 0 40px;
    }
    .testmonials-disc p {
        font-size: 13px;
        padding: 12px 8px;
    }
    .testmonials-disc p span {
        font-size: 14px;
    }
    .slider-img img {
        width: 100%;
        height: 100%;
    }
    .slider-info p {
        font-size: 13px;
        line-height: 22px;
    }
    .slider-disc h3 {
        font-size: 15px;
        padding: 5px 0 0;
    }
    .tesimonialsSlider button.slick-next.slick-arrow,
    .tesimonialsSlider button.slick-prev.slick-arrow {
        width: 30px;
        height: 30px;
        background-size: 30px;
    }
    .tesimonialsSlider button.slick-prev.slick-arrow {
        left: 4px;
        top: 45%;
    }
    section.control-label.for-mobile.for-capsule {
        background-position: 100% -82px;
    }
    a.orderNow.pro-capsule {
        padding: 13px;
        max-width: 300px;
        margin: -2px auto 0;
        font-size: 14px;
    }
    .tesimonialsSlider button.slick-next.slick-arrow {
        right: 3px;
        top: 45%;
    }
    .for-mobile h3 {
        color: #648c90;
        font-size: 24px;
        line-height: 31px;
        font-weight: bold;
    }
    .for-mobile h3 span {
        font-size: 20px;
        font-style: italic;
        color: #648c90;
    }
    .glucose-lavel-two {
        padding: 15px 0;
        margin: 15px 0 0;
    }
    .row.lavel-two-infos .pro-img img {
        max-width: 222px;
    }
    .row.lavel-two-infos .pro-img {
        left: -46px;
        top: 48px;
        overflow: hidden;
    }
    a.orderNow.green-btn {
        padding: 13px;
        max-width: 300px;
        margin: 76px auto 0;
        font-size: 14px;
    }
    section.inside-curalin {
        padding: 60px 0 0;
    }
    .product-name img {
        max-width: 98px;
    }
    .product-name h4 {
        font-size: 15px;
        font-weight: 600;
    }
    section.control-label.for-mobile .pro-img.capsule-img .curaLin-Img {
        max-width: 110px !important;
        text-align: left;
    }
    section.control-label.for-mobile .pro-img.capsule-img {
        left: 20px;
        top: -21px;
    }
    section.faq-section {
        padding: 50px 0 80px;
    }
    .fa1-disc h5 {
        font-size: 14px;
        line-height: 22px;
        padding: 0 0 0 30px;
    }
    .fa1-disc p {
        color: #000;
        font-size: 12px;
    }
    .fa1-disc h5:before {
        top: 1px;
    }
    section.choose-package .lavel-two-infos {
        display: flex;
        flex-direction: column;
    }
    .row.lavel-two-infos-mobile .pro-img {
        position: relative;
        top: 40px;
        left: 0;
    }
    .row.lavel-two-infos-mobile h3 br {
        display: none;
    }
    section.choose-package .product-benifits {
        left: 0;
        top: 0;
    }
    section.for-mobile .package-detail {
        padding: 61px 0 60px;
    }
   
    .testimonials-info {
        margin: 30px auto;
        float: left;
    }
    .testimonials-info .testmonials-disc {
        margin: 18px 0;
        min-height: 130px;
    }
    .slider-info .slider-disc .testibhjk {
        margin: 12px 0 !important;
    }
    section.for-mobile.text-center h3 {
        margin: 12px 0 0;
    }
    body section.control-label.for-mobile .product-benifits h3 span {
        font-family: Poppins, sans-serif;
    }
    .faq_questions .ques_heading h3:before{
        top: -6px !important;
    }
}
@media only screen and (min-width: 360px) {
    section.control-label.for-mobile .pro-img {
        left: -40px;
    }
    section.control-label.for-mobile .pro-img.capsule-img {
        left: 0;
    }
}
.refrance-study ul {
    margin: 0 20px;
}
.refrance-study ul {
    word-break: break-word;
}
a,
body,
h1,
h2,
h3,
h4,
h5,
input,
li,
p,
span,
ul {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}
header {
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
}
.banner_section {
    background-size: cover !important;
    width: 100%;
    padding-top: 100px;
    background-position: top center;
}
.banner_section .center-content {
    display: flex;
    margin-bottom: -70px;
}
.banner_section .holiday_offer_block {
    position: relative;
    display: flex;
    align-items: self-end;
    flex: 0 0 66.6%;
    height: 525px;
}
.holiday_img h1 {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    line-height: 65px;
}
.banner_section .package-detail {
    flex: 0 0 33.3%;
    align-self: center;
    z-index: 99;
}
.banner_section .holiday_img {
    position: absolute;
    transform: translate(0, 60%);
    max-width: 400px;
    z-index: 99;
}
.holiday_img h1 br {
    display: none;
}
.banner_section .holiday_offer_img img.curaLin-Img.img-responsive {
    position: absolute;
    max-width: 525px;
    right: -40px;
    width: 100%;
    bottom: 0;
}
.banner_section .package-detail {
    flex: 0 0 33.3%;
    align-self: center;
    z-index: 99;
}
.package-detail .select-one {
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 0 14px -3px #ccc;
}
.package-detail .choose-package {
    background: #0071b1;
    text-align: center;
    padding: 10px 0;
    position: relative;
    border-radius: 10px 10px 0 0;
}
.package-detail .choose-package h6 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}
.package-detail .choose-package p {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}
.package-detail .instant {
    background: #fff;
    padding: 0;
}
.package-detail .instant li a {
    text-decoration: none;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    width: 100%;
}
.package-detail .instant .off-price li.active a:after {
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    content: "";
    border-top: 18px solid #0071b1;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.package-detail .instant li.active a {
    background: #0071b1;
    border-top: 1px solid #fff;
}
.package-detail .instant li.active a span {
    background: #fff;
    color: #0071b1;
    padding: 0 1px 0 0;
}
.package-detail .instant li.active a h3 {
    color: #fff;
}
.package-detail .instant li a h3 {
    font-size: 31px;
    line-height: 36px;
    font-weight: 700;
    color: #c99452;
}
.package-detail .instant li a span {
    font-size: 15px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    color: #39b04a !important;
    align-items: center;
}
.package-detail .instant .off-price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid #0071b1;
}
.package-detail .instant .off-price li {
    margin: 0;
    flex: 0 0 33.3%;
    background: #fff !important;
    list-style: none;
    padding: 0;
    position: unset !important;
}
.package-detail .details_sec b {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #0071b2;
}
.package-detail .details_sec h4 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    color: #0071b2;
    padding: 10px 0 0;
    margin: 0;
    border: none;
}
.package-detail .details_sec h5 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: #39b14a;
    border-bottom: 2px solid #0071b1;
    padding: 7px 0 15px;
}
.package-detail .details_sec h6 {
    font-size: 41px;
    line-height: 46px;
    font-weight: 700;
    color: #333;
    padding: 0;
}
.package-detail .buy_btn a {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    font-size: 17px;
    line-height: 48px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    background: #c89352;
    text-align: center;
    border-radius: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 0 auto 15px;
    text-transform: uppercase;
    max-width: 275px;
}
.package-detail .buy_btn a:hover {
    background: #bd843e;
}
.package-detail .ship h3 {
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    color: #0071b2;
    display: inline-block;
    max-width: 320px;
}
.package-detail .details_sec {
    padding: 15px 40px 0;
    min-height: 200px;
}
.package-detail .ship {
    padding-bottom: 15px;
}
.package-detail .details_sec del {
    color: #f91f43;
}
section.company-logos {
    padding: 32px 0;
    background: #d9f1ff;
    margin-top: 0 ;
}
section.company-logos .logos-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
section.company-logos .logos-block img {
    max-width: 140px;
    height: auto;
}
section.testimonial_top {
    padding: 60px 0;
    max-width: 990px;
    margin: 0 auto;
}
section.testimonial_top h2 {
    font-size: 45px;
    line-height: 66px;
    font-weight: 600;
    color: #0071b2;
}
section.testimonial_top .recommend {
    text-align: center;
}
section.testimonial_top .recommend img {
    text-align: center;
    margin: 0 auto;
}
section.testimonial_top .recommend h3 {
    padding: 30px 0 0;
    font-size: 31px;
    line-height: 42px;
    font-weight: 600;
    color: #5dc098;
}
section.testimonial_top .client-info p {
    font-size: 21px;
    line-height: 40px;
    font-weight: 500;
    color: #000;
}
section.testimonial_top .client-info {
    padding: 40px 0 0;
    position: relative;
}
section.testimonial_top .client-info h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    color: #0071b2;
    padding: 8px 0 0;
}
section.testimonial_top button.slick-next.slick-arrow {
    font-size: 0;
    position: absolute;
    right: -150px;
    outline: 0;
    top: 34%;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: 0 0;
}
section.testimonial_top button.slick-next.slick-arrow:before {
    content: "\f105";
    font-family: FontAwesome;
    right: 13px;
    position: absolute;
    z-index: 99;
    color: #0071b2;
    font-size: 50px;
    top: -13px;
    text-align: center;
}
section.testimonial_top button.slick-prev.slick-arrow {
    font-size: 0;
    position: absolute;
    left: -150px;
    top: 34%;
    z-index: 99;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: 0 0;
}
section.testimonial_top button.slick-prev.slick-arrow:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #0071b2;
    left: 13px;
    position: absolute;
    z-index: 99;
    font-size: 100px;
    font-size: 50px;
    top: -13px;
    text-align: center;
}
section.happy-holiday-newyear-sale {
    position: relative;
    background: url(../images/order_cura.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15vh 0 40px;
}
section.happy-holiday-newyear-sale .product-info {
    float: right;
    position: relative;
    left: 0;
}
section.happy-holiday-newyear-sale .product-info ul li {
    list-style: none;
    flex: 0 0 50%;
    padding: 12px 0;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}
section.happy-holiday-newyear-sale .product-info li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
section.happy-holiday-newyear-sale .product-info li img {
    margin-right: 12px;
}
section.happy-holiday-newyear-sale .happyholi-img.scond {
    position: absolute;
    left: -130px;
    right: 0;
    top: 0;
}
section.happy-holiday-newyear-sale .happyholi-img.scond img {
    max-width: 710px;
}
section.happy-holiday-newyear-sale .product-benifits.left-benifit {
    position: relative;
    top: 30px;
    left: 20px;
}
section.happy-holiday-newyear-sale .product-benifits.left-benifit h3 {
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
}
.product-benifits.left-benifit .orderNow {
    background: #c89352;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    padding: 15px;
    display: block;
    width: 100%;
    max-width: 370px;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    margin: 35px 0 0;
    border: 2px solid transparent;
    text-decoration: none;
    height: 64px;
}
.product-benifits.left-benifit .orderNow:hover {
    color: #fff;
    background: #bd843e;
    text-decoration: none;
}
.advance_sale_sec h2.best_price {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    padding-bottom: 80px;
}
section.advance_sale_sec {
    background: url(../images/advance_sec_banner.jpg) no-repeat;
    background-size: cover;
}
.product-benifits {
    position: relative;
    left: 0;
    top: -38px;
}
section.whats_inside {
    margin: 0;
    padding: 60px 0;
}
section.whats_inside h2 {
    color: #0071b2;
    font-weight: 300;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
}
section.whats_inside .r_capsule {
    max-width: 760px;
    margin: 0 auto;
    padding: 60px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section.whats_inside .r_capsule .capsule_sec {
    flex: 0 0 30%;
    max-width: 30%;
}
section.whats_inside .r_capsule .ingredient_slider {
    flex: 0 0 57%;
    max-width: 57%;
}
.ingredient_slider .ingredient_info h3 {
    color: #0071b2;
    font-weight: 600;
    font-size: 28px;
    line-height: 49px;
    padding-bottom: 25px;
}
.ingredient_slider .ingredient_info p {
    color: #333;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.ingredient_img {
    padding: 100px 0 0;
}
section.whats_inside button.slick-next.slick-arrow {
    font-size: 0;
    position: absolute;
    right: -90px;
    outline: 0;
    top: 0;
    border: 0;
    cursor: pointer;
    background: 0 0;
    transition: all 0.3s ease-in-out;
}
section.whats_inside button.slick-next.slick-arrow:before {
    content: "\f105";
    font-family: FontAwesome;
    right: 13px;
    position: absolute;
    z-index: 99;
    color: #0071b2;
    font-size: 50px;
    top: -13px;
    text-align: center;
}
section.whats_inside button.slick-prev.slick-arrow {
    font-size: 0;
    position: absolute;
    left: -90px;
    top: 0;
    z-index: 99;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: 0 0;
}
section.whats_inside button.slick-prev.slick-arrow:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #0071b2;
    left: 13px;
    position: absolute;
    z-index: 99;
    font-size: 100px;
    font-size: 50px;
    top: -13px;
    text-align: center;
}
section.curaLinBenifits {
    padding: 60px 0 !important;
    text-align: center;
    margin: 0;
    background: #f7f7f7;
}
section.curaLinBenifits .CuraLin-title {
    color: #0071b2;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 50px;
    text-align: center;
    line-height: 49px;
}
section.curaLinBenifits .benifit-disc img {
    display: block;
    margin: 0 auto;
}
section.curaLinBenifits .benifit-disc p {
    font-size: 20px;
    padding: 12px 0;
    color: #000;
}
section.curaLinBenifits .benifit-disc {
    min-height: 190px;
}
section.curaLinBenifits p.Cura-bottom {
    color: #64888c;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 15px 0 0;
}
.work_for_me_sec {
    background: #f7f7f7;
    background-size: cover;
    padding: 70px 0;
    margin-top: 0;
}
.work_for_me_sec .couldit_slider {
    max-width: 650px;
    margin: 40px auto 0;
}
.work_for_me_sec .prod-info h6 {
    color: #0071b2;
    font-weight: 400;
    font-size: 35px;
    line-height: 50px;
    font-style: italic;
}
.work_for_me_sec .prod-info p {
    color: #1a1a1a;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.work_for_me_sec button.slick-next.slick-arrow {
    font-size: 0;
    position: absolute;
    right: -130px;
    outline: 0;
    top: 40%;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: 0 0;
}
.work_for_me_sec button.slick-next.slick-arrow:before {
    content: "\f105";
    font-family: FontAwesome;
    right: 13px;
    position: absolute;
    z-index: 99;
    color: #0071b2;
    font-size: 50px;
    top: -13px;
    text-align: center;
}
.work_for_me_sec button.slick-prev.slick-arrow {
    font-size: 0;
    position: absolute;
    left: -130px;
    top: 40%;
    z-index: 99;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: 0 0;
}
.work_for_me_sec button.slick-prev.slick-arrow:after {
    content: "\f104";
    font-family: FontAwesome;
    color: #0071b2;
    left: 13px;
    position: absolute;
    z-index: 99;
    font-size: 100px;
    font-size: 50px;
    top: -13px;
    text-align: center;
}
section.faq_search_form {
    padding: 10px 0 20px;
}
.product-benifits h3 span {
    font-family: Poppins, sans-serif;
    font-style: normal;
}
section.faq_search_form .serch_field {
    padding-bottom: 40px;
}
section.faq_search_form .serch_field h2 {
    color: #0071b2;
    font-weight: 600;
    font-size: 56px;
    line-height: 83px;
    text-align: center;
}
section.faq_search_form .question-ans {
    display: none;
}
.faq_questions .ques_heading h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    color: #0071b2;
    position: relative;
    cursor: pointer;
    padding: 0 0 0 30px;
}
.faq_questions .ques_heading {
    margin-bottom: 30px;
}
.faq_questions .ques_heading .question-ans {
    padding: 18px 0 0;
}
.faq_questions .ques_heading .question-ans p {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    color: #333;
    padding: 0 0 0 30px;
}
.faq_questions {
    max-width: 660px;
    margin: 0 auto;
}
:focus {
    outline: 0 !important;
}
.faq_questions .ques_heading h3:before {
    content: "\f106";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 35px;
}
.faq_questions .ques_heading h3.minus-btn:before {
    content: "\f107";
}
.faq_questions .ques_heading:hover {
    background: #fff;
}
.order_section_btm {
    background: url(../images/btm_sec_banner.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    background-position: top center;
    margin-bottom: 250px;
}
.order_section_btm .center-content {
    display: flex;
    max-width: 95%;
    margin: 0 auto;
}
.order_section_btm .holiday_offer_block {
    position: relative;
    flex: 0 0 66.6%;
    height: 550px;
}
.order_section_btm .package-detail .select-one {
    margin: 0 15px;
    box-shadow: 0 0 15px 4px #ccc;
    top: 60px;
    position: RELATIVE;
}
.order_section_btm .holiday_img {
    text-align: center;
    margin-top: 80px;
}
.order_section_btm .package-detail {
    flex: 0 0 33.3%;
    align-self: center;
    z-index: 99;
    position: relative;
}
.holiday_offer_block .holiday_offer_img {
    padding: 40px 0 0;
}
.holiday_offer_block .holiday_img h2 {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
}
.holiday_offer_block .holiday_img p {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    padding: 15px 0;
}
.holiday_offer_block .holiday_img a {
    width: 100%;
    height: 66px;
    border-radius: 3px;
    font-size: 22px;
    line-height: 66px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    background: #c89352;
    text-align: center;
    border-radius: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 0 auto 15px;
    text-transform: uppercase;
    max-width: 362px;
}
.holiday_offer_block .holiday_img a:hover {
    background: #bd843e;
    border: none;
}
.blinking {
    animation: blinkingText 1.5s infinite;
}
@keyframes blinkingText {
    0% {
        color: #e91c24;
    }
    49% {
        color: #e91c24;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #e91c24;
    }
}
section.pay-full-price-sec {
    padding: 55px 0 90px;
    display: none;
    background: url(../images/banner_full_pay.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.need-ed {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1050px;
    position: relative;
}
.anybody h6 {
    color: #333;
    font-weight: 600;
    font-size: 23px;
    line-height: 37px;
    padding: 0 0 0 10px;
    margin: 0;
}
.anybody a {
    width: 100%;
    height: 66px;
    border-radius: 3px;
    font-size: 22px;
    line-height: 66px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    background: #c89352;
    text-align: center;
    border-radius: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 0 auto 15px;
    text-transform: uppercase;
    max-width: 362px;
    border: 0;
    outline: 0;
    margin: 30px 0 15px 50px;
}
.anybody a:hover {
    background: #bd843e;
}
.anybody h6 span {
    text-decoration: underline;
}
.anybody aside {
    display: flex;
    justify-content: space-between;
}
.anybody input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin: 5px 0 0 15px;
}
.anybody {
    flex: 0 0 45%;
    max-width: 45%;
    position: relative;
    left: 70px;
}
.bottle_side {
    flex: 0 0 48%;
    max-width: 48%;
    position: absolute;
    top: -120px;
    right: 0;
}
.bottle_side img {
    max-width: 550px;
}
.anybody p {
    color: #333;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.want_just {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -130px;
    cursor: pointer;
}
.want_just h2 {
    color: #e91c24;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.offer_image {
    display: none;
}
.logo_mobile.mobileonly {
    display: none;
}

section.banner_section .holiday_offer_block .holiday_img a {
    margin: 20px auto 0;
}
.package-detail .instant .off-price li.active a span {
    background: 0 0 !important;
    color: #fff !important;
}
.package-detail .instant .off-price li.active:after {
    position: unset !important;
    content: "" !important;
    border: none !important;
}
section.testimonial-sec {
    padding: 120px 0;
}
section.title_change h2 {
    color: #0071b2;
    font-weight: 300;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    font-style: normal;
}
.slider-info .slider-disc h3 {
    color: #0071b2;
}
.slider-info .slider-disc .resultmayvary {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #0071b2;
    margin-top: 3pc;
    float: left;
}
section.curaLinBenifits.title_change h2 {
    margin-bottom: 60px;
}
section.control-label.curalin-2020-bg {
    background-size: cover;
    width: 100%;
    background-position: top center;
    padding-top: 0;
}
.glucose-lavel-two {
    background: #0071b2;
}
section.glucose-lavel-two a.orderNow {
    box-shadow: none;
}
.curalin-2020-bg .pro-img {
    left: -15px;
    top: -40px;
}
.curalin-2020-bg .pro-img img {
    max-width: 425px;
}
.tesimonialsSlider button.slick-prev.slick-arrow {
    background-image: url(../images/left_arrow.png);
}
.tesimonialsSlider button.slick-next.slick-arrow {
    background-image: url(../images/right_arrow.png);
}
.starsicons {
    text-align: center;
}
.starsicons i {
    color: #fad40c;
    font-size: 30px;
}
.improvementslider {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.ingImg {
    width: 100%;
    text-align: center;
    margin: 0 auto 60px;
}
.ingImg img {
    text-align: center;
    display: inline-block;
    max-width: 500px;
}
p.text.resultVary {
    text-align: center;
}
.resultmay {
    margin-top: 20px;
}
div#wisepops-root {
    display: none !important;
}
.package-detail .buy_btn a,.orderNow{background:#FF6400}
section.newVideoTesti{padding:70px 0;background:#fff}
.package-detail .instant .off-price{flex-wrap:wrap}
.package-detail .instant .off-price li a{border-right:0 solid #662d8c;display:block;height:100%}
.package-detail .instant .off-price li{border-right:0 solid #662d8c}
.package-detail .instant .off-price li:last-child a{border-right:none}
section.newVideoTesti .text_options{height:100%;position:relative;display:flex;flex-direction:column;justify-content:space-between;align-items:center;min-height:554px}
.text_slider.text_seting{position:relative;top:60px}
section.newVideoTesti .text_options .text_slider{text-align:center;width:100%;max-width:360px;height:100%;display:flex;align-items:center;flex-direction:column;justify-content:center;min-height:410px;max-width:550px}
section.newVideoTesti .text_options .text_slider h1{color:#000;font-size:51px;font-weight:700;line-height:73px;font-family:Poppins,sans-serif;text-align:left}
section.newVideoTesti .text_options .text_slider h1 br{display:none}
.newVideoTesti .buy_btns-block{width:100%;text-align:center;position:static;z-index:99}
.buy_btns-block.holiday_mobile_mv{display:none}
.buy_btns-block a{max-width:100%;margin:6px 0}
.newVideoTesti .buy_btns-block a{display:inline-block;color:#0071b6;text-decoration:none;border-color:#0071b6;background:#fff;max-width:100%;font-size:27px;font-weight:600;padding:15px;width:100%;text-align:center;border-radius:100px;border:2px solid transparent;margin:12px 0 0}
.newVideoTesti .buy_btns-block a.order-buttden{background:#FF6400;color:#fff;text-transform:uppercase;display:block;max-width:324px;margin:12px auto 0;height:75px;line-height:39px}
.newVideoTesti .buy_btns-block a.order-buttden.curuline{border-color:#0071b2;background:#0071b2}
.VideoVimeo{position:relative;padding-bottom:100%;padding-top:0;height:0}
.VideoVimeo iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.newVideoTesti .buy_btns-block a.order-buttden:hover{background:#139e63}
.newVideoTesti .buy_btns-block a.order-buttden.curuline:hover{background:#00598c}
.banner_section .holiday_img{top:0}
.work_for_me_sec button,section.whats_inside button{width:45px;height:50px}
.banner_section .holiday_img{top:0}
.work_for_me_sec button,section.whats_inside button{width:45px;height:50px}
.banner_section .holiday_offer_img img.curaLin-Img.img-responsive {right: 0px;}

.curalin-2020-bg .pro-img img{max-width: 446px;float: right;padding: 0px 20px;}
section.company-logos{margin-top:80px;}
@media only screen and (max-width: 1200px){
section.company-logos{margin-top:0px;}
}