.product-template-all-in-one {
    background: #f7f7f7
}

.product-template-all-in-one .swiper-button-prev,
.product-template-all-in-one .swiper-button-next {
    color: gray;
    transition: opacity .5s
}

.product-template-all-in-one .swiper-button-prev.disabled,
.product-template-all-in-one .swiper-button-next.disabled {
    opacity: 0
}

.product-template-all-in-one .swiper-button-prev::after,
.product-template-all-in-one .swiper-button-next::after {
    font-size: 28px
}





.product-template-all-in-one h2 {
    font-size: 40px;
    margin: 0 0 30px
}

.product-template-all-in-one .main-logo {
    position: absolute;
    padding: 20px 30px;
    z-index: 10
}










@media screen and (max-width: 768px) {


   


    .product-template-all-in-one .main-logo {
        padding: 10px 20px;
        width: 150px
    }

 
   

  

    

    

 
 
}

@media screen and (max-width: 330px) {
    .cta-section .variant-infos {
        font-size: 13px
    }
}