<div class="container page-not-found" style="text-align: center;padding: 50px;">
    <img src="{{ '404-main-image.jpg' | asset_url }}" alt="404">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext_html' | t }}</p>
    <a href="/"><button>Back to Home</button></a>
</div>

<style>
    .container.page-not-found {
        text-align: center;
        padding: 50px;
    }

    .container.page-not-found img {
        max-height: 300px;
    }

    .container.page-not-found button {
        padding: 10px 20px;
        color: white;
        font-size: 23px;
        font-weight: 500;
        background: #645598;
        border: 0;
        border-radius: 19px;
    }
</style>
