{% if shop.name == "CuraLife" %}
  {% assign curaeats_value = 29 %}
  {% assign challange_value = 99 %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign curaeats_value = 24 %}
{% endif %}

<div class="catalog-page">
  <div class="container">
    {% render 'collection-titles' %}
    {% render 'products-catalog-section-new-year', Prods: collection.products, challange_value: challange_value, curaeats_value: curaeats_value %}
    {% render 'trust-badges-section' %}
  </div>
  {% render 'holidays-raffle-section' %}
  {% render 'bundle-gifts-section', challange_value: challange_value, curaeats_value: curaeats_value %}
</div>