<div id="collections-page">
  <div class="container">
    <div class="titles">
      <h1 class="text-center">Collections</h1>
      <div class="line"></div>
      <p class="description"></p>
    </div>

    <ul class="category-tabs">
      {% for collection in collections %}
        <li><a href="#" data-collection-handle="{{ collection.handle }}">{{ collection.title }}</a></li>
      {% endfor %}
    </ul>

    {% for collection in collections %}
    <div class="product-grid">
      {% for product in collection.products %}
        {% assign product_collections = product.collections | map: 'handle' | join: ' ' %}
        {% if forloop.last %}
          {% render 'product-card-new', product: product, productCollections: product_collections, isLastRender: true %}
        {% else %}
          {% render 'product-card-new', product: product, productCollections: product_collections %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<style>
  #collections-page {
    padding: 50px 0;
  }

  .category-tabs {
    display: flex;
    gap: 50px;
  }

  .category-tabs li a.active {
    color: var(--light-green);
    padding: 10px 20px;
    border-radius: 20px;
  }

  .category-tabs li a.active {
    background: var(--vomit);
    color: var(--dark-green);
  }
</style>

<script>
  $('.category-tabs a').click(function (e) {
    e.preventDefault();

    $('.category-tabs a').removeClass('active');
    $(this).addClass('active');

    var collectionHandle = $(this).data('collection-handle');
    $('.product-grid .product-card').hide();
    $('.product-grid .product-card[data-product-collections*="' + collectionHandle + '"]').show();
  });
</script>