<div id="collections-page">
  <div class="container">
    <div class="category-tabs">
      <ul>
        {% for collection in collections %}
          <li><a href="#" data-collection-handle="{{ collection.handle }}">{{ collection.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% for collection in collections %}
    <div class="product-grid">
      {% for product in collection.products %}
        {% if forloop.last %}
          {% render 'product-card', product: product, isLastRender: true %}
        {% else %}
          {% render 'product-card', product: product %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<style>
  #collections-page {
    padding: 50px 0;
  }

  .category-tabs ul {
    display: flex;
    gap: 50px;
  }

  .category-tabs ul li {
    background: var(--vomit);
    padding: 10px 20px;
    border-radius: 20px;
  }
</style>

<script>
  $('.category-tabs a').click(function (e) {
    e.preventDefault();

    $('.category-tabs a').removeClass('active');
    $(this).addClass('active');

    var collectionHandle = $(this).data('collection-handle');
    $('.product-grid .product-card').hide();
    $('.product-grid .product-card[data-product-collections*="' + collectionHandle + '"]').show();
  });
</script>