{% layout 'theme.aio-first-page' %}

{% render 'sale-banner', title: "Get into the holiday spirit!", isLogo: true, logoColor: "green", color: "red" %}

{% assign faqItems = "Can I take CuraLin alongside my drugs?:CuraLin is a natural dietary supplement, meaning that it’s meant as a compliment to your existing regime. You simply take it as part of your diet to help maintain a healthy blood sugar level. Thousands of CuraLin users take CuraLin alongside their prescribed drugs and treatments and no serious negative interactions have been recorded. Of course, please consult with your doctor before starting on CuraLin, whether you’re on drugs or not.
|What are the clinical results of CuraLin?:CuraLin’s real-world results show a very high level of safety and efficacy in supporting a healthy fasting and A1c level, improving daily energy, and helping with weight loss. A clinical case study on CuraLin’s effectiveness were published in a peer-reviewed medical journal, and CuraLin is currently involved in a number of double blind placebo controlled studies.
|Is CuraLin recommended by doctors?:Yes! Hundreds of doctors recommend CuraLin, and the number is rapidly growing. These include high profile doctors, endocrinologists, and diabetes researchers. Doctors are seeing an average success rate of about 90% with their patients, and many of these doctors also take CuraLin themselves for blood sugar support.
|Is CuraLin safe?: Yes! CuraLin has been noted by researchers for its ‘highly favorable safety profile’.
The production is done in GMP and ISO9001 certified, and registered facilities.
Every batch of CuraLin undergoes at least 10 safety tests during the production process. All tests are conducted by fully certified independent labs for total transparency. No severe negative effects have been reported while taking CuraLin, and it is safe to use alongside prescribed medication (consult your doctor first, of course).
|Is the capsule natural?:Yes, CuraLin comes in an easy to swallow rice-based capsule. It is 100% natural and vegan friendly.
|Where can I read more about the science?:CuraLin has 9 natural ingredients, each with its own actions that support healthy blood sugar. Together, they support 18 key body functions. CuraLin’s product page goes into depth on the science behind each ingredient and lists out a lot of the scientific studies. Check it out here.
|Which benefits will I get by using CuraLin?:CuraLin has many benefits including helping to promote:
· Healthy and stable blood sugar levels
· High daily energy levels
· Healthy weight loss
· Healthy pancreas and beta cell function
· Reduced cravings for sugars & other carbs
· Healthy absorption rates of carbohydrates
· Healthy live and kidney function
CuraLin users also rave about how they have more motivation and positivity in life after seeing that they can succeed.
We guarantee that you will love CuraLin. If for whatever reason you’re not 100% satisfied within 60 days, just write to our support for your money back.
|I started to see results within 2 days. Is that too fast?:Not at all! And we’re happy to hear that you’re seeing results so fast. We recommend taking CuraLin for 2-3 weeks before seeing results only to set expectations. But it’s completely normal to see results in as little as 2-3 days.
|What’s the story behind CuraLin?:CuraLife was founded by Ron when his father needed help with glucose support. None of the products he tried and none of the lifestyle changes he made where helping. So Ron, flew around the world looking for something that would help. Ron was introduced to a family of Ayurvedic doctors on an educational trip to India. They developed a glucose support formula together, and after years of research and testing, CuraLin was born. Today, CuraLin is used by over 100,000 customers around the world.
|I’m a doctor and want to recommend CuraLin to my patients. Do you have a professional program?:We do! Please click on this link to register for our Professionals program.
|Will my doctor approve of this?:Over 700 doctors, endocrinologists, and medical practitioners are already recommending CuraLin to their patients. While we cannot speak for (and you should consult) your doctor, we can say that doctors everywhere have been thrilled by the results their patients are seeing with CuraLin.
|Can you tell me more about the 100,000 member support community?:Peer-support is one of the most important things you can get to help you maintain healthy blood sugar levels. Having a community that’s there to answer your questions, share a recipe, or give you a shoulder to lean is super valuable. This is the world’s largest online blood sugar support community, and it’s there for you day and night. Once you place your CuraLin order, we’ll send you an invite so you can join."
| split: '|' %}

{% assign realChanges = 'lp-aio-v3-benefits-blood.png*Blood sugar maintenance:is easy - which makes your life easier. Less constant thinking about what you eat and
when
|lp-aio-v3-benefits-eating.png*Eating the foods you love:is possible again. Yes, eat healthy, but CuraLin keeps your body reactive to all your
food choices
|lp-aio-v3-benefits-energy.png*Energy goes up:Because your body is efficiently burning glucose as a fuel source, like it&apos;s meant
to
|lp-aio-v3-benefits-cravings.png*Beat unwanted food cravings:so that you&apos;re no longer &apos;fighting&apos; against yourself. After meals, your cravings and
hunger should go away after meals
|lp-aio-v3-benefits-weight.png*Weight Loss is easier:to manage because your body is metabolizing food better and is not trying to sabatage
you
anymore
|lp-aio-v3-benefits-internal.png*Supports internal systems:that are responsible for keeping your blood sugar healthy on a cellular level

' | split: '|' %}

{% assign doctors = 'lp-aio-michel.png*Dr. Michael Binder:Functional doctor, author of Cracking The Diabetic Code.
|lp-aio-nancy.png*Dr. Nancy Russell:Internal Medicine Specialist, North Kansas City Hospital
|lp-aio-raz.png*Prof. Itamar Raz:World renouned diabetes expert with over 400 published peer-reviewed studies.
|lp-aio-sarah.png*Dr. Sarah Brewer:Functional doctor, diabetes expert, and author of over 60 books on personal
health.
' | split: '|' %}

<div class="page-overflow"> 
    {% render 'aio-first-page-hero-section' %}
    {% render 'partnerships-featured' %}
    {% render 'aio-first-page-meet-curalin' %}
    {% render 'aio-first-page-life-changes' %}
    {% render 'aio-first-page-body-formula' %}
    {% render 'aio-first-page-real-changes', realChanges: realChanges %}
    {% render 'aio-first-page-trusted-doctors', doctors: doctors %}
    {% render 'aio-first-page-testimonials-section' %}
    {% render 'aio-first-page-natural-ingredients' %}
    {% render 'aio-first-page-floating-cta' %}
    
    <div class="why-curaline">
        <div class="container">
            <div class="data-wrap">
                <div class="widget-with-thumbnail">
                    <div class="widget-item-text">
                        <div class="sub-title">
                            <h3><b>Who is CuraLin for?</b></h3>
                            <div class="description-overlay">
                                <h4>
                                    People watching their blood sugar who want to:
                                </h4>
                            </div>
                        </div>

                        <div class="widget-thumbnail-item">
                            <img src="{{ 'lp-aio-cura-rest.png' | file_url }}" alt="">
                        </div>

                        <div class="informer-list">
                            <ul>
                                <li>Sleep well</li>
                                <li>Enjoy their food</li>
                                <li>Have high energy</li>
                                <li>Support a healthy digestion</li>
                                <li>Maintain healthy glucose metabolism</li>
                                <li>Lose a healthy amount of weight</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="supported-community">
        <div class="container">
            <div class="data-wrap">
                <div class="sub-title">
                    <h3>Supported by a community of <b>100,000 people</b></h3>
                    <div class="description-overlay">
                        <h4>
                            CuraLin gives you access to the world’s largest blood sugar peer-support community. It will
                            be
                            one of the most valuable resources to help you along your health journey.
                        </h4>
                    </div>
                </div>
                <div class="community-wall">
                    <picture>
                        <source srcset="{{ 'lp-aio-image-community.png' | file_url}}" media="(min-width: 641px)">
                        <source srcset="{{ 'lp-aio-image-community-mb.png' | file_url}}">
                        <img srcset="{{ 'lp-aio-image-community-mb.png' | file_url}}" alt="Community">
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="satisfaction-survey">
        <div class="satisfaction-survey-bg">
            <div class="container">
                <div class="data-wrap">
                    <div class="sub-title">
                        <h3><b>Satisfaction Survey</b> of CuraLin Customers</h3>
                    </div>
                    <div class="success-list">
                        <ul>
                            <li>
                                <div class="percentage">
                                    <p><span data-count="88.5">0</span>%</p>
                                </div>
                                <div class="title">
                                    <h4>Are satisfied with CuraLin</h4>
                                </div>
                                <div class="line">
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="percentage">
                                    <p><span data-count="98.1">0</span>%</p>
                                </div>
                                <div class="title">
                                    <h4>Feel safe using CuraLin</h4>
                                </div>
                                <div class="line">
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="percentage">
                                    <p><span data-count="84">0</span>%</p>
                                </div>
                                <div class="title">
                                    <h4>Saw a big impact in their lives</h4>
                                </div>
                                <div class="line">
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="percentage">
                                    <p><span data-count="89">0</span>%</p>
                                </div>
                                <div class="title">
                                    <h4>Would recommend CuraLin to a friend</h4>
                                </div>
                                <div class="line">
                                    <span></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="data-wrap">
                <div class="survey-button">
                    <button class="btn-cta" onclick="LinkToProduct(this, '/products/curalin-pack-holidays2022')"><b>Yes,</b> I want to try CuraLin <br>
                        for glucose support</button>
                </div>
            </div>
        </div>
    </div>
    {% render 'section-faq', faqItems: faqItems, isAllowOneOpen: true, title_type: "complex" %}
   
</div>

<script>
    let urlParams = new URLSearchParams(window.location.search);
    let linksAddition = urlParams.get('add');

    if (linksAddition) {
        $('a').each(function () {
            var currLink = $(this).attr('href');
            if (currLink) { $(this).attr('href', currLink + linksAddition) };
        });
    }
</script>



<style>
    .satisfaction-survey .success-list ul li .line span {
        background: linear-gradient(90.05deg, #DCEFEB 0%, #1F8B8D 100%);
    } 
</style>
