{% layout 'theme.lps' %}


<div id="interact-6245b5dc11a9d10018003dc5"></div>
<style>
  #interact-6245b5dc11a9d10018003dc5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }

  

  @media (max-width: 500px) {
    #interact-6245b5dc11a9d10018003dc5 {
      margin-top: -20%;
    }
  }
</style>
<script>
    var app_6245b5dc11a9d10018003dc5;
    (function (d, t) {
        var s = d.createElement(t),
            options = {
                "appId": "6245b5dc11a9d10018003dc5",
                "width": "800",
                "height": "800",
                "async": true,
                "host": "quiz.tryinteract.com"
            };
        s.src = "https://i.tryinteract.com/embed/app.js";
        s.onload = s.onreadystatechange = function () {
            var rs = this.readyState;
            if (rs) 
                if (rs != "complete") 
                    if (rs != "loaded") 
                        return;
                    
                
            
            try {
                app_6245b5dc11a9d10018003dc5 = new InteractApp();
                app_6245b5dc11a9d10018003dc5.initialize(options);
                app_6245b5dc11a9d10018003dc5.display();
            } catch (e) {}
        };
        var scr = d.getElementsByTagName(t)[0],
            par = scr.parentNode;
        par.insertBefore(s, scr);
    })(document, "script");
</script>