<section id="app-download-section">
    <div class="container">
        <div class="content">
            <h2>CuraEats is ready for download!</h2>
            <img src="{{ 'curaeats-app.png' | asset_url }}" alt="curaeats" loading="lazy">
            <img src="{{ 'icon-money-back.png' | asset_url }}" alt="curaeats" loading="lazy">
            <p>*Please use the same email address from your Curalife account when registering for the CuraEats app. The plan may take few minutes to update.</p>
        </div>
        <div class="main-img">
            <img src="{{ 'curaeats-thank-you-main-img.png' | asset_url }}" alt="curaeats" loading="lazy">
        </div>
    </div>
</section>

<style>
    #app-download-section {
        background: #FBF7F4;
        padding: 30px 0;
    }
</style>