<section id="app-download-section">
  <div class="container">
    <div class="content">
      <h2>CuraEats is ready for download!</h2>
      <img src="{{ 'curaeats-download-google-play.png' | asset_url }}" alt="curaeats" loading="lazy">
      <img src="{{ 'curaeats-download-apple-store.png' | asset_url }}" alt="curaeats" loading="lazy">
      <p>*Please use the same email address from your Curalife account when registering for the CuraEats app. The plan may take few minutes to update.</p>
    </div>
    <div class="main-img">
      <img src="{{ 'curaeats-thank-you-main-img.png' | asset_url }}" alt="curaeats" loading="lazy">
    </div>
  </div>
</section>

<style>
  #app-download-section {
    background: #FBF7F4;
  }

  #app-download-section .container {
    display: flex;
  }

  #app-download-section .container .content {
    width: 40%;
  }

  #app-download-section h2 {
    font-size: 60px;
  }
</style>