<section id="curaeats-download-section">
  <div class="container">
    <div class="content">
      <h2>CuraEats is ready for download!</h2>
      <a src=""><img src="{{ 'curaeats-download-button-google-play.png' | asset_url }}" alt="curaeats app download google play" loading="lazy"></a>
      <a src=""><img src="{{ 'curaeats-download-button-apple-store.png' | asset_url }}" alt="curaeats app download apple store" loading="lazy"></a>
      <p>*Please use the same email address from your Curalife account when registering for the CuraEats app. The plan may take few minutes to update.</p>
    </div>
    <img class="main-img" src="{{ 'curaeats-thank-you-main-img.png' | asset_url }}" alt="curaeats" loading="lazy">
  </div>
</section>

<style>
  #curaeats-download-section {
    background: #FBF7F4;
  }

  #curaeats-download-section .container {
    display: flex;
    justify-content: space-between;
  }

  #curaeats-download-section .container .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #curaeats-download-section .container .content h2 {
    font-family: 'RadioGrotesk';
    font-size: 60px;
    color: #424733;
  }

  #curaeats-download-section .container .content p {
    font-family: 'DMSans';
    font-size: 20px;
    font-weight: bold;
  }

  #curaeats-download-section .container .content img {
    width: 296px;
  }

  #curaeats-download-section .container img.main-img {
    max-height: 550px;
  }
</style>

<section id="curaeats-upgrade-section">
  <div class="container">
    <h2>Upgrade to get access to 14 or 28 days of recipes and a complete grocery list.</h2>
    <a href="#"><button>Upgrade Now</button></a>
  </div>
</section>

<style>
  #curaeats-upgrade-section {
    padding: 50px 0;
  }

  #curaeats-upgrade-section .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #curaeats-upgrade-section .container h2 {
    font-family: 'RadioGrotesk';
    font-size: 48px;
    font-weight: normal;
    max-width: 960px;
    margin: auto;
    margin-bottom: 30px;
  }

  #curaeats-upgrade-section .container button {
    background: #E09167;
    color: #fff;
    font-size: 34px;
    padding: 20px 40px;
    border: none;
    border-radius: 150px;
  }
</style>

{% render 'contact-us-section', title: 'If you face any problem with accessing the app, do not hesitate to approach our customer support.', icons-background-color: 'white', border: true %}