 {% layout 'theme.discount' %}
<div class="discount-page">
  {% section 'discount-intro' %}
  {% section 'exclusive-discount' %}
  {% section 'companies-logo' %}
  {% section 'customers-stories' %}
  {% section 'natural-supplement' %}
  {% section 'product-formula' %}
  {% section 'discount-guarantee' %}
  {% section 'discount-package' %}
  {% section 'inside-product' %}
  {% section 'discount-advantages' %}
  {% section 'discount-package' %}
  {% section 'discount-faq' %}
  {% section 'studies-section' %}

</div>