{% assign benefits = "Promote healthy blood sugar levels|Naturally support your joint cushions|Keep joint inflammation in check" | split: "|" %}
{% assign productHandle = "joint-care" %}

<div id="supplement-page">
  {% render 'product-supplement-cta-section', badgesPosition: "cta" %}
  {% render 'product-supplement-health-benefits',productHandle: productHandle, benefits: benefits %}
</div>

<style>
  #supplement-page section h2 {
    text-align: center;
    font-size: 48px;
  }

  #supplement-page section .subtitle {
    text-align: center;
    font-size: 48px;
  }
</style>