{% if shop.name == "CuraLife" %}
  {% if localization.country.iso_code == 'CA' %}
    {% assign challenge_value = 132 %}
    {% assign curaeats_value = 39 %}
  {% elsif localization.country.iso_code == 'AU' %}
    {% assign challenge_value = 147 %}
    {% assign curaeats_value = 43 %}
  {% else %}
    {% assign challenge_value = 99 %}
    {% assign curaeats_value = 29 %}
  {% endif %}
{% elsif shop.name == "CuraLife Global" %}
  {% assign challenge_value = 0 %}
  {% assign curaeats_value = 24 %}
{% endif %}



{% render 'script.round-converted-currency' %}

<div class="product-template-all-in-one">

  {% render 'sale-banner', isOnlyLogo: true, desktopContent: "logo", mobileContent: "logo", bgColor: "green", logoFileName: "logo-white-black-friday.png" %}
  {% render 'product-all-in-one-cta-section', badgesPosition: "bottom", isBadges: true %}
  {% render 'thirty-day-product-challenge-section' %}
  {% render 'product-all-in-one-take-control', ctaTitle: "Join the Challenge!" %}
  {% render 'product-all-in-one-easy', ctaTitle: "Join the Challenge!" %}
  {% render 'product-all-in-one-how-it-works' %}
  {% render 'product-thirty-day-video-reviews' %}
  {% render 'thirty-day-commitement' %}
  {% render 'product-all-in-one-thirty-day-money-back' %} 
  {% render 'product-all-in-one-back-to-top', thirtyDays: true %}
</div>

<style>
  .product-template-all-in-one {
    background: #f7f7f7
  }
</style>