{% comment %} Health Benefits Section Variables {% endcomment %}
{% assign healthBenefitsTitle = "Give joy to your joints" %}
{% assign healthBenefitsSubtitle = "It’s the optimal combo of vitamins & herbal supplements! Naturally lubricate your joints and help them recover from daily stresses" %}
{% assign benefits = "Promote healthy blood sugar levels|Naturally support your joint cushions|Keep joint inflammation in check" | split: "|" %}
{% assign productHandle = "joint-care" %}

{% comment %} Packs Sections Variables {% endcomment %}
{% assign packsTitles = "curalin|Platinum Joint Care|Joint Care Gummies" %}
{% assign packsSubtitles = "Clinically tested blood sugar support. Unleash the 9 natural ingredients with the power to keep your life, and blood sugar in balance
|8 powerful ingredients for comfortable movement. Give your joints the nutrition and lubrication it needs to keep moving freely.
|Delicious bites of joint joy. This great-tasting gummy is exactly what you need to cushion your joints and to protect against wear." | split: "|" %}
{% assign packsHighlights = "<b>Clinically tested</b><br>by the world’s top endocrinologists;<b>Rated #1 recommended</b><br>by the biggest blood sugar support forum;<b>700+ doctors recommends</b><br>Curalin to their patients
|<b>Formulated for joints</b><br>with 8 synergistic ingredients;<b>Supports flexibility</b><br>and helps with joint stiffness;<b>Keeps inflammation</b><br>in check and promotes healthy blood pressure
|<b>Cushions joints</b><br>and keeps them feeling comfortable;<b>Regenerates cartilage</b><br>with glucosamine, which helps connective tissue;<b>Tastes great!</b><br>these gummies are delicious and taste like passionfruit!" | split: "|" %}
{% assign productHandle = "joint-care" %}

<div id="supplement-page">
  {% render 'product-supplement-cta-section', badgesPosition: "cta" %}
  {% render 'product-supplement-health-benefits',productHandle: productHandle, title: healthBenefitsTitle, subtitle: healthBenefitsSubtitle, benefits: benefits %}
  {% if product.metafields.custom.bundle-products.value %}
    {% for prod in product.metafields.custom.bundle-products.value %}
      {% if forloop.last %}
        {% render 'product-supplement-pack-info', product: prod, productIndex: forloop.index, isLastRender: true %}
      {% else %}
        {% render 'product-supplement-pack-info', product: prod, productIndex: forloop.index %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% render 'product-supplement-pack-info', product: product, productIndex: forloop.index, isLastRender: true %}
  {% endif %}
</div>

<style>
  #supplement-page {
    font-size: 20px;
    line-height: 1.2em;
  }

  #supplement-page section .titles {
    text-align: center;
    max-width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  #supplement-page section h2 {
    font-size: 48px;
    font-weight: bold;
    white-space: nowrap;
  }

  #supplement-page section p {
    margin: unset;
  }
</style>