{% comment %} Health Benefits Section Variables {% endcomment %}
{% assign healthBenefitsTitle = "Give joy to your joints" %}
{% assign healthBenefitsSubtitle = "It’s the optimal combo of vitamins & herbal supplements! Naturally lubricate your joints and help them recover from daily stresses" %}
{% assign benefits = "Promote healthy blood sugar levels|Naturally support your joint cushions|Keep joint inflammation in check" | split: "|" %}
{% assign productHandle = "joint-care" %}

{% comment %} Packs Sections Variables {% endcomment %}
{% assign packsTitles = "curalin|Platinum Joint Care|Joint Care Gummies" %}
{% assign packsSubtitles = "Clinically tested blood sugar support. Unleash the 9 natural ingredients with the power to keep your life, and blood sugar in balance
|8 powerful ingredients for comfortable movement. Give your joints the nutrition and lubrication it needs to keep moving freely.
|Delicious bites of joint joy. This great-tasting gummy is exactly what you need to cushion your joints and to protect against wear." | split: "|" %}
{% assign packsHighlights = "<b>Clinically tested</b><br>by the world’s top endocrinologists;<b>Rated #1 recommended</b><br>by the biggest blood sugar support forum;<b>700+ doctors recommends</b><br>Curalin to their patients
|<b>Formulated for joints</b><br>with 8 synergistic ingredients;<b>Supports flexibility</b><br>and helps with joint stiffness;<b>Keeps inflammation</b><br>in check and promotes healthy blood pressure
|<b>Cushions joints</b><br>and keeps them feeling comfortable;<b>Regenerates cartilage</b><br>with glucosamine, which helps connective tissue;<b>Tastes great!</b><br>these gummies are delicious and taste like passionfruit!" | split: "|" %}
{% assign productHandle = "joint-care" %}

{% assign faqItems = "How much should I take of each supplement?:Curalin-<br>On days 1&2 of use, take 1 capsule with every meal.<br>On days 3&4, take 1 capsule 30 minutes after each meal.<br>Day 5+, take 2 capsules 30 minutes after each meal.<br>Never exceed 6 capsules per day.<br><br>Platinum Joint Care-<br>Take 2 capsules once per day.<br>For best results take 20-30 min before a meal with an 8oz. glass of water.<br><br>Joint Care Gummies-<br>Take 2 gummies once per day.<br><br>Always consult a doctor before taking a new supplement.
|Is this bundle for me?:If you’re looking to maintain healthy blood sugar level and support your joint function to sooth and lubricate your joints after a long day, this is a great product for you.<br>Of course, consult your doctor.
|Where are the products made?:Platinum Joint Care and Joint Care Gummies are made right here in the USA!<br>Curalin is powdered in India and capsuled and bottled in the USA.
|Are these supplements certified?:All of our supplements are made in NSF and GMP certified, and FDA registered facilities.
|Can I take these supplements alongside my medications?:Generally speaking, these supplements are very safe. However, always consult your doctor before starting on a new supplement."
| split: '|' %}

{% assign isCuralinBundled = false %}
{% for prod in product.metafields.custom.bundle_products.value %}
  {% if prod.handle == 'curalin' %}
    {% assign isCuralinBundled = true %}
  {% endif %}
{% endfor %}

<div id="supplement-page">
  {% render 'product-supplement-cta-section', isReviews: isCuralinBundled, badgesPosition: "cta" %}
  {% render 'product-supplement-health-benefits',productHandle: productHandle, title: healthBenefitsTitle, subtitle: healthBenefitsSubtitle, benefits: benefits %}

  {% if product.metafields.custom.bundle-products.value %}
    {% for prod in product.metafields.custom.bundle-products.value %}
      {% if forloop.last %}
        {% render 'product-supplement-pack-info', product: prod, index: forloop.index, isLastRender: true %}
      {% else %}
        {% render 'product-supplement-pack-info', product: prod, index: forloop.index %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% render 'product-supplement-pack-info', product: product, isLastRender: true %}
  {% endif %}

  {% render 'product-supplement-joint-info-section' %}
  {% render 'product-supplement-doctors-section' %}
  {% render 'onboarding-curalin-call-expert', background_color: '#FAF5E9', border: false %}
  {% render 'faq-section', faqItems: faqItems, isAllowOneOpen: true, titleVersion: "light", bgColor: "var(--lighter-green)" %}
</div>

<style>
  #supplement-page {
    font-size: 20px;
    line-height: 1.2em;
  }

  #supplement-page section .titles {
    text-align: center;
    max-width: 650px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  #supplement-page section h2 {
    font-size: 48px;
    font-weight: bold;
    white-space: nowrap;
  }

  #supplement-page section p {
    margin: unset;
  }
</style>